.mails {
  width: 1520px;
  position: absolute;
  top: 65px;
  left: 240px;

  &__navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__sorting {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    &__button {
      height: 56px;
      width: 16%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      background-color: transparent;
      border-top: 1px solid #eceff1;
      border-bottom: 1px solid #eceff1;
      border-left: none;
      border-right: none;
    }
  }

  &__mail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #eceff1;
    height: 40px;
    font-family: inherit;

    &__button {
      background-color: transparent;
      border: none;
      padding-left: 10px;
      padding-right: 0;
    }

    &__title {
      padding-left: 10px;
      margin-right: 20px;
    }

    &__description {
    }

    &__time {
      margin-left: auto;
      margin-right: 10px;
    }
  }
}