.header {
  margin-left: auto;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 56px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eceff1;
  margin-bottom: 5px; }
  .header__logo-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center; }
  .header__search-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: -37%; }
    .header__search-bar__search {
      height: 35px;
      width: 680px;
      background-color: #f5f5f5;
      border: none;
      vertical-align: 10%;
      text-align: left; }
  .header__account-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center; }

.header-buttons {
  border: none;
  background-color: transparent; }

.left-menu {
  float: left;
  width: 240px;
  clear: both;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: fixed;
  left: 0;
  top: 65px; }
  .left-menu__link {
    display: flex;
    align-items: center;
    margin-left: 30px;
    min-height: 40px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
    border: none;
    background-color: transparent;
    vertical-align: text-top; }

.mails {
  width: 1520px;
  position: absolute;
  top: 65px;
  left: 240px; }
  .mails__navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px; }
  .mails__sorting {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center; }
    .mails__sorting__button {
      height: 56px;
      width: 16%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      background-color: transparent;
      border-top: 1px solid #eceff1;
      border-bottom: 1px solid #eceff1;
      border-left: none;
      border-right: none; }
  .mails__mail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #eceff1;
    height: 40px;
    font-family: inherit; }
    .mails__mail__button {
      background-color: transparent;
      border: none;
      padding-left: 10px;
      padding-right: 0; }
    .mails__mail__title {
      padding-left: 10px;
      margin-right: 20px; }
    .mails__mail__time {
      margin-left: auto;
      margin-right: 10px; }

.right-menu {
  float: right;
  width: 50px;
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  right: 0;
  top: 65px; }
  .right-menu__buttons {
    height: 20px;
    width: 20px;
    margin-top: 20px;
    margin-bottom: 20px; }

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: .875rem;
  letter-spacing: .2px; }

#logo_btn {
  border: none;
  background-color: white;
  margin-right: 5%; }

#send_btn {
  margin-top: 5%;
  border-radius: 24px;
  border-color: #f5f5f5;
  width: 60%;
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: white;
  font-size: 14px;
  margin-left: 3%; }

#compose_button {
  border-radius: 14px;
  background-color: white;
  align-self: flex-start;
  height: 46px;
  width: 148px;
  margin: 10px 5px; }

/*# sourceMappingURL=style.css.map */
