body{
    margin: 0;

}

main{
    display: grid;
    grid-template-columns: 15% 85%;
    overflow: hidden;
}

.material-icons{
    background-color: white;
    border: none;
}

.main_hdr{
    width: 100%;
    height: 7%;
    position: relative;
}

#menu_btn{
    margin-left: 1%;
    vertical-align: 30%;
}

#main_btn_img{
    height: 20px;
    width: 20px;
}

#logo_btn{
    border: none;
    background-color: white;
    margin-top: 0.75%;
    margin-right: 5%;
}

#main_src{
    padding-top: 1.8%;
    width: 37.5%;
    background-color: #f5f5f5;
    border: none;
    vertical-align: 10%;
    text-align: left;
}

.src_search{
    padding-top: 1.2%;
    background-color: #f5f5f5;
    border: none;
}

#send_btn{
    margin-top: 5%;
    border-radius:24px;
    border-color: #f5f5f5;
    width: 60%;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: white;
    font-size: 14px;
    margin-left: 3%;
}

#nav_menu{
    margin-top: 10%;
    list-style-type: none;
    line-height: 1.5;
    font-size: 20px;
}

.nav_btn{
    background-color: white;
    border: none;
    vertical-align: 50%;
}

#ms_select{
    width: 3%;
    border: 0;
    outline: 0;
    margin-top: 1%;
}

.read_mail{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2.5px;
    background-color: #f5f5f5;
    box-sizing: content-box;
    border: 1px #eceff1;
    text-align: left;
}

.unread_mail{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2.5px;
    background-color: white;
    box-sizing: content-box;
    border-size: 0.5px;
    text-align: left;
}

#right{
    margin-left: 35%;
    vertical-align: 30%;
}

#right1{
    vertical-align: 30%;
}

.mail_nav{
    margin-top: 1%;
    display: grid;
    grid-template-columns: 85% 15%;

}

.txt_head{
    font-style: normal;
    font-weight: bold;
    vertical-align: 30%;
    font-size: 16px;
    margin-left: 0.5%;
}

.txt_msg{
    font-style: normal;
    vertical-align: 35%;
    font-size: 15px;
    margin-left: 1%;
}

.sort_btn{
    margin-top: 1%;
    background-color: white;
    border: none;
    height: 50px;
    width: 10%;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    vertical-align: 30%;
}

#ml{
    margin-right: 2%;
}