.left-aside{
    /*background-color: #00e100;*/
    float: left;
    width: 12em;
    margin-top: 2em;
}

.left-aside-personal-data__person-img{
    height: 1.9em;
    width: 1.9em;
    border-radius: 50%;
    padding-right: 0.2em;
}

.left-aside-container{
    list-style-type: none;
    font-size: 0.9em;
    padding-left: 0.1em;
}

.left-aside-personal-data{
    color: black;
}

.left-aside-navigation__redactor-btn{

}

.left-aside-navigation__btn__transparent-no-border{
    color: transparent;
    border: none;
}
.left-aside-navigation__more{
    background-position: 0 -2144px;
}