.center-block{
    width: 32em;
}

.center-first-block__upper-buttons{
    list-style: none;
    background: #f5f6f7;
    padding: 0.3em;
    margin: 0;
    border-radius: 0.3em 0.3em 0 0;
    display: flex;
}

.center-first-block__upper-button-edit{
    border: none;
    background: transparent;
    align-items: center;
    display: flex;
    padding: 0.1em;
    font-size: 0.77em;
    font-weight: bold;
    cursor: pointer;
}


.center-first-block{
    border: 0.1em solid #dddfe2;
    border-radius: 0.35em;
    background: #ffffff;
}

.center-first-block__upper-container-button{
    margin-right: 1.2em;
}
.center-first-block__upper-button-album{
    border: none;
    background: transparent;
    align-items: center;
    display: flex;
    padding: 0.1em;
    font-size: 0.77em;
    font-weight: bold;
    color: #3b589e;
    cursor: pointer;
}

.center-first-block__button-img{
    background: url("../icons/icons-center.png") no-repeat;
    width: 1.3em;
    height: 1.3em;
}
.center-first-block__edit-img{
    background-position:-17px -465px;
    margin-right: 0.3em;
    margin-left: 0.4em;
}


.center-first-block__album-img{
    background: url("../icons/icons-center2.png") -17px -353px;
    margin-right: 0.3em;
    margin-left: 0.4em;
}

.center-first-block__video-img{
    background: url("../icons/icons-aside-and-center.png") 0 -2784px;
    margin-right: 0.3em;
    margin-left: 0.4em;
}

.center-first-block__person-img{
    height: 2.6em;
    width: 2.6em;
    border-radius: 50%;
    margin: 0.5em;
    border: 0.05em solid aliceblue;
}

.center-first-block__write-post{
    margin-top: 0.3em;
    display: flex;
    align-items: center;
}

.center-first-block__post-input{
    border: none;
    width: 30em;
    height: 3em;
    color: #cec9ca;
}
.center-first-block__down-buttons{
    list-style: none;
    /*background: #f5f6f7;*/
    padding: 0.3em;
    border-radius:  0 0 0.3em 0.3em;
    display: flex;
    justify-content: space-between;
    margin: 0.3em 0 0;
}
.center-first-block__down-container-button{
    margin-right: 0.4em;
}

.center-first-block__down-button-photo{
    border: none;
    background: #f5f6f7 ;
    align-items: center;
    display: flex;
    padding: 0.3em;
    font-size: 0.77em;
    font-weight: bold;
    /*color: #3b589e;*/
    cursor: pointer;
    border-radius: 1.3em;
    width: 11em;
}

.center-first-block__photo-img{
    margin-right: 0.3em;
    margin-left: 0.4em;
    width: 2em;
    height: 1.7em;
    background: url("../icons/icons-aside-and-center.png") no-repeat 0 -1513px;
}

.center-first-block__down-button-other{
    border: none;
    background: #f5f6f7 ;
    align-items: center;
    display: flex;
    padding: 0.3em;
    font-size: 0.77em;
    /*font-weight: bold;*/
    /*color: transparent;*/
    cursor: pointer;
    border-radius: 1.3em;
    width: 3.5em;
}

.center-first-block__other-img{
    margin-left: 0.7em;
    width: 2em;
    height: 1.7em;
    background: url("../icons/icons-aside-and-center.png") no-repeat 0 -2143px;
}