.friends{
    margin: auto;
    position: relative;
    padding: 0 0 10px 0;
    background:#fdfeff;
    margin-top: 10px;
    margin-left: 80px;
    display: inline-table;
}
.friends__pictures{
    width: 90px;
    height: 90px;
}