.navigation{
    display: inline-block;
 }
.navigation__item--icon_people{
    height: 24px;
    width: 24px;
    vertical-align: middle;
}
.navigation__item--icon_messages{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
.navigation__item--icon_bell{
    height: 24px;
    width: 24px;
    vertical-align: middle;
}