

.days_to_school_counter{
  border: 1px solid red;
  border-radius: 10px;
  padding: 1px;
  width: 104px;
  margin-right: 10px;
  text-align: center;
  height: 117px;
}

.days_to_school_counter_num{
  font-size: 50px;
  font-weight: 400;
  color: red;

}
.days_to_school_counter_text{
  color: red;
  font-weight: 400;
}
