.aside-right__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 12px;
  &-left {
    color: #616770;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
  }
  &-right {
    display: flex;
    &--link-archive {
      display: flex;
      margin-right: 4px;
      &-icon {
        margin: 0 5px 0 5px;
        height: 12px;
        width: 12px;
        background-size: auto;
        background: url("https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/gkGTiCyWKAb.png") no-repeat 0 -329px;
      }
    }
    &--link-settings {
      margin-left: 4px;
    }
    &--link-archive:hover, &--link-settings:hover {
      text-decoration: underline;
    }
  }
}
