.more-events{
  margin-top: 50px;
  display: inline-block;

  &__block{
    margin-top: 10px;
    width: 280px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #bdc3c7;
  }

  &__title{
    margin: 0;
    float: left;
    color: rgb(97, 103, 112);
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
  }

  &__watch-all{
    float: right;
    color: rgb(66, 103, 178);
    font-size: 13px;
    line-height: 12px;
  }
}