//Facebook logo

.logo {
  margin: 0 5px 0 0;
  vertical-align: middle;
  line-height: 40px;
  height: 24px;
  width: 24px;
  overflow: hidden;

  color: transparent;
  display: inline-block;

  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
  background-size: cover;
}