@import "before_item";

.pr-photo{
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 36px;
  background: url("https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-1/c0.8.48.48/p48x48/37627900_512381525863754_8817565621010038784_n.jpg?_nc_cat=106&oh=20025ee5c3b7a1524a4a759e2c0948ca&oe=5C20FD90");
  background-size: 36px;
  border-radius: 50%;
}

.pr-photo_before:before {
  @extend %before-item;
  width: 24px;
  height: 24px;
  bottom: 2px;
  margin: 0 5px 0 5px;
  border-radius: 50%;
  background: url("https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-1/c0.8.48.48/p48x48/37627900_512381525863754_8817565621010038784_n.jpg?_nc_cat=106&oh=20025ee5c3b7a1524a4a759e2c0948ca&oe=5C20FD90");
  background-size: 24px;
}