
%reaction{
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  bottom: 1px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
}

.reaction1{
  @extend %reaction;
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/S-tmaD99SDv.png") 0 -761px;
  z-index: 3;
  cursor: pointer;
}
.reaction2{
  @extend %reaction;
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/S-tmaD99SDv.png") 0 -710px;
  margin-left: -6px;
  z-index: 2;
  cursor: pointer;
}