.projects {
  min-height: 250px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px 0 20px 0;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 720px;
  color: #646464;
}

.project-type-switchers {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
  border-bottom: 2px solid #c3c3c3;
  box-shadow: 0 0 7px rgb(113, 113, 113);


  &__switch {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    height: 100%;
    display: inline;
    border:none;
    cursor:pointer;

    &_active {
      border-bottom: 2px solid rgb(101, 57, 152);
    }
  }

  &__switch-item {
    color: rgb(68, 68, 68);
    opacity: .8;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;

    &_active {
      color: rgb(101, 57, 152);
    }
  }
}

.project {
  height: auto;
  background-color: #d4d4d4;
  border-top: 7.5px solid #c3c3c3;
  width: 180px;
  border-top: 7.5px solid rgb(101, 57, 152);
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  text-align:left;
  font-size:0.8em;
  padding-left:10px;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }

  &__header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
    width: 200px;
    height: 50px;
    background-color: transparent;
  }

  &__info {
    align-items: start;
  }
  &__title {
    word-wrap: break-word;
    color: rgb(100, 100, 100);

    letter-spacing: .05px;
    text-align: left;
    margin: 0 0 0 8px;
    border-bottom: 1px solid rgb(180,180,180);
    padding-bottom: 10px;
  }

  &__main-title {
    word-wrap: break-word;
    //width: 80%;
    color:rgb(68,68,68);
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 2.1em;
  }
  &__description {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 65%;

    text-align: start;
    max-width: 164px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 11px;
    font-weight: 700;
    padding: 2px 1px 2px 3px;
    background-color: rgb(185, 185, 185);
    color:rgb(100,100,100);
  }
}

