%icon {
    font-family: 'Material Icons';
    font-size: 24px;
    background: transparent;
    color: #6d6d6d;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font: inherit;
    color: inherit;
    box-sizing: inherit;
}

body {
    background: #ffffff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: .875rem;
    color: #202124;
    overflow: hidden;
}

button:hover {
    cursor: pointer;
}
