.custom-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.custom-checkbox__input {
    display: none;
}

.custom-checkbox__input + .custom-checkbox__style::after {
   @extend %icon;
   content: 'check_box_outline_blank';
   font-size: 20px;
   color: #cccfcf;
}

.custom-checkbox__input:hover + .custom-checkbox__style::after {
    color: #020202;
    cursor: pointer;
}

.custom-checkbox__input:checked + .custom-checkbox__style::after {
    content: 'check_box';
    color: #020202;
}

.custom-checkbox__input + .custom-checkbox__style--star::after {
    content: 'star_border';
}

.custom-checkbox__input:checked + .custom-checkbox__style--star::after {
    content: 'star';
    color: #f3b200;
}
