.gmail-header {
    height: 64px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #eceff1;
    box-sizing: border-box;
    display: flex;

    &__menu {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    &__icon {
        @extend %icon;
        margin-right: 16px;
        margin-left: 24px;
    }

    &__button {
        @extend %icon;
        border: 0;
        padding: 0;
        outline: 0;
        &:hover {
            color: #000000;
            cursor: pointer;
        }
    
    }

   
    &__button--menu {
        margin-right: 16px;
        margin-left: 24px;
    }

    &__logo {
        background: url(../images/logo.png);
        background-size: 109px 40px;
        height: 40px;
        width: 109px;
    }

    &__button--apps {
        margin-right: 24px;
        margin-left: auto;
    }

    &__profile {
        background: url(../images/photo.jpg);
        background-size: 32px;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        margin: 0 20px;
        border: 0;
    }
}
