@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.header__icon, .header__button, .search__button, .sidebar__icon, .checkbox__input + .checkbox__style::after {
  font-family: 'Material Icons';
  font-size: 24px;
  background: transparent;
  color: #6d6d6d; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow: hidden; }

.header {
  height: 64px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #eceff1;
  box-sizing: border-box;
  display: flex; }
  .header__menu {
    flex-grow: 1;
    display: flex;
    align-items: center; }
  .header__icon {
    margin-right: 16px;
    margin-left: 24px; }
  .header__button {
    border: 0;
    padding: 0;
    outline: 0; }
    .header__button:hover {
      color: #000000;
      cursor: pointer; }
  .header__button--menu {
    margin-right: 16px;
    margin-left: 24px; }
  .header__logo {
    background: url(../images/logo.png);
    background-size: 109px 40px;
    height: 40px;
    width: 109px; }
  .header__button--apps {
    margin-right: 24px;
    margin-left: auto; }
  .header__profile {
    background: url(../images/photo.jpg);
    background-size: 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin: 0 20px;
    border: 0; }

.search {
  margin-left: 83px;
  margin-right: 40px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  max-width: 720px;
  padding: 11px 0 11px 0;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  border-radius: 4px;
  transition: border 150ms; }
  .search__button {
    margin-right: 15px;
    margin-left: 14px;
    border: 0;
    padding: 0;
    outline: 0; }
    .search__button:hover {
      cursor: pointer; }
  .search__input {
    background: #f5f5f5;
    flex-grow: 1;
    font-size: 16px;
    height: 24px;
    border: 0;
    outline: 0; }
  .search__input:focus {
    background: #ffffff; }
  .search:focus-within {
    background: #ffffff;
    border-color: rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24); }

@font-face {
  font-family: 'Google Sans';
  src: url(../fonts/google-sans.ttf); }
.compose-button {
  font-family: 'Google Sans', 'Roboto', Arial, Helvetica, sans-serif;
  margin: 16px 0 16px 8px;
  height: 48px;
  width: 145px;
  border-radius: 24px;
  background: transparent;
  color: #3c4043;
  letter-spacing: .25px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  border: 1px;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0;
  outline: 0; }
  .compose-button__icon {
    background: url(../images/create.png);
    height: 32px;
    width: 32px;
    background-size: 32px;
    margin: 0 12px; }
  .compose-button:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
    background-color: #fafafb;
    cursor: pointer; }

.sidebar {
  width: 256px;
  float: left; }
  .sidebar__link {
    height: 32px;
    width: 240px;
    background: transparent;
    display: flex;
    align-items: center;
    border-radius: 0 16px 16px 0;
    line-height: 20px;
    text-decoration: none;
    color: #202124; }
    .sidebar__link:hover {
      background: #f0f2f4; }
  .sidebar__icon {
    font-size: 20px;
    margin-left: 26px;
    margin-right: 18px;
    color: #747474; }
  .sidebar__link--active {
    background: #fce8e6;
    font-weight: 1000;
    font-size: 14px;
    letter-spacing: .3px;
    color: #d73429; }
  .sidebar__icon--active {
    color: #d73429; }

.main {
  margin-right: 10px;
  overflow: hidden;
  box-sizing: border-box; }
  .main__control {
    height: 48px;
    border-bottom: 1px solid #eceff1; }
  .main__emails {
    background: #f4f7f7;
    overflow-y: scroll;
    height: calc(100vh - 112px); }

.email {
  height: 40px;
  box-sizing: border-box;
  box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px; }
  .email__from {
    min-width: 168px;
    margin-right: 32px;
    letter-spacing: .2px;
    color: #202124;
    font: inherit; }
  .email__theme {
    font: inherit;
    color: #000000;
    letter-spacing: .2px;
    white-space: nowrap; }
  .email__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #5f6368;
    margin-left: 3px;
    margin-right: 78px; }
  .email__date {
    margin-left: auto;
    margin-right: 16px;
    color: #5f6368;
    font-size: 13px;
    white-space: nowrap; }
  .email:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    cursor: pointer; }
    .email:hover .checkbox__style::after {
      color: #6d6d6d; }

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px; }
  .checkbox__input {
    display: none; }
  .checkbox__input + .checkbox__style::after {
    content: 'check_box_outline_blank';
    font-size: 20px;
    color: #cccfcf; }
  .checkbox__input:hover + .checkbox__style::after {
    color: #020202;
    cursor: pointer; }
  .checkbox__input:checked + .checkbox__style::after {
    content: 'check_box';
    color: #020202; }
  .checkbox--star .checkbox__input + .checkbox__style::after {
    content: 'star_border'; }
  .checkbox--star .checkbox__input:checked + .checkbox__style::after {
    content: 'star';
    color: #f3b200; }
