@import "main_layout.css";
@import "twitter-header.css";
@import "search-form.css";
@import "account-section.css";
@import "../../fonts/fonts.css";

body{
  margin: auto;
}

.segoe-font{
  font-family: Segoe-UI-Regular ,Arial, sans-serif;

}
.segoe-font-bold{
  font-family: Segoe-UI-Bold ,Arial, sans-serif;

}

.grey{
  color: #66757f;
}