.main_layout{
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  grid-template-columns: 20% 50% 20%;
  grid-template-areas:
          "header header header"
          "profile twitts recomendations"
}