.navigation{
    margin-top: 10px;
    background-color: white;
}

.navigation__item {
    text-decoration: none;
    color: #aab8c2;
    font-family: Segoe-UI-Regular, Arial, serif;
    font-size: 10px;
    margin-left: 6px;
    margin-top: 5px;
    margin-right: 6px;
}
.navigation__item:hover {
    text-decoration: underline;
}