@import "../../fonts.less";
@import "../../colors.less";

@import "../__cover-image/video__cover-image.less";

.video__duration{
    font-family: @youtube-font;
    font-size: @youtube-small;
    color: @youtube-white;
    background-color: @youtube-black;
    opacity: 0.8;
    position: absolute;
    line-height: @youtube-small + 3px;
    top: @video__cover-image-height - @youtube-small - 3px;
    right: 0;
}