.Calendar {
  text-align: center;
  width: 300px;
  border: 1px solid #263238;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 #d1d1d1;
  margin-right: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #263238;

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #263238;
    font-weight: bold;

    &-title {
      padding: 5px;
      margin: 0;
      flex-basis: calc((100% / 7) * 5);
      box-sizing: border-box;
      border-right: 1px solid #263238;
    }

    &-arrow {
      background: none;
      border: none;
      padding: 0;
      font-size: 24px;
      box-sizing: border-box;
      flex-basis: calc(100% / 7);


      &:first-child {
        border-right: 1px solid #263238;

      }

      &:hover {
        cursor: pointer;
      }

    }
  }

  &__days-of-week {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #263238;
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
  }
}