.day {
  text-align: center;
  padding: 5px;

  &--week {
    flex: 1;
    border-right: 1px solid #263238;

    &:last-child {
      border-right: none;
    }
  }

  &--number {
    flex-basis: calc(100%/7);
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }

    &-active {
      border: 3px solid #263238;
      border-radius: 20px;
      font-weight: bold;
      padding: 2px;
    }
  }

  &--empty {

  }

}