@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$font-family--regular: 'Inconsolata', monospace;

$font-size--regular: 1em;
$font-size--big: 1.5em;
$font-size--small: 0.8em;
