<h4>Stories</h4>
{{#stories}}
    <section class="story">
        <img class="story__logo" src="{{logo}}">
        <section class="story__title">
            <h4>{{friend}}</h4>
            <p>{{time}}</p>
        </section>
    </section>
{{/stories}}