.chat {
    font-family: 'Open Sans', sans-serif;
}

.chat__header-interlocutor-name {
    color: #fff;
    font-weight: 700;
    font-size: 0.75rem;
    position: relative;
    right: 36px;
    bottom: 10px;
}

.chat__history-interlocutor-text {
    color: #353535;
    font-weight: 400;
    font-size: 0.75rem;
}

.chat__history-local-text {
    color: #fff;
    font-weight: 600;
    font-size: 0.75rem;
}

.chat__history-timestamp {
    color: #828282;
    font-weight: 700;
    font-size: 0.625rem;
    letter-spacing: .3px;
}

.chat__create-message-text-input {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    color: #acacac;
}