.chat__create-message-text-input {
    border: none;
    width: 260px;
    height: 16px;
    margin-top: 7px;

}

.chat__create-message-extra-features-button {
    //nullify default style
    padding: 0;
    border: none;
    font-size: 0;
    line-height: 0;
    // custom style
    width: 22px;
    height: 20px;
    cursor: pointer;
    margin-right: 1px;


    &_picture {
        background: url("../assets/img/picture.svg") no-repeat 1px 2px;
        background-size: 16px;
    }
    &_gif {
        background: url("../assets/img/gif.svg") no-repeat center;
        background-size: 21px 16px;
    }
    &_smile {
        background: url("../assets/img/smile.svg") no-repeat 4px 2px;
        background-size: 16px;
    }
    &_calendar {
        background: url("../assets/img/calendar.svg") no-repeat 3px 0;
        background-size: 16px 18px;
    }
    &_camera {
        width: 23px;
        background: url("../assets/img/camera.svg") no-repeat 2px 0;
        background-size: 21px 17px;
    }
}
