@import "../video.less";

@video__cover-image-width: 196px;
@video__cover-image-height: 110px;

.video__cover-image{
    width: @video__cover-image-width;
    height: @video__cover-image-height;
}