.bg2{
    width: 206px;
    height:600px;
    background: aqua;
    overflow: hidden;
}

.things_above_bg{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 671px;
}

.first_row_above_bg{
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px 10px;
}

.first_row_above_bg_right_side{
    display: flex;
    justify-content: flex-end;
}

.second_row_above_bg{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    align-items: flex-end;
    margin-top: 8px;
}

.bg_panel_icons{
    width: 20px;
    height: 20px;
}