.center_bar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:851px;
    flex-shrink: 0;
    flex-wrap: nowrap;
}

.profile_bg{
    width: 851px;
    height: 358px;
    overflow: hidden;
    display: flex;
    background: white;
}

.profile_bg .bg_img{
    width:851px;
    height:315px;
    position: absolute;
}

.profile_bg_front{
    z-index: 2;
    align-self: flex-end;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.prof_pic_above_bg{
    width:170px;
    height:170px;
    margin: 0 0 10px 10px;
}
