header{
    background: #4267b2;
    height:42px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

body{
    margin: 0;
    background: #e9ebee;
}


.main_space{
    display: flex;
    justify-content: center;
    width:90%;
}

.fig_fb{
    overflow:hidden;
    width: 45px;
    margin: 0 5px 0 30px;
    flex: initial;
}

.fig_fb img{
    display:block;
    width: 100%;
    /*margin: 0 0 -4639% 0;*/
    margin: 0 0 -1113px 0;
}