$font-stack:    Helvetica, sans-serif;

$chat-box__bg-color: #2979ff;
$chat-box__bg-color__secondary: #f3f3f3;

$chat-box__font-color_active: #fff;
$chat-box__font-color_nonactive: #353535;
$chat-box__font-color__secondary: #cdcdcd;
$chat-box__font-size: 12px;
$chat-box__font-family: OpenSans, sans-serif;
