// Variables
@import "base";

.chat-box {
  width: 292px;
  height: 384px;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 7px 10px;
    box-sizing: border-box;
    background: $chat-box__bg-color;
    border-radius: 4px 4px 0 0;
  }

  &__header-title {
    margin: 0;
    font-size: $chat-box__font-size;
    font-family: $chat-box__font-family;
    color: $chat-box__font-color_active;
    font-weight: bold;

    &:before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-right: 7px;
      margin-bottom: 1px;
      border-radius: 50%;
      background-color: #69f0ae;
    }
  }

  &__header-actions {
    display: flex;
    align-items: center;
    height: 18px;
  }

  &__header-action-button {
    background: none;
    border: 0;
    padding: 0;
    margin: 0 0 0 11px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  &__header-action-icon {
    height: inherit;
    width: auto;
    display: block;
    object-fit: contain;
  }

}