@import "base";

@mixin chatbox-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $chat-box__bg-color__secondary;
  }
}