.video__channel-name_verified{
    display: flex;
    align-items: center;
}

.video__channel-name_verified::after{
    display: inline-block;
    content: "";
    width: 12px;
    height: 10px;
    margin-left: 5px;
    background-image: url("../../../../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -240px -918px;
}

.video__channel-name_verified:hover::after{
    background-position: -81px -314px;
}