.brands--header{
    margin: 40px auto 20px 45px;
}

.brands {
    list-style: none;
}

.brands li {
    float: left;
    padding: 0 18px;
}

.brands li:not(:last-child) img{
    width: 43px;
    height: 43px;
}

.brands li.brands-cola{
    width: 100px;
}