@import './colors.scss';
@import './fonts.scss';

.textInput {
  color: $color--white;
  background-color: $color--primary;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 10px;
  font-family: $font-family--regular;
}

.textInput:focus {
  background-color: $color--secondary;
}
