<section class="home">
    <section id="left_column" class="left_column"></section>
    <section id="center_column" class="center_column"></section>
    <section id="right_column" class="right_column"></section>
</section>