<section class="your_mind">
    <header class="your_mind__header">
        <button class="your_mind__header-button">
            <img src="images/icons/post.png" class="your_mind__header-button_img">
            <span class="your_mind__header-button_text">Make Post</span>
        </button>
        <button class="your_mind__header-button">
            <img src="images/icons/album.png" class="your_mind__header-button_img">
            <span class="your_mind__header-button_text">Photo/Video Album</span>
        </button>
        <button class="your_mind__header-button">
            <img src="images/icons/video.png" class="your_mind__header-button_img">
            <span class="your_mind__header-button_text">Live Video</span>
        </button>
    </header>
    <section class="your_mind__main">
        <img src="images/profiles/feynman.jpg" class="your_mind__main-img">
        <input type="text" title="your_mind" class="your_mind__main-input" placeholder="What's on your mind?">
    </section>
    <footer class="your_mind__footer">
        <button class="your_mind__footer-button">
            <img class="your_mind__footer_button-img" src="images/icons/list.png">
            <span class="your_mind__footer-button_text">List</span>
        </button>
        <button class="your_mind__footer-button">
            <img class="your_mind__footer_button-img" src="images/icons/photo.png">
            <span class="your_mind__footer-button_text">Photo/Video</span>
        </button>
        <button class="your_mind__footer-button">
            <img class="your_mind__footer_button-img" src="images/icons/tag_friend.png">
            <span class="your_mind__footer-button_text">Tag Friends</span>
        </button>
        <button class="your_mind__footer-button">
            <span class="your_mind__footer-button_text">···</span>
        </button>
    </footer>
</section>