.main-section{
    width: 500px;
    /*background-color: #007FFF;*/
    height: 1000px;
    margin: 10px;
}

.main-container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #dddfe2;
    border-radius: 4px;
    padding: 12px 12px 0px 12px;
    margin: 10px 0px 20px 0px;
}

.main-container__title{
    margin: unset;
}

.main-container__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.main-container__nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 28px;
}