body{
    margin: unset;
    background-color: #e9ebee;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    background-color: #4267b2;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a, strong{
    color: #365899;
}

.avatar{
    border-radius: 50%;
}