@import "../variables";

%circle {
  box-sizing: border-box;
  border-radius: 50%;
  object-fit: cover;
}

.img {
  &--user {
    @extend %circle;

    &-top {
      width: 30px;
      height: 30px;
    }

    &-main-left {
      width: 24px;
      height: 24px;
      margin-right: 24px;
    }
  }

  &--video {
    width: $video-width;
  }
}