.Projects {
  &__wrapper {
    margin: 20px 0 20px 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  &__project-type-switchers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: 2px solid #c3c3c3;
    box-shadow: 0 0 7px rgb(113, 113, 113);
  }
  &__switch {
    text-decoration: none;
    color: rgb(68, 68, 68);
    opacity: 0.8;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 13px;
    padding-top: 13px;
    &:hover {
      opacity: 1;
    }
    &_active {
      border-bottom: 2px solid rgb(101, 57, 152);
      color: rgb(101, 57, 152);
    }
  }
}
