.site-header {
  position: fixed;
  width: 100%;
  background: #4267b2;
  height: 40px;
}

.header-menu-wrapper {
  width: 2500px;
  height: 100px;
}

.site-logo {
  width: 24px;
  height: 24px;
}

.search-form {
  display: inline;
  height: 26px;
}

.submit-button {
  width: 46px;
  height: 24px;
}

.submit-button__image {

  width: 16px;
  height: 16px;
}