@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import "typography.css";

html,
body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center
}

.main-profile {
    width: 600px;
    height: 1200px;
    float: left;
    background: url("../img/user_photo.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.main-profile__bottom-content {
    margin-bottom: 60px;
}

.detailed-profile {
    width: 1000px;
    margin: 20px 20px 20px 40px;
}

.column {
    width: 420px;
    float: left;
    margin: 0 20px 0 0;
}
