*{
  margin: 0;
  padding: 0;
}

.graph{
  position: relative;
  max-width: 800px;
  height: 400px;
  display: flex;
}


.line{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: rgba(0, 0, 0, 0.1);
}

.bar-text-content{
  height: 100%;
  width: 20%;
}

.bar-lines-container{
  background: #ddd;
  position: relative;
  height: 100%;
  width: 80%;
}

.bar{
  height: calc(20% - 1px);
  background: #e05b42;
  z-index: 25;
  border: 1px solid black;
  border-top: 0;
}

.text{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}