.header-nav {

  width: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 7px;

  &__button {
    width: 10px;
    height: 10px;
    object-fit: contain;
    overflow: hidden;
    color: transparent;
    border: none;

    &--add {
      width: 12px;
      height: 12px;
      background: url("../images/plus.svg") no-repeat;
      background-size: cover;
    }

    &--video-call {
      width: 12px;
      height: 8px;
      background: url("../images/video.svg") no-repeat;
      background-size: cover;
    }

    &--settings {
      width: 12px;
      height: 12px;
      background: url("../images/cog.svg") no-repeat;
      background-size: cover;
    }

    &--close {
      width: 18px;
      height: 18px;
      background: url("../images/close.svg") no-repeat;
      background-size: cover;
    }
  }
}
