body {
    margin: 0;
    padding: 0;
}

#logo {
    width: 129px;
    height: 5.5%;
    background-image: url(../images/logo.png);
    display: inline-block;
    vertical-align: middle;
}

#search {
    width: 560px;
    height: 30px;
    border: 1px solid darkgrey;
    margin-left: 20%;
}


.header {
    background-color: white;
    margin-left: auto;
}

#right-buttons{
    display: inline;
    margin-left: 10%;
    vertical-align: middle;
    background-color: transparent;
}

.header__links{
    padding: 10px;
}

.side-menu{
    float: left;
    background-color: #ecf0f1;
    display: inline-block;
    width: 240px;
}

.side-menu__title{
    text-transform: uppercase;
    color: grey;
    font-size: 14px;
    font-weight: bold;
}

.side-menu__link{
    margin-left: 48px;
    min-height: 40px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    display: block;
    color: black;
}

main {
    float: left;
    display: inline-block;
    background-color: transparent;
    width: 1600px;
}

.recommended{
    margin-left: 9%;
}

.videos{
    display: flex;
    justify-content: center;
}

.video{
    background-color: transparent;
    margin: 5px;
}

.video__image{
    width: 210px;
    height: 118px;
}

.video__title{
    width: 210px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.video__info{
    margin: 5px;
    font-size: 12px;
}