<header class="facebook-header">

  <a href="https://www.facebook.com/?ref=logo"><img class="site-logo"
                                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX-Sq9h-GrBb8BrHPO_PMnhZ_XyvNl9Zd2xjrWHn9klYl_2qBB"/></a>
  <form class="site-search">
    <input class="site-search__input-field" placeholder="Search" title="Search">
    <button class="site-search__submit-button" aria-label="Submit"></button>
  </form>
  <div class="facebook-header__user-options">
  <a href="#" class="">
    <img src={{profile_info.avatar}} alt="" width="25" height="25">
    {{profile_info.first_name}}
  </a>
  <a href="https://www.facebook.com/?ref=tn_tnmn">Home</a>
    <button>Create</button>
    <button>Friends</button>
    <button>Messages</button>
    <button>Notifications</button>
    <button>Help</button>
    <button>More</button>
  </div>
</header>
<!--<nav class="site_nav">-->
<!--<ul id="user_nav">-->
<!--<li>-->
<!--Borys Turiy-->
<!--<button id="edit_user">...</button>-->
<!--</li>-->
<!--<li>-->
<!--News Feed-->
<!--<button id="edit_newsfeed">...</button>-->
<!--</li>-->
<!--<li>Messenger</li>-->
<!--</ul>-->
<!--<label for="Shortcuts">Shortcuts</label>-->
<!--<ul id="Shortcuts">-->
<!--<li>World Poker Club</li>-->
<!--</ul>-->
<!--<ul id="Explore">-->
<!--<li>Events</li>-->
<!--<li>Pages</li>-->
<!--<li>Groups</li>-->
<!--<li>Fundraisers</li>-->
<!--<li>Jobs</li>-->
<!--</ul>-->
<!--<button id="explore_more">See More...</button>-->
<!--<ul>-->
<!--<li>Friend List</li>-->
<!--<li>Memories</li>-->
<!--<li>Pages Feed</li>-->
<!--<li>Games</li>-->
<!--<li>Live Video</li>-->
<!--<li>Offers</li>-->
<!--<li>Saved</li>-->
<!--<li>Recommendations</li>-->
<!--<li>Create a Frame</li>-->
<!--<li>Discover People</li>-->
<!--<li>Recent Ad activity</li>-->
<!--<li>Gaming Video</li>-->
<!--<li>Crisis Response</li>-->
<!--<li>Buy and Sell Groups</li>-->
<!--<li>Weather</li>-->
<!--</ul>-->
<!--</nav>-->