.date-switcher {
  display: flex;
  align-items: center;

  &__btn {
    background: none;
    border: none;
    color: #cfd5da;
    font-size: 22px;

    &:hover {
      cursor: pointer;
    }
  }

  &__current-date {
    font-size: 16px;
    font-weight: bolder;
    color: #292529;
    margin: 0 10px;
  }
}