.layout {
  display: grid;
  grid-template-columns: 224px 1fr;
  grid-template-areas: "sidebar main-section";

  height: 100vh;

  &__aside {
    grid-area: sidebar;
  }

  &__main-section {
    grid-area: main-section;
  }
}