.layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-areas: "sidebar main-section";

  height: 100vh;

  &__aside {
    grid-area: sidebar;
  }

  &__logo {
    display: block;
    width: 80px;
    height: 25px;
    margin: 0 auto;
  }

  &__sidebar-footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 50px;
    width: 100%;
  }

  &__main-section {
    grid-area: main-section;
  }
}