@import "layout";
@import "sidebar";
@import "logo";
@import "navigation";
@import "calendar-layout";
@import "calendar";
@import "action-btn";
@import "search-form";
@import "date-switcher";
@import "toogler";
@import "userinfo";
@import "day";
@import "schedule-item";


body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  color: #a8b2b9;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}
