@import "layout";
@import "sidebar";
@import "logo";
@import "navigation";
@import "calendar-wrapper";

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  color: #a8b2b9;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}
