/* Unopened popup */
.popup {
  display: none;
}

/* Opened popup */
.popup:target {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Popup content */
.popup figcaption {
  width: 25rem;
  position: relative;
  padding: 1.5em;
  background-color: #fff;
}

/* Close button */
.popup .close {
  position: relative;
  display: block;
}

.popup .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  content: "×";
  cursor: pointer;
}

/* Popup overlay */
.popup .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  content: "";
  cursor: default;
}