@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

.Highscore {
  position: absolute;
  left: -300px;
  top: 25px;
  background-color: #5c90ce;
  width: 200px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Baloo Thambi, serif;
  &__caption{
    margin-top: 20px;
    font-size: 24px;
  }
  &__li{
    margin-top: 5px;
    font-size: 20px;
  }
}