
.post-section__article_header_dots {
    height: 20px;
    width: 20px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/palWVhMO67o.png") -284px -245px;
}

.post-section__article_header__ico_globe {
    width: 12px;
    height: 12px;
    background-size: auto;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/palWVhMO67o.png") no-repeat -343px -270px;
    margin-left: 5px;
}