body {
    margin: 0;
    padding: 0;
    background-color: #dfe3ee;
    font-family: "Segoe UI", serif;
}

nav {
    margin-top: -15px;
    width: 100%;
    background: #fff;
}

ul {
    list-style: none;
}

.header__navigation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 42px;
    margin-top: 0;
    background: #3b5998;
    color: #fff;
    font-size: 0.9em;
}

#fa_search {
    position: relative;
    width: 300px;
}

#fa_search_button {
    margin-right: 50px;
}

#inputText {
    width: 100%;
}

form {
    width: 300px;
}

#fa_logo {
    margin: 0 5px 0 180px;
    line-height: 40px;
    height: 24px;
    width: 24px;
    display: inline-block;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
    background-size: cover;
}

.bar-buttons {
    height: 24px;
    background-size: auto;
    border: 0;
    width: 24px;
}

/*.bar-buttons-wide {*/
/*border: 0;*/
/*width: 40px;*/
/*}*/

#friend-requests-button {
    margin-left: 17px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") 0 -892px;
}

#messenger-button {
    margin-left: 7px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") 0 -942px;
}

#notifications-button {
    margin-left: 7px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") 0 -792px;
}

#account-switcher-button {
    margin-top: 10px;
    margin-left: 15px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") 0 -470px;
}

#FAQ-button {
    margin-left: 7px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") 0 -992px;
}

#dropdown-button {
    margin-left: 7px;
    margin-right: 70px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") 0 -842px;
}

