<h3 class="chat-box__header-title">Kristaps Elsins</h3>

<div class="chat-box__header-actions">
    <button class="chat-box__header-action-button">
        <img class="chat-box__header-action-icon" src="images/add.svg" alt="Add">
    </button>
    <button class="chat-box__header-action-button">
        <img class="chat-box__header-action-icon" src="images/video.svg" alt="Video">
    </button>
    <button class="chat-box__header-action-button">
        <img class="chat-box__header-action-icon" src="images/settings.svg" alt="Settings">
    </button>
    <button class="chat-box__header-action-button">
        <img class="chat-box__header-action-icon" src="images/close.svg" alt="Close">
    </button>
</div>