<aside class="chat-box">
    <header class="chat-box__header" id="chat-box-header"></header>
    <div class="chat-box__messages" id="chat-box-messages"></div>
    <footer class="chat-box__footer" id="chat-box-input"></footer>
</aside>