{{#messages}}

    <div class="message-group message-group--{{#if fromFriend}}friend{{ else }}me{{/if}}">
        {{#if date}}
            <time datetime="{{ date }}" class="message-group__date">{{ date }}</time>
        {{/if}}

        {{#if fromFriend}}
            <img src="{{ userPic }}" class="message-group__user-pic">
        {{/if}}

        {{#text}}
            <div class="message-group__text">{{&.}}</div>
        {{/text}}
    </div>

{{/messages}}
