.overlay-explosion{
  display: none;
  position: absolute;
  width: 800px;
  height: 800px;
  background: url("../img/explosion.gif") center no-repeat;
  background-size: 800px;
  overflow-x: hidden;
  z-index: 5;
}