.emails_functions_container{
  height: 48px;
  border-bottom: 1px gainsboro solid;
}


.emails_functions_row{
  height: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0;
  display: flex;
}

.check-box{
  width: 20px;
  background: url("../../../img/check_box_outline_blank_black_20dp.png");
}
.refresh{
  .emails_functions_container_image_size();
  margin-left: 40px;
}


.check-box:hover, .all_actions:hover,.refresh:hover{
  background-color: gainsboro;
  border-radius: 100%;
}
.all_actions{
  .emails_functions_container_image_size();
  margin-left: 40px;
}
.check-box::before{
  content: url('https://www.gstatic.com/images/icons/material/system/1x/arrow_drop_down_black_20dp.png');
  display: block;
  width: 20px;
  margin-left: 20px;
  height: 20px;
}

.email_counter{
  margin-left: 70%;
}

.arrows{
  .emails_functions_container_image_size();
  margin-left: 20px;
}

.arrows:hover{
  background-color: gainsboro;
  border-radius: 40px;
}

.emails_functions_container_image_size{
  width: 20px;
  height: 20px;
}

.settings{
  .emails_functions_container_image_size();
  margin-left: 20px;
}