.letter-in-list{
  height: 30px;
  border-bottom: 1px gainsboro solid;
  padding-top: 10px;
}

.letter_icons:hover{
  background:  gainsboro;
  border-radius: 40px;

}


.letter-in-list_sender{
  margin-right: 8%;

}
.letter-in-list_theme:after{
  content: " - ";

}

.letter-in-list_text{
  color: #5f6368;
}

.letter-in-list_time{
  overflow: auto;
  position: absolute;
  right: 20px;
}