.letters-filters{
  display: flex;
  justify-content:flex-start;
  height: 56px;
  align-items: center;
  border-bottom: 1px gainsboro solid;
}

.letters-filters_filter{
  box-sizing: border-box;
  width: 251px;
  height: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: .875rem;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 20px;
  align-items: center;
  padding-top: 20px;
}

.letters-filters_filter:hover{
  background-color: #f2f2f2;
}



#unsorted_filter{


  color: #d93025;
  border-bottom: 3px #d93025 solid;
}


//#unsorted_filter::before{
//  .image_props();
//  background: url('https://www.gstatic.com/images/icons/material/system/1x/inbox_gm_googlered600_20dp.png') no-repeat;
//}

.image_props{
  content: "";
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.letters-filters_filter_counter{
  color: white;
  padding: 3px;
  border-radius: 3px;
}

.letters-filters_filter_counter_blue{
   background-color: #1a73e8;
 }

.letters-filters_filter_counter_green{
  background-color: #1e8e3e;
}