.hidden_text{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

html, body{
    padding: 0;
    margin: 0;
    background-color: #E9EBEE;
}
html{
    padding-bottom: 20px;
}
section, article{
    background-color: white;
}
*{
    font-family: Helvetica,Arial,sans-serif;
}

input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow: none;
}
button[type=submit]{
    cursor: pointer;
}

button, a{
    outline: 0;
}