header{
    background-color: #4267B2;
    border-bottom: 1px solid black;
    height: 43px;
    margin: 0;
    padding: 0;
    padding-left: 10%;
    width: 90%;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
}
main{
    margin-top: 43px;
}

header *{
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    height: inherit;
}

header>h1{
    height: 24px;
    margin-top: 10px;
}
header>h1>a{
    background-image: url("/images/icons.png");
    background-repeat: no-repeat;
    background-position: 0 -442px;
    width: 24px;
}
header>h1:hover{
    box-shadow: 0px 0px 3px 1px black;
}

header>form{
    margin-left: 20px;
    height: 25px;
    margin-top: 9px;
}
header>form input{
    border: none;
    border-radius: 3px;
    padding-left: 0.5rem;
    width: 400px;
}
header>form button{
    margin-left: -10px;
    width: 50px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
header>form>button>span{
    height: 16px;
    width: 16px;
    margin-left: 14px;
    background-image: url("/images/icons.png");
    background-repeat: no-repeat;
    background-position: 2px -1427px;
}
header>form>input:focus~button, header>form>button:focus{
    background-color: #4080ff;
}
header>form>input:focus~button span, header>form>button:focus span{
    background-position: 2px -1442px;
}


header>nav>ul{
    margin-left: 150px;
}
header>nav>ul>li{
    height: 24px;
    margin-top: 10px;
}
header>nav>ul a, header>nav>ul a:visited{
    text-decoration: none;
    color: white;
}

.nav-text{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 2px;
    margin-top: 7px;
    font-weight: bold;
    font-size: 0.8em;
}
.nav-text>a{
    margin-top: 2px;
}
.nav-text:hover{
    border-radius: 3px;
    background-color: #3B5CA0;
}

#nav-icon span{
    height: 24px;
    width: 24px;
    background-image: url("/images/avatar.jpg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    margin-right: 3px;
    border-radius: 10px;
    margin-top: -2px;
}

.nav-icon{
    margin-left: 15px;
}
.nav-icon>a{
    background-image: url("/images/icons.png");
    background-repeat: no-repeat;
    width: 24px;
}

#friend-requests{
    background-position: 0 -892px;
}
#friend-requests:focus{
    background-position: 0 -867px;
}
#messages{
    background-position: 0 -942px;
}
#messages:focus{
    background-position: 0 -917px;
}
#notifications{
    background-position: 0 -792px;
}
#notifications:focus{
    background-position: 0 -767px;
}
#quick-help{
    background-position: 0 -992px;
}
#quick-help:focus{
    background-position: 0 -967px;
}
#other{
    background-position: 0 -842px;
}
#other:focus{
    background-position: 0 -817px;
}