#info{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) ), url('/images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
}

#info>h2>a, #info>h2>a:visited{
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 66px;
    left: 209px;
}

#info>img{
    border: 5px solid white;
    box-shadow: 0 0 0 2px #dddfe2;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 20px;
}

#info>nav, #info>nav *{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
#info>nav{
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    background-color: white;
    border: 1px solid#dddfe2;
    border-radius: 2px;
}

#info>nav>ul{
    padding: 0;
    margin: 0;
    padding-left: 210px;
}
#info>nav>ul>li{
    padding-bottom: 15px;
    padding-top: 15px;
    border-left: 1px solid #dddfe2;
    padding-left: 20px;
    padding-right: 20px;
}
#info>nav>ul>li:hover{
    background-color: #F5F6F7;
}
#info>nav>ul>li:last-child{
    border-right: 1px solid #dddfe2;
    position: relative;
}
#info>nav>ul>li:nth-child(3)>a::after{
    content: " 253";
    white-space: pre;
    color: grey;
    font-size: 0.8rem;
}
#info>nav>ul li a, #info>nav>ul li a:visited{
    text-decoration: none;
    color: #365899;
    font-weight: bold;
    font-size: 0.9rem;
}

#archive span{
    background-image: url("/images/icons2.png");
    background-repeat: no-repeat;
    background-position: -187px -538px;
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    margin-right: 3px;
}

