#intro{
    border: 1px solid #dddfe2;
    border-radius: 5px;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 320px;
    display: block;
    float: left;
}

#intro>h3{
    margin: 0;
    margin-left: 10px;
    margin-top: 1px;
    font-weight: lighter;
    line-height: 25px;
    margin-bottom: 10px;
}
#intro>h3>span{
    background-image: url("/images/icons1.png");
    background-position: 0 -87px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    display: block;
    float: left;
    margin-right: 10px;
}

#add-bio, #intro>ul a{
    text-decoration: none;
}
#add-bio:hover, #intro>ul a:hover{
    text-decoration: underline;
}
#add-other-links{
    text-decoration: none;
}
#add-bio, #add-bio:visited, #add-other-links, #add-other-links:visited{
    color: #617EEA;
    font-size: 0.8rem;
}
#intro>ul a, #intro>ul a:visited{
    color: #5D58BB;
}
#add-bio{
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 5px;
    display: block;
    text-align: center;
    border-bottom: 1px solid #dddfe2;
}
#add-other-links{
    border: 1px solid #617EEA;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
}
#add-other-links::before{
    content: "+";
    font-weight: bold;
    font-size: 1rem;
}


#intro figcaption{
    margin-left: 4px;
}
#intro figcaption img{
    height: 185px;
    width: auto;
}

#intro>ul{
    font-size: 0.8rem;
}

#studied-at, #went-to{
    list-style-image: url("/images/education.png");
}
#lives-in{
    list-style-image: url("/images/home.png");
}
#from{
    list-style-image: url("/images/from.png");
}
#joined-on{
    list-style: url("/images/joined.png");
}
