<div class="calendar-layout">
    <div class="calendar-layout__controls">
        <div class="toogler">
            <button class="toogler__btn">Week</button>
            <button class="toogler__btn toogler__btn--active">Month</button>
        </div>

        <div class="date-switcher">
            <button class="date-switcher__btn">‹</button>
            <span class="date-switcher__current-date">June 2017</span>
            <button class="date-switcher__btn">›</button>
        </div>

        <form action="POST" class="search-form">
            <input type="text"
                   placeholder="What are you looking for?"
                   aria-label="Search form"
                   class="search-form__input">
        </form>
    </div>

    <div class="calendar-layout__calendar" id="calendar"></div>
</div>