<div class="sidebar">
    <a href="#" class="layout__logo">
        <img src="images/logo.png" alt="Calendar 1104" class="logo">
    </a>


    <div class="userinfo">
        <div class="userinfo__pic-wrapper userinfo__pic-wrapper--with-notification">
            <img src="images/user_picture.png" alt="User picture" class="userinfo__pic">
        </div>

        <div class="userinfo__username">
            <a href="#" class="userinfo__username-link">M. Naminovsky</a>
        </div>
    </div>

    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item">
                <a href="" class="navigation__item-link">
                    <span class="navigation__item-icon"><i class="fas fa-home"></i></span>
                    Overview
                </a>
            </li>

            <li class="navigation__item">
                <a href="" class="navigation__item-link">
                    <span class="navigation__item-icon"><i class="fas fa-envelope"></i></span>
                    Messages
                </a>
            </li>

            <li class="navigation__item">
                <a href="" class="navigation__item-link">
                    <span class="navigation__item-icon"><i class="fas fa-calendar-check"></i></span>
                    Workout
                </a>
            </li>

            <li class="navigation__item navigation__item--active">
                <a href="" class="navigation__item-link">
                    <span class="navigation__item-icon"><i class="fas fa-calendar-alt"></i></span>
                    Calendar
                </a>
            </li>

            <li class="navigation__item">
                <a href="" class="navigation__item-link">
                    <span class="navigation__item-icon"><i class="fas fa-signal"></i></span>
                    Goals
                </a>
            </li>

            <li class="navigation__item">
                <a href="" class="navigation__item-link">
                    <span class="navigation__item-icon"><i class="fas fa-trophy"></i></span>
                    Achievements
                </a>
            </li>

            <li class="navigation__item">
                <a href="" class="navigation__item-link">
                    <span class="navigation__item-icon"><i class="fas fa-sliders-h"></i></span>
                    Measurements
                </a>
            </li>
        </ul>
    </nav>

    <footer class="layout__sidebar-footer">
        <span class="sidebar__footer-text">Smooozy.com | 2019</span>
    </footer>
</div>