body{
    padding: 0;
    margin: 0;
}

.grey-line{
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #fff;
}

.header-navigation{
    float: right;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
}

.google-account{
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px 3px 5px 3px;
    display: inline-block;
    vertical-align: middle;
}

.ucu-logo{
    width: 100px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.letter-in-circle{
    width: 35px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.icon-bell{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.search-form {
    padding: 1px;
    margin-left: 80px;
    display: inline-block;
    height: 60px;
    width: 700px;
    background-color: rgba(0,0,0,0.04);
    border-radius: 7px;
    position: relative;
    vertical-align: middle;
}

.logo-img {
    vertical-align: middle;
    display: inline-block;
    width: 130px;
    height: auto;
}

.search-button{
    display: inline-block;
    border: none;
    background: transparent;
    width: 50px;
    height: 46px;
    padding: 28px;
}

.arrow-button{
    border: none;
    margin-left: 222px;
    display: inline-block;
    background: transparent;
    width: 50px;
    height: 46px;
    vertical-align: middle;
}

.search-button:before {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    background: url("../img/search_ic.png") no-repeat;
    background-size: 23px;
    top: 20px;
    left: 18px;
}
.arrow-button:before {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    background: url("../img/icon_arrow_down.png") no-repeat;
    background-size: 23px;
    top: 21px;
    left: 651px;

}

.input-search{
    display: inline-block;
    width: 350px;
    background-color: transparent;
    color: black;
    font: normal 16px Roboto,sans-serif;
    height: 46px;
    margin-top: 8px;
    border: none;

}

.write-mail-button{
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 33px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 14px;
    align-items: center;
    background: #fff none;
    display: inline-flex;
    height: 55px;
    width: 160px;
    padding: 0 10px 0 0;
    text-transform: none;
    line-height: 32px;
}

.write-mail-button:before {
    background: url('https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png') no-repeat center;
    background-size: 32px;
    content: '';
    display: block;
    height: 30px;
    width: 60px;
}

.container-for-grid{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    grid-template-areas:
            "sidebar main"
            "groups main"
}

.aside-groups{
    grid-area: groups;
    display: inline;
    vertical-align: middle;

}

.side-navigation-bar{
    grid-area: sidebar;
    color: #202124;
}

.all-messages{
    grid-area: main;
}

.aside-ul {
    list-style-type: none;
    padding: 0;
}

.aside-ul li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.aside-ul li button{
    border: none;
    background-color: transparent;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 16px;
    vertical-align: middle;
    margin-left: 17px;
}

.aside-ul li:hover{
    background-color: lightgrey;
    border-radius: 0 16px 16px 0;
}

.aside-ul li button:before{
    background-size: 17px;
    content: '';
    display: inline-flex;
    width: 17px;
    height: 16px;
    margin-right: 10px;
}


.incoming-button{
    font-weight: bold;
}

.incoming-button:before{
    background: url('https://www.gstatic.com/images/icons/material/system/1x/inbox_gm_googlered600_20dp.png') no-repeat center;
}

.with-star-button:before{
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/grade_black_20dp.png');
}

.putted-away-button:before{
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/watch_later_black_20dp.png');
}

.sent-button:before{
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/send_black_20dp.png');
}

.draft-button:before{
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/insert_drive_file_black_20dp.png');
}
.more-button:before{
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/expand_more_black_20dp.png');
}

#account-photo{
    border-radius: 50%;
}