@import "../fonts/fonts.css";

.sfsud_light_violet_bold{
  font-family: SFUIDisplay-Heavy, serif;
  color: #cac8ee;
}

.sfsud_light_violet_regular{
  font-family: SFUIDisplay-Regular, serif;
  color: #cac8ee;
}

.sfsud_dark_violet_regular{
   font-family: SFUIDisplay-Regular, serif;
   color: #9996d2;
 }

.sfsud_smooth_violet_light{
   font-family: SFUIDisplay-Light, serif;
   color: #8785ab;
 }

.sfsud_white_light{
  font-family: SFUIDisplay-Light, serif;
  color: white;
}