@import "../fonts/fonts.css";

.sfsud_light_violet_bold{
  font-family: SFUIDisplay-Heavy, serif;
  color: #cac8ee;
}

.sfsud_light_violet_regular{
  font-family: SFUIDisplay-Regular, serif;
  color: #cac8ee;
}

.sfsud_dark_violet_regular{
  font-family: SFUIDisplay-Regular, serif;
  color: #9996d2;
}