@import "../hidden-text/hidden-text.less";

.logo-text{
  .hidden-text();
  background-size: 100px 25px;
  width: 100px;
  height: 25px;
  background: url("https://res.cloudinary.com/maxvoloskiy/image/upload/w_100,h_25/v1541638581/logo-2.png") no-repeat;
  display: block;
  position: relative;
}