.calendar {
    background: #00a8e8;
    width: 400px;
    height: 450px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 24px;
    
    &__header {
        display: flex;
        justify-content: space-around;
        color: #ffffff;
        height: 70px;
    }

    &__button {
        font-family: 'Material Icons';
        font-size: 24px;
        background: transparent;
        color: #ffffff;
        border: 0;
        outline: 0;
        cursor: pointer;
    }

    &__date {
        width: 250px;
        text-align: center;
    }
}
