@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  background: #f7f8fb;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }

.calendar {
  background: #00a8e8;
  width: 400px;
  height: 450px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 24px; }
  .calendar__header {
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    height: 70px; }
  .calendar__button {
    font-family: 'Material Icons';
    font-size: 24px;
    background: transparent;
    color: #ffffff;
    border: 0;
    outline: 0;
    cursor: pointer; }
  .calendar__date {
    width: 250px;
    text-align: center; }

.days {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 0; }
  .days__day {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff; }
    .days__day--date {
      cursor: pointer; }
    .days__day--active {
      background: #ffffff;
      color: #00a8e8;
      border-radius: 40px;
      font-size: 10px;
      box-shadow: 7px 7px 3px #009dd9; }

.todo {
  display: flex;
  flex-direction: column;
  background: #0096cf;
  width: 350px;
  height: 450px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }
  .todo__header {
    width: 350px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-content: center; }
  .todo__date {
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-right: 18px;
    font-size: 16px; }
  .todo__main {
    flex: 2;
    padding: 16px;
    overflow: auto;
    -ms-overflow-style: none; }
    .todo__main::-webkit-scrollbar {
      display: none; }
  .todo__list {
    margin: 0;
    padding-right: 16px;
    padding-left: 16px; }
  .todo__item {
    height: 40px;
    line-height: 40px;
    margin-bottom: 16px;
    color: #ffffff;
    overflow: hidden;
    list-style-position: inside;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .todo__input {
    background: #008ec4;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 16px;
    width: 318px;
    outline: none;
    color: #ffffff;
    border-bottom-right-radius: 5px; }
    .todo__input::placeholder {
      color: #ffffff; }
