<div class="header__logo-section">
    <button class="header-buttons"><img src="images/main_menu_button.png"></button>
    <button id="logo_btn"><img src="images/logo_gmail_lockup_default_1x.png"></button>
</div>
<div class="header__search-bar">
    <button class="header-buttons"><img src="images/search.png"></button>
    <input id="main_src" placeholder="Search mail" class="header__search-bar__search">
    <button class="header-buttons"><img src="images/expand_more.png"></button>
</div>
<div>
    <button class="header-buttons"><img src="images/rapps.png"></button>
    <button class="header-buttons"><img src="images/notifications.png"></button>
</div>

