<button id="compose_button">Compose</button>
{{#menu_navigation}}
    <button class="left-menu__link"><img src="images/{{button}}">{{text}}</button>
{{/menu_navigation}}
<hr color="#f5f5f5">
<button class="header-buttons"><img src="images/young_male_icon.png"></button>
<hr color="#f5f5f5">