.body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "apercu",sans-serif;
  background-color: white;
}
.todo {
  display: flex;
  width: 50%;
  //background-color: coral;
  flex-direction: column;
}
.calendar {
  display: flex;
  width: 50%;
  float: right;
  //background-color: red;
  justify-content: center;
  align-items: center;
}
