@import "variables";
@import "navigation";
@import "aside";
@import "aside-block";
@import "video-block";
body{
    margin: 0;
}
#main-content{
    width: 100%;
    display: flex;
    flex-direction: row;
}   
#video-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: $video-block-margin-left;
    width: 100%;
}
