.calendar {
  background: #00a8e8;
  width: 400px;
  height: 450px;
  padding: 24px;

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    height: 70px;
  }

  &__button {
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    &--next {
      background: url('next.svg');
    }
    &--previous {
      background: url('previous.svg');
    }
  }

  &__date {
    width: 250px;
    text-align: center;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
  }

  &__cell {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
  }
}

@media only screen and (max-width: 500px) {
  .calendar {
    width: 200px;
    height: 225px;
    padding: 4px;
    &__header {
      height: 35px;
    }

    &__date {
      width: 100px;
      font-size: 12px;
    }
    &__row {
      margin: 6px;
    }
    &__cell {
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 7px;
    }
  }
}
