.school-info_header_text{
  font-size: 72px;
  margin: 0 100px 0 0;
}
.school-info_header_text a{
  text-decoration: none;
  color: red;
}

.school-info_header{
  float: left;
  margin-right: 25%;
  box-sizing: border-box;
  height: inherit;
}