.personality {
  &__rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}