.brands {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    grid-template-areas:
            "riot blizzard ."
            "ea disney steam"
}

.riot_games{
    grid-area: riot;
    width: 80px;
    height: auto;
}

.blizzard-logo{
    grid-area: blizzard;
    width: 130px;
    height: auto;
}
.ea-logo{
    grid-area: ea;
    width: 70px;
    height: auto;
    margin-left: 15px;
}

.disney-logo{
    grid-area: disney;
    width: 130px;
    height: auto;
}

.steam-logo{
    grid-area: steam;
    width: 60px;
    height: auto;
}