@import "../../fonts.less";
@import "../../colors.less";

.logo_nationality_ua::after{
    display: block;
    content: "UA";
    position: absolute;
    top: 0;
    right: 0;

    font-size: @youtube-small;
    font-family: @youtube-font;
    font-weight: normal;
    color: @youtube-dark-gray;
    
    text-indent: 0;
}

.logo_nationality_ua{
    padding-right: 15px;
}