body {
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: #0063A6;
    overflow: hidden;
    color: #ffffff;
}

.main-header a {
    color: white;
    text-decoration: none;
}

.additional-resources {
    position: absolute;
    top: 10px;
    right: 10px;
}

.additional-resources li {
    list-style-type: none;
    float: left;
}

.additional-resources li:after {
    content: " | ";
}

.additional-resources li:last-child:after {
    content: "";
}

.dropdown-content {
    display: none;
    position: absolute;
    float: right;
}

.dropdown-content li {
    display: block;
    position: relative;
    float: left;
}

#dropdown-1:hover #dropdown-content-1 {
    display: block;
}

.main-resources {
    background-color: #0090D2;
}