@import "../colors.less";

@header-height: 49px;

.header{
    background-color: @youtube-white;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 1px solid @youtube-light-gray;
    padding: 10px 0 8px 34px;
    height: @header-height;
    overflow: hidden;
}