.film_description{
    box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.1);
    width: 330px;
    margin: 10px;
}

.film_description__info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.film_description__film-image{
    width: 100%;
    height: 400px;
}