<main class="main-container">
    <header class="chat-header">
        <section class="chat-header__user-info">
            <div class="chat-header__user-info--icon"></div>
            <p class="chat-header__user-info--name">Kristaps Elsins</p>
        </section>
        <div class="chat-header__action-buttons">
            <button class="chat-header__action-button">
                <img class="chat-header__action-button-img" src="../images/Plus.png" alt="Plus">
            </button>
            <button class="chat-header__action-button">
                <img class="chat-header__action-button-img" src="../images/Video.png" alt="Video">
            </button>
            <button class="chat-header__action-button">
                <img class="chat-header__action-button-img" src="../images/Cog.png" alt="Setting">
            </button>
            <button class="chat-header__action-button">
                <img class="chat-header__action-button-img" src="../images/Close.png" alt="Close">
            </button>
        </div>
    </header>
    <section class="chat-messages">
        {{#each messages}}
            {{#if date}}
                <div class="chat-messages__item--date">
                    {{content}}
                </div>
            {{else}}
                <div class="chat-messages__item-layout">
                    <div class="chat-messages__item chat-messages__item--{{#if sender}}me{{else}}them{{/if}}">
                        {{content}}
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </section>
    <section class="chat-user-input">
            <input class="chat-user-input__form" type="text" placeholder="Type a message...">
    </section>
</main>
