<section class="window">

    <section class="emails">
        {{#emails}}
            <section class="email">
                <button class="email__checkbox"></button>
                <button class="email__star"></button>
                <button class="email__title">{{title}}</button>
                <button class="email__text">{{text}}</button>
                <span class="email__date">{{date}}</span>
            </section>
        {{/emails}}
    </section>
</section>