<header class="header">
    <section class="logo_section">
        <button class="menu_hider">
            <!--<images src="https://cdn2.iconfinder.com/data/icons/clean-minimal-set/16/open-menu-01-512.png">-->
        </button>
        <a href="https://mail.google.com/" class="logo">
            <img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x.png">
        </a>
    </section>
    <section class="top_panel">
        <div class="search_bar">
            <button class="search_bar__lupa"></button>
            <input type="text" class="search_bar__input" title="input" placeholder="Пошук у пошті">
            <button class="search_bar__clear"></button>
            <button class="search_bar__extend"></button>
        </div>
        <div class="buttons">
            <button class="buttons__apps_button"></button>
            <button class="buttons__notification_button"></button>
            <button class="buttons__profile_button">
                <img src="https://www.google.com/a/cpanel/ucu.edu.ua/images/logo.gif" class="institution_pic">
                <img src="images/feynman.jpg" class="profile_pic">
            </button>
        </div>
    </section>

</header>