.view-type-container{
    display: flex;
    justify-content: flex-end;
}

.view-type-icon_grid{
    width: 32px;
    background: url("../../img/grid-view.svg");
    background-size: 32px 32px;
    height: 32px;
    margin-left: 10px;
    border: 0;
}

.view-type-icon_list{
    border: 0;
    background: url("../../img/list-view.svg");
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    margin-left: 10px;
}