.Oval{
    width: 6px;
    height: 6px;
    background-color: #69f0ae;
    border-radius: 50%;
    display: inline-block;
}

.prof_im{
    width: 28px;
    height: 28px;
}

.Rectangle {
    width: 292px;
    height: 384px;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
}

.Rectangle-2 {
    width: 292px;
    height: 32px;
    border-radius: 4px;
    background-color: cornflowerblue;
}

.Line {
    width: 293px;
    height: 3px;
    border: solid 1px #e5e5e5;
}

.Type-a-message {
    width: 102px;
    height: 17px;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #cdcdcd;
}

.chat_payload{
    display:flex;
    flex-direction: column;
}

.chat_footer{
    position: absolute;
    flex-grow: 1;
    height: 62px;
    background: red;
}

.chat_messages{
    border-top: solid 1px #e5e5e5;
    position: absolute;
    flex-grow: 1;
    height: 108px;
    background: gold;
}