@import "../hidden-text/hidden-text.less";

.icon-button{
    .hidden-text();
    border: none;
    background: transparent url("../../img/sprite.png") no-repeat;
    cursor: pointer;
    display: block;
}