@import "side_menu";
@import "your_mind";
@import "post";
@import "stories";

.home{
  //background-color: black;
  //box-sizing: border-box;
  margin: 0 12.5%;
  width: 75%;

  display: flex;

  .left_column, .center_column, .right_column{
    display: flex;
    flex-direction: column;
  }


  .left_column{
    width: 20%;
    //background-color: green;
    margin-top: 10px;
  }

  .center_column{
    width: 50%;
    //background-color: red;
    margin: 10px;
  }

  .right_column{
    //background-color: gold;
    width: 30%;
    margin-top: 10px;
  }

}