.searchbar {
  --search_button_width: 46px;
  height: 26px;
  width: 448px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #3b5998;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 6px;
  padding-left: 10px;
  display: flex;
  align-items: center; }
  .searchbar__input {
    height: 100%;
    width: calc(100% - var(--search_button_width));
    border: 0;
    color: #1d2129;
    margin: 0;
    padding: 0; }
  .searchbar__search {
    padding: 0;
    margin: 0;
    height: 100%;
    width: var(--search_button_width);
    border: 0;
    background: url("../images/icons/lupa.png") no-repeat center;
    background-size: 18px 18px;
    background-color: #f5f6f7; }

.top_nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  padding-left: 0; }
  .top_nav .logo {
    width: 24px;
    height: 24px;
    background: url("../images/icons/fb_logo_white.png") no-repeat center;
    background-size: 24px 24px; }
  .top_nav .top_menu {
    margin-left: auto;
    display: flex;
    align-items: center; }
    .top_nav .top_menu .text_link, .top_nav .top_menu .text_button {
      height: 28px;
      display: flex;
      align-items: center;
      color: white;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: bold;
      line-height: 28px;
      white-space: nowrap;
      padding: 0 12px; }
      .top_nav .top_menu .text_link:hover, .top_nav .top_menu .text_button:hover {
        background-color: #3b5ca0; }
    .top_nav .top_menu .text_link {
      text-decoration: none; }
      .top_nav .top_menu .text_link__image {
        height: 24px;
        width: 24px;
        border-radius: 100%; }
    .top_nav .top_menu .text_button {
      margin: 0;
      background-color: transparent;
      border: 0; }
    .top_nav .top_menu .icon_button {
      padding: 0;
      margin: 0 6px;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      background-color: transparent;
      border: 0; }
      .top_nav .top_menu .icon_button__image {
        height: 100%;
        width: auto; }

.side_menu {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; }
  .side_menu__header {
    margin: 10px 0 0 5px;
    padding: 0;
    font-size: 13px;
    line-height: 17px;
    color: #616770;
    font-family: Helvetica, Arial, sans-serif; }
  .side_menu__link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px; }
    .side_menu__link:hover {
      background-color: #f5f6f7;
      border: 1px solid #dddfe2;
      padding: 4px; }
    .side_menu__link-img {
      width: 20px;
      height: 20px; }
      .side_menu__link-img--rounded {
        border-radius: 100%; }
    .side_menu__link-text {
      margin-left: 6px; }

.your_mind {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddfe2;
  margin-bottom: 10px;
  overflow: hidden; }
  .your_mind__header {
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    padding: 6px 5px;
    display: flex; }
    .your_mind__header-button {
      border: 0;
      background-color: transparent;
      margin: 0;
      display: flex;
      align-items: center; }
      .your_mind__header-button_text {
        color: #365899;
        font-size: 12px;
        font-weight: 600;
        font-family: Helvetica, Arial, sans-serif;
        padding-left: 5px; }
  .your_mind__main {
    margin: 10px;
    display: flex;
    align-items: center; }
    .your_mind__main-img {
      height: 40px;
      width: 40px;
      border-radius: 100%; }
    .your_mind__main-input {
      border: 0;
      margin-left: 10px; }
  .your_mind__footer {
    border-top: 1px solid #e9ebee;
    margin: 0 10px;
    padding: 6px 0;
    display: flex;
    flex-wrap: wrap; }
    .your_mind__footer-button {
      border: 0;
      padding: 0 10px;
      margin-right: 5px;
      display: flex;
      align-items: center;
      height: 32px;
      border-radius: 16px;
      background-color: #f5f6f7; }
      .your_mind__footer-button:hover {
        background-color: #ebedf0; }
      .your_mind__footer-button_text {
        color: #4b4f56;
        font-weight: 600; }

.post {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddfe2;
  margin-bottom: 10px; }
  .post__header {
    padding: 12px;
    display: flex;
    align-items: center; }
    .post__header-img_link {
      margin-right: 10px;
      height: 40px;
      width: 40px; }
    .post__header-img {
      height: 40px;
      width: 40px;
      border-radius: 100%; }
    .post__header-post_info {
      display: flex;
      flex-direction: column; }
    .post__header-author {
      font-weight: 600;
      color: #365899;
      font-size: 14px;
      font-family: Helvetica, Arial, sans-serif;
      text-decoration: none; }
      .post__header-author:hover {
        text-decoration: underline; }
    .post__header-post_time {
      text-decoration: none;
      color: #616770;
      font-size: 12px;
      font-family: Helvetica, Arial, sans-serif; }
      .post__header-post_time:hover {
        text-decoration: underline; }
  .post__main {
    margin: 0;
    padding: 0; }
    .post__main-paragraph {
      padding: 2px 0;
      margin: 0 10px;
      font-family: Helvetica, Arial, sans-serif;
      color: #1d2129;
      font-size: 14px; }
    .post__main-media {
      margin-top: 10px;
      width: 100%; }
  .post__footer {
    margin: 0;
    padding: 3px 10px; }
    .post__footer-react {
      display: flex;
      justify-content: space-between; }
      .post__footer-react_button {
        border: 0;
        margin: 0;
        padding: 0;
        background-color: transparent;
        height: 32px;
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .post__footer-react_button:hover {
          background-color: #f6f6f7; }
      .post__footer-react_text {
        color: #616770;
        font-size: 13px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 600;
        padding: 5px; }

.stories {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddfe2;
  padding: 12px;
  margin-bottom: 10px; }
  .stories__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif; }
    .stories__header-heading {
      margin: 0;
      padding: 0;
      margin-right: auto;
      color: #616770;
      font-weight: 600; }
    .stories__header-text {
      color: #365899;
      margin-left: 5px; }
  .stories .story {
    margin: 10px 0;
    display: flex;
    align-items: center; }
    .stories .story__img {
      border: 1px solid #dddfe2;
      border-radius: 28px;
      width: 56px;
      height: 56px;
      margin: 0;
      padding: 0;
      background-color: #f5f6f7;
      overflow: hidden;
      font-size: 30px;
      color: #1479fb; }
      .stories .story__img-image {
        width: 54px;
        height: 54px; }
    .stories .story__info {
      width: calc(100% - 56px - 24px);
      height: 56px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 6px; }
      .stories .story__info-author {
        margin: 0;
        padding: 0;
        color: #365899;
        font-weight: 600;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 13px; }
      .stories .story__info-text {
        padding: 0;
        margin: 0;
        color: #8d949e;
        font-size: 13px;
        font-family: Helvetica, Arial, sans-serif; }

.home {
  margin: 0 12.5%;
  width: 75%;
  display: flex; }
  .home .left_column, .home .center_column, .home .right_column {
    display: flex;
    flex-direction: column; }
  .home .left_column {
    width: 20%;
    margin-top: 10px; }
  .home .center_column {
    width: 50%;
    margin: 10px; }
  .home .right_column {
    width: 30%;
    margin-top: 10px; }

:root {
  --header-height: 43px; }

body {
  margin: 0;
  background-color: #e9ebee; }

.header {
  box-sizing: border-box;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  height: var(--header-height);
  width: 100%;
  padding: 0 12.5%;
  position: fixed; }

.main {
  padding-top: var(--header-height); }

button {
  cursor: pointer; }

/*# sourceMappingURL=index.css.map */
