html{
    overflow-y: scroll;
}

body{
    padding: 0;
    margin: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: #e9ebee;
    font-family: Arial;
}

h4{
    margin: 0;
}

button:hover{
    cursor: pointer;
}

body>header{
    background-color: #4267b2;
    color: white;
    height: 42px;
    /*position: fixed;*/
    border-bottom: 1px solid #29487d;
    /*vertical-align: bottom;*/
}

#top_panel{
    width: 75%;
    height: 100%;
    margin: 0px auto;
}

#logo{
    padding-top: 1px;
    /*padding: 5px;*/
    width:24px;
}

#logo>img{
    width: 24px;
}

.icon_btn{
    background-color: transparent;
    border: 0;
    width: 24px;
    height: 24px;
    padding: 0;
    /*cursor: alias;*/
}

.icon_btn:hover{
    /*cursor: pointer;*/
}

.icon_btn>img{
    width:24px;
}

#search{
    padding: 0;
    padding-top: 8px;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
    list-style: none;
    /*height: 42px;*/
}

#search>li{
    float: left;
    margin-left: 10px;
    /*vertical-align: center;*/
}

#search_group{
    border-radius: 3px;
    border: 1px solid #3b5998;
    padding: 0;
    margin: 0;
}

#search_field{
    height: 22px;
    width: 400px;
    border: 0px;
    color: #1d2129;
    margin: 0;
    /*padding: 0;*/
}

#lupa{
    padding: 0;
    margin: 0;
    /*margin-top: -3px;*/
    height: 24px;
    width: 50px;
    border: 0px;
    background-color: #f5f6f7;
}

#lupa>img{
    /*padding-top: -3;*/
    margin-top: -3px;
    /*padding-top: 3px;*/
    /*margin: 0;*/
    height: 16px;
}

#top_menu{
    /*horiz-align: right;*/
    padding: 0;
    margin: 0;
    float: right;
}

#top_menu>li:hover{
    background-color: #3b5ca0;
}

#top_menu>*+*::before{
    content: "|";
    color: #3b5ca0;
    margin-right: 5px;
    padding: 0;
}

/*#top_menu>li>button{*/
    /*!*padding-top: 5px;*!*/
    /*vertical-align: top;*/
/*}*/

#top_menu{
    /*padding: 0px;*/
    /*list-style: none;*/
    display: block;
    height: 100%;
}

#top_menu button{
    /*height: 50px;*/
    color: white;
}

#top_menu li{
    display: inline-block;
    /*vertical-align: top;*/
    padding: 0;
    margin: 0;
}

#top_menu .li_text{
    /*padding-top: 5px;*/
    /*vertical-align: top;*/
}

#top_menu .li_text>button{
    background: transparent;
    border: 0;
}

#top_menu .li_icon>button{
    /*padding-top: 3px;*/
    /*vertical-align: center;*/
    /*margin-top: 5px;*/
}

/*#top_menu ul{*/
    /*display: inline-block;*/
    /*!*float: left;*!*/
    /*!*list-style: none;*!*/
    /*padding: 0;*/
    /*!*margin-top: 10px;*!*/
/*}*/

/*#top_menu>li{*/
    /*display: inline-block;*/
    /*vertical-align: center;*/
/*}*/

/*#top_menu ul>li{*/
    /*display: inline-block;*/
/*}*/

/*#top_menu li{*/
    /*!*padding: 5 5px;*!*/
    /*margin-right: 5px;*/
/*}*/

#main {
}

#side_menu{
    width: 18%;
    text-align: left;
    /*border: 1px solid blue;*/
    /*margin: 0 -2px;*/
}

#side_menu>ul>li{
    /*border: 1px solid black;*/
}

.side_menu_element{
    padding: 5px;
}

.side_menu_element:hover, #side_menu>ul>li:nth-child(2)>ul>li:first-child{/*, #side_menu>ul li+li:first-child{*/
    background-color: #f5f6f7;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    padding: 4px;
}

#news_line{
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    padding: 0 10px;
    /*margin: 0;*/
    /*margin-top: 0;*/
}

#your_mind{
    text-align: left;
    background-color: white;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

#your_mind>header{
    height: 20%;
    background-color: #f5f6f7;
    padding: 7px 10px;
    border-bottom: 1px solid #dddfe2;
    color: #365899;
    margin: 0;
    /*margin-top: 10px;*/
}

#your_mind>header>ul{
    margin: 0;
    padding: 0;
}

#your_mind>header>ul>li{
    /*float: left;*/
    display: inline-block;
    /*color: #365899;*/
}

#your_mind>header>ul>li+li::before{
    content: "|";
    color: #ccd0d5;
    margin-right: 5px;
}

#your_mind>header>ul>li:first-child>button{
    color: #4b4f56;
}

#your_mind>header>ul>li>button{
    /*vertical-align: center;*/
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    color: #365899;
}

#your_mind>section>*{
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

#your_mind input{
    border: 0px;
    padding-top: 20px;
    font-size: 14px;
}

#your_mind>footer>ul>li{
    display: inline-block;
}

#your_mind>footer>ul>li>button{
    border: 0px;
    background-color: #f5f6f7;
    padding: 5px;
    border-radius: 16px;
}

#stories{
    width: 32%;
    text-align: left;
    background-color: white;
    padding: 0px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #dddfe2;
    box-sizing: border-box;
}

#stories>header{
    padding: 5px 10px;
    color: #616770;
}

#stories>header>*{
    display: inline-block;
    padding: 0;
    /*margin: 0;*/
}

/*#stories>ul+ul{*/
    /*display: block;*/
/*}*/

#stories_settings{
    float: right;
    /*display: inline-block;*/
    /*text-align: right;*/
    padding: 0;
    margin: 0;
    color: #365899;
}

#stories_settings>li+li:before{
    content: "·";
}

#stories_settings>*{
    display: inline-block;
}

#stories_list{
    margin: 0;
}

#side_menu ul, #your_mind ul, #stories ul{
    list-style: none;
    padding: 0;
}

body>main>div{
    /*display: inline-block;*/
    width: 75%;
    margin: 0 auto;
    /*padding: 0;*/
    /*background-color: red;*/
    /*display: block;*/
}

#main>div>*{

    /* ======================== */
    /*float: left;*/
    display: inline-block;
    /* ======================== */

    vertical-align: top;
    /*padding: 0 10px;*/
    /*background-color: azure;*/
}

.news {
    text-align: left;
    background-color: white;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    /*vertical-align: center;*/
}

.news>header{
    vertical-align: top;
}

.news>section>*:not(img){
    padding: 0 10px;
}

.post_author_photo, .post_info{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
}

.post_info{
    padding-top: 15px;
    padding-left: 0;
}

.news>footer{
    padding: 0 10px;
}

.buttons{
    text-align: center;
}

.post_interaction{
    background: transparent;
    border: 0;
    width: 30%;
}

.news>section>*{
    width: 100%;
}

.post_author_photo>img{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #dadde1;
    background-color: #f5f6f7;
    /*padding-top: 10px;*/
    /*margin-left: 5px;*/
    /*margin-top: 4px;*/
    /*color: #1479fb;*/
    /*font-size: 24px;*/
}

.report>*{
    vertical-align: top;
    background: transparent;
    border: 0;
    padding: 0;
}

.report>button:last-child{
    padding-top: 4px;
}

.post_interaction>span{
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}

.story{
    padding: 5px;
    margin: 0;
    text-align: left;
    display: flex;
    /*vertical-align: center;*/
    /*height: 56px;*/
}

.story>*{
    display: inline-block;
    /*float: left;*/
    /*margin: auto 0;*/
    /*vertical-align: center;*/
}

.story_img{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #dadde1;
    background-color: #f5f6f7;
    margin-left: 5px;
    margin-top: 4px;
    color: #1479fb;
    font-size: 24px;
}

.story_description{
    /*width: 220px;*/
    flex-grow: 100;
    height: 56px;
    padding: 0;
    padding-left: 5px;
    text-align: left;
    background: transparent;
    border: 0px;
    color: #8d949e;
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0px;*/
}

.story_description>h4{
    color: #365899;
}

#news_line>*:last-child{
    margin-bottom: 10px;
}