.searchbar {

  --search_button_width: 46px;

  height: 26px;
  width: 448px;
  background-color: white;

  border-radius: 3px;
  border: 1px solid #3b5998;
  overflow: hidden;
  box-sizing: border-box;

  margin: 0 6px;
  padding-left: 10px;

  display: flex;
  align-items: center;

  &__input {
    height: 100%;
    width: calc(100% - var(--search_button_width));
    border: 0;
    color: #1d2129;
    margin: 0;
    padding: 0;
  }

  &__search {
    padding: 0;
    margin: 0;
    height: 100%;
    width: var(--search_button_width);
    border: 0;

    background: url("../images/icons/lupa.png") no-repeat center;
    background-size: 18px 18px;

    background-color: #f5f6f7;
  }

}