.your_mind{
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddfe2;
  margin-bottom: 10px;
  overflow: hidden;

  &__header{
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    padding: 6px 5px;
    display: flex;

    &-button{
      border: 0;
      background-color: transparent;
      margin: 0;
      //padding: 0;

      display: flex;
      align-items: center;

      &_text{
        color: #365899;
        font-size: 12px;
        font-weight: 600;
        font-family: Helvetica, Arial, sans-serif;
        padding-left: 5px;
      }

    }
  }

  &__main{
    margin: 10px;
    display: flex;
    align-items: center;

    &-img{
      height: 40px;
      width: 40px;
      border-radius: 100%;
    }

    &-input{
      border: 0;
      margin-left: 10px;
    }
  }

  &__footer{
    //padding: 6px;
    border-top: 1px solid #e9ebee;
    margin: 0 10px;
    padding: 6px 0;
    display: flex;
    flex-wrap: wrap;

    &-button{
      border: 0;
      padding: 0 10px;
      margin-right: 5px;
      display: flex;
      align-items: center;
      height: 32px;
      border-radius: 16px;
      background-color: #f5f6f7;
      &:hover{
        background-color: #ebedf0;
      }

      &_text{
        color: #4b4f56;
        font-weight: 600;
      }
    }
  }
}