@import "../../layout-header/layout-header.less";
@import "../../layout-aside-nav/layout-aside-nav.less";

.layout__video-nav{
    top: @header-height;
    left: @aside-nav-width;
    right: 0;
    position: fixed;
    z-index: 2;
}