<header>
    <section class="left-part">
        <button class="left-part__menu"></button>
        <button><img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x.png"></button>
    </section>

    <section class="right-part">
        <section class="right-part__search">
            <button></button>
            <input>
            <button></button>
        </section>
        <section class="right-part__buttons">
            <button class="right-part__buttons__tasks"></button>
            <button class="right-part__buttons__bell"></button>
            <button><img src="images/me.jpg" class="profile_picture"><img></button>
        </section>
    </section>
</header>


<main>
    <aside>
        <button>Написати</button>
        {{#left_menu}}
            <button class="menu_button">{{.}}</button>

        {{/left_menu}}
    </aside>

    <section class="letters">


    </section>
</main>