body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;

    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game {
    display: flex;
    width: 500px;
    height: 500px;
    margin: 30px auto;
    border: 10px solid #8D6E63;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
  }
  
  .game__row {
  }
  
  .game__cell {
    width: 125px;
    height: 125px;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    font-weight: bold;

    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
  }
  .game__cell--empty{
    width: 125px;
    height: 125px;
    display: hidden;
  }
  
  .layout__game-placeholder{

  }
  .layout__score-placeholder{
      height: 100px;
      width: 100%;
      background-color: white;
      border-bottom: rgb(180, 172, 172) 1px solid;
      display: flex;
      justify-content: space-evenly;
      font-size: 28px;
      align-items: center;
  }

  .layout__lose-placeholder{
    display: flex;
    justify-content: center;
  }

  .layout__lose{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 300px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
  }