.friend_message{
  padding: 20px;
  display: flex;
  justify-content: flex-start;
}

.friend_message_text::before {
  content: '';
  position: relative;
  right: 25px;
  top: -5px;
  border: 10px solid transparent;
  border-top: 10px solid white;
}




.friend_message_text{
  padding: 15px;
  margin-top: 30px;
  margin-left: 15px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(167, 169, 197, 0.55);
  background-color: #ffffff;
}