.header{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(43, 43, 71, 0.19);
  font-size: 35px;
  background-image: linear-gradient(to bottom, #29294a, #20203e);
}