.other-settings{
  position: relative;
  margin-top: 0;
  background-color: inherit;
  border: none;

  &__option{
    float: left;
    margin-left: 10px;
  }
  &__option-link{
    color: rgb(144, 148, 156);
    font-size: 13px;
    font-weight: 400;

    &:hover{
      text-decoration: underline;
    }
  }
}