@import '../../../helpers/css/colors.scss';
@import '../../../helpers/css/fonts.scss';

.creator {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  &__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  &__textInput {
    margin-bottom: 5px;
    margin-right: 5px;
  }

  &__submit {
    margin-bottom: 5px;
  }

  &__errorMessage {
    color: $color--white;
    font-size: $font-size--regular;
    font-family: $font-family--regular;
    font-weight: 800;
    margin: 3px 0;
  }
}
