.days {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	padding: 0;

	&__day {
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: #ffffff;

		&--date {
			cursor: pointer;
		}

		&--weekend {
			border-radius: 40px;
			border: .5px solid #ffffff;
		}

		&--holiday {
			border-radius: 40px;
			border: .5px solid #33ffbd;
		}

		&--active {
			background: #ffffff;
			color: #00a8e8;
			border-radius: 40px;
			font-size: 11px;
			box-shadow: 7px 7px 3px #009dd9;
		}
	}
	&__link {
		width: 40px;
		height: 40px;
		display: inline-block;
		text-decoration: none;
		color: inherit;
		cursor: inherit;

		&--disabled {
			pointer-events: none;
		}
	}
}
