.post-field {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dddfe2;

  &__header {
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
    font-size: 12px;
    font-weight: bold;
    &_item {

    }
  }

  &__make-post {
    &_userphoto {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
    &_input {

    }
  }

  &__options {
    &_option {

    }
  }
}