html,
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ecf0f1;
}

.main-header {
    background: #4267b2;
    overflow: hidden;
    height: 40px;
}

.main-navigation {
    width: 1020px;
    margin: auto;
}

#logo {
    margin: 0 5px 0 0;
    vertical-align: middle;
    line-height: 40px;
    height: 24px;
    width: 24px;
    overflow: hidden;

    color: transparent;
    display: inline-block;

    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
    background-size: cover;
}

.search {
    display: inline;
    line-height: 40px;
}

.main-header li,
.main-header ul {
    display: inline;
}

.main-header li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
    font-size: 12px;
    line-height: 40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 4px;
}

.main-header li:after {
    content: "";
    height: 20px;
    width: 1px;
    display: inline-block;
    background: white;
    position: relative;
    bottom: -6px;
    margin-left: 10px;
    margin-right: 7px;
    opacity: 0.45;
}

.main-header li a {
    color: inherit;
    text-decoration: inherit;
}

#search-field {
    width: 400px;
    border-radius: 3px 0 0 3px;
    font-size: 14px;
    padding: 5px;
    height: 24px;
    border: none;
    vertical-align: middle;
    box-sizing: border-box;
}

#search-button {
    background: rgb(245, 246, 247);
    border: none;
    height: 24px;
    width: 45px;
    overflow: hidden;
    color: transparent;
    position: relative;
    border-radius: 0 3px 3px 0;
    vertical-align: middle;
}

#search-button:before {
    content: "";
    height: 16px;
    width: 15px;
    position: absolute;
    background: black;
    left: 13px;
    top: 5px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
    background-size: 24px;
    background-position: 3px 26px;
    border-radius: 0 3px 3px 0;
}

.main-header li button.friends,
.main-header li button.messages,
.main-header li button.notifications,
.main-header li button.quick-help,
.main-header li button.submenu {
    background: #4267b2;
    margin-right: 5px;
    height: 24px;
    width: 24px;
    overflow: hidden;
    color: transparent;
    position: relative;
    border-radius: 0 3px 3px 0;
    vertical-align: middle;
}

.main-header li button.friends:before,
.main-header li button.messages:before,
.main-header li button.notifications:before,
.main-header li button.quick-help:before,
.main-header li button.submenu:before {
    content: "";
    height: 20px;
    width: 22px;
    position: absolute;
    background: black;
    border-radius: 0 3px 3px 0;
}

.main-header li button.friends:before {
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 501px;
    background-size: 24px;
    left: 0;
    top: 4px;
}

.main-header li button.messages:before {
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 461px;
    background-size: 24px;
    left: 0;
    top: 2px;
}

.main-header li button.notifications:before {
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 709px;
    background-size: 24px;
    left: 0;
    top: 2px;
}

.main-header li button.quick-help:before {
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 421px;
    background-size: 24px;
    left: 0;
    top: 2px;
}

.main-header li button.submenu:before {
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 545px;
    background-size: 24px;
    left: 0;
    top: 2px;
}

.main-header li a, .main-header li button {
    color: inherit;
    text-decoration: inherit;
}

.main-header li button {
    border: none;
    background-color: inherit;
}

.main-header ul {
    margin-left: 100px;
}