.left-menu {
    width: 180px;
    height: auto;
    display: inline-block;
}

.left-menu__user {
    display: flex;
    padding: 0;
}

.left-menu__user_picture {
    max-height: 20px;
    max-width: 20px;
    border-radius: 50%;
}

.left-menu__list {
    padding: 0;
    margin: 0;
}

.left-menu__item {
    height: 28px;
    display: flex;
    align-items: center;
}

.left-menu__item_description {
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-left: 4px;
}

.left-menu__items_header {
    font-size: 13px;
    line-height: 17px;
    color: #616770;
    margin: 0;
}

.left-menu__item_more {
    display: flex;
    padding-left: 5px;
    margin-top: 5px;
}

.left-menu__item_more_text {
    font-size: 13px;
    text-decoration: none;
    color: #365899;
}


