html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ecf0f1;
}

.main-navigation {
  width: 1020px;
  margin: auto;
}

#logo {
  margin: 0 5px 0 0;
  vertical-align: middle;
  line-height: 40px;
  height: 24px;
  width: 24px;
  overflow: hidden;
  color: transparent;
  display: inline-block;
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
  background-size: cover;
}

.search {
  display: inline;
  line-height: 40px;
}

.main-header {
  background: #4267b2;
  overflow: hidden;
  height: 40px;
}
.main-header ul {
  margin-left: 100px;
  display: inline;
}
.main-header li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  font-size: 12px;
  line-height: 40px;
  font-weight: 700;
  color: white;
  display: inline;
  padding: 4px;
}
.main-header li:after {
  content: "";
  height: 20px;
  width: 1px;
  display: inline-block;
  background: white;
  position: relative;
  bottom: -6px;
  margin-left: 10px;
  margin-right: 7px;
  opacity: 0.45;
}
.main-header li a {
  color: inherit;
  text-decoration: inherit;
}
.main-header li button {
  color: inherit;
  text-decoration: inherit;
  border: none;
  background-color: inherit;
}
.main-header li button.friends, .main-header li button.messages, .main-header li button.notifications, .main-header li button.quick-help, .main-header li button.submenu {
  background: #4267b2;
  margin-right: 5px;
  height: 24px;
  width: 24px;
  overflow: hidden;
  color: transparent;
  position: relative;
  border-radius: 0 3px 3px 0;
  vertical-align: middle;
}
.main-header li button.friends:before, .main-header li button.messages:before, .main-header li button.notifications:before, .main-header li button.quick-help:before, .main-header li button.submenu:before {
  content: "";
  height: 20px;
  width: 22px;
  position: absolute;
  background: black;
  border-radius: 0 3px 3px 0;
}
.main-header li button.friends:before {
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 501px;
  background-size: 24px;
  left: 0;
  top: 4px;
}
.main-header li button.messages:before {
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 461px;
  background-size: 24px;
  left: 0;
  top: 2px;
}
.main-header li button.notifications:before {
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 709px;
  background-size: 24px;
  left: 0;
  top: 2px;
}
.main-header li button.quick-help:before {
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 421px;
  background-size: 24px;
  left: 0;
  top: 2px;
}
.main-header li button.submenu:before {
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 545px;
  background-size: 24px;
  left: 0;
  top: 2px;
}

#search-field {
  width: 400px;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  padding: 5px;
  height: 24px;
  border: none;
  vertical-align: middle;
  box-sizing: border-box;
}

#search-button {
  background: #f5f6f7;
  border: none;
  height: 24px;
  width: 45px;
  overflow: hidden;
  color: transparent;
  position: relative;
  border-radius: 0 3px 3px 0;
  vertical-align: middle;
}
#search-button:before {
  content: "";
  height: 16px;
  width: 15px;
  position: absolute;
  background: black;
  left: 13px;
  top: 5px;
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
  background-size: 24px;
  background-position: 3px 26px;
  border-radius: 0 3px 3px 0;
}

.left-menu {
  width: 180px;
  height: auto;
  display: inline-block;
}
.left-menu__user {
  display: flex;
  padding: 0;
}
.left-menu__user_picture {
  max-height: 20px;
  max-width: 20px;
  border-radius: 50%;
}
.left-menu__list {
  padding: 0;
  margin: 0;
}
.left-menu__item {
  height: 28px;
  display: flex;
  align-items: center;
}
.left-menu__item_description {
  text-decoration: none;
  color: black;
  font-size: 13px;
  margin-left: 4px;
}
.left-menu__item_more {
  display: flex;
  padding-left: 5px;
  margin-top: 5px;
}
.left-menu__item_more_text {
  font-size: 13px;
  text-decoration: none;
  color: #365899;
}
.left-menu__items_header {
  font-size: 13px;
  line-height: 17px;
  color: #616770;
  margin: 0;
}

.post-field {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dddfe2;
}
.post-field__header {
  background-color: #f5f6f7;
  border-bottom: 1px solid #dddfe2;
  border-radius: 2px 2px 0 0;
  font-size: 12px;
  font-weight: bold;
}
.post-field__make-post_userphoto {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.stories {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dddfe2;
}

.friend-post {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dddfe2;
}
.friend-post__head {
  border-radius: 2px 2px 0 0;
}

.container {
  overflow: hidden;
  margin: auto;
  width: 1020px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
}

.feed-container {
  width: 500px;
}

.right-menu {
  width: 308px;
}

/*# sourceMappingURL=main.css.map */
