<button class="google-mail-aside__write-button">
    <img src="images/create_32dp.png" alt="create_message" class="google-mail-aside__write-button-logo">
</button>
<nav class="google-mail-aside__navigation">
    <ul>
        <li></li>
        <li></li>
    </ul>
</nav>