<div class="logo_part">

    <button class="logo_part__menu-button">
        <svg class="logo_part__menu-icon" focusable="false" viewBox="0 0 24 24">
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </svg>
        <!--<img src="images/open-menu-01-512.png">-->
    </button>
    <a href="." class="logo">
        <img src="images/logo_gmail_lockup_default_1x.png">
    </a>
</div>
<div class="search-part">
    <button class="search_bar__search-icon"></button>
    <input type="text" class="search_bar__input-text" title="input" placeholder="Пошук у пошті">
    <button class="search_bar__options"></button>
</div>
<div class="buttons-part">
    <button class="buttons__google-apps_button"></button>
    <button class="buttons__notification_button"></button>
    <button class="buttons__google-profile_button">
        <img src="images/ucu-logo.gif" class="buttons__ucu-logo">
        <img src="" class="buttons-user-avatar">
    </button>
</div>