<header class="header" id="gmail-header"></header>
<section class="google-mail-main">
    <aside class="google-mail-aside">
        <button class="google-mail-aside__write-button"></button>
        <nav class="google-mail-aside__navigation"></nav>
    </aside>
    <section class="gmail-body">
        <header class="header-gmail-emails"></header>
        <section class="gmail-emails-main">
            <main class="gmail-emals"></main>
            <footer class="gmail-footer"></footer>
        </section>
    </section>
</section>