<header class="header" id="gmail-header"></header>
<section class="google-mail-main">
    <aside class="google-mail-aside" id="gmail-aside">
    </aside>
    <section class="gmail-body" id="gmail-body">
    </section>
</section>