<main class="chat-box">
    <div class="chat-box__header">
        <p>Mark</p>
    </div>
    <section class="messages">
        <p class="messages__me">
            Hello, mate
        </p>
        <p class="messages__time">
            FRI, 11:30 AM
        </p>
        <p class="messages__friend">
            Hello, bro</p>
        <p class="messages__friend">
            Hello, bro</p>
        <p class="messages__me">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam consequatur corporis dolorem doloremque
            dolores ducimus, esse eveniet facere ipsa ipsam maiores nam, nihil non nostrum odit, qui ullam voluptas?
        </p>
        <p class="messages__me">
            Hello, mate
        </p>
        <p class="messages__friend">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid cumque excepturi ipsa mollitia quas
            quasi recusandae, sunt suscipit veniam. Ad atque beatae debitis est maiores modi natus tempora voluptatum!
        </p>
    </section>
    <div class="footer">
        <input type="text" placeholder="Write message..." class="footer__input">
        <div class="footer__buttons">

        </div>
    </div>
</main>
