body{
    margin: 0;
    background-color: #dfe3ee;
}

#navig{
    width: 70%;
    height: 100%;

    margin: 0px auto;
}

#navig *{
    display: inline-block;

}

#navig button{
    background: transparent;
    border: 0;
}

#logo{
    width: 30px;
}

#myphoto{
    width: 30px;
    border-radius: 100%;
    vertical-align: 20%;
}

#header{
    background: #3b5998;
    height: 50px;
}

nav ul{
    padding: 0px;
}


#right_menu{
    float: right;
    margin: 0px;
}

#right_menu>li{
    vertical-align: 50%;
}

#right_menu ul{
    vertical-align: 40%;
}

#main{
    background-color: #dfe3ee;
}

#mainsection{
    width: 70%;
    margin: 0px auto;
    padding: 0px;
    display: grid;
    grid-template-columns: 20% 45% 35%;
}

#leftsection{
    /*background-color: red;*/
    margin: 10px 0px;
    padding:0;
}

#lsmenu{
    padding: 0;
    margin:0;
}

#lsmenu>*{
    display: block;
}

#lsmenu button{
    background: transparent;
    border: 0px;
    margin: 2px;
}

#lsmenu button:hover{
    background: #f7f7f7;
    border: 1px solid #8b9dc3;
    margin: 1px;
}

#lsmenu img{
    vertical-align: -25%;
}

#centersection{
    /*background-color: green;*/
    background-color: #dfe3ee;
    margin: 10px;
    padding:0;
}

#rightsection{
    background-color: #dfe3ee;
    margin: 10px 0px;
    padding:0;
}

.post{
    width: 100%;
    background-color: white;
    border: 1px solid #f7f7f7;
    margin-bottom: 10px;
}

.post_head>*{
    display: inline-block;
    /*background: coral;*/
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}

.post_logo{
    width:40px;
    border-radius: 100%;
    padding: 10px;
}

.post_head_text>*{
    margin: 10px 0px;
    padding: 0;
}