//Card implementation
%card {
  width: 120px;
  height: 120px;
}
%card-side {
  @extend %card;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  @extend %card;
  perspective: 1000px;
  margin: 0 13px 0 13px;

  &__sides {
    cursor: pointer;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  &__front {
    @extend %card-side;
    z-index: 2;
    transform: rotateY(0deg);
    background-color: #e67e22;
  }

  &__back {
    @extend %card-side;
    object-fit: cover;
    transform: rotateY(180deg);
    background-color: #ecf0f1;
  }
}
