.top-movie {
  background: url('../img/wrath.jpg') no-repeat 0 -310px;
  background-size: cover;
  background-position: left center;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__footer {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
}
