
$youtube-red: #FF0000;
$youtube-black: #444444;
$youtube-white: white;
$youtube-blue: #167ac6;
$youtube-gray: #CCCCCC;
$youtube-light-gray: #E8E8E8;
$youtube-dark-gray: #767676;
$youtube-background-gray: hsl(0,0, 98%);

body {
  background-color: $youtube-background-gray;
  padding:0;
}

.youtube-homepage-link__logo {
  display: block;
  width: 80px;
  height: 24px;
  margin:8px;
  float:left
}

.youtube-header {
  background: $youtube-white;
  position: fixed;
  padding: 8px;
  top: 0;
  left: 0;
  width: 100%;
}

.site-search {
  vertical-align: top;
  margin: 8px 8px  8px 30%;
  display: inline-block;
  float: left;
}

.youtube-header__open_menu {
  float: left;
  border:0;
  padding: 0;
  height: 24px;
  width: 24px;
  margin:8px;
  background-size: cover;
  background-image: url(/images/menu_button.png);
}

.youtube-header__homepage {
  float: left;
}

.site-search {
  clear: right;
}

.user-options-menu {
  float: right;
  padding-right: 6%;
}

.youtube-video {
  float: left;
  margin-top: 6%;
  padding-top: 24px;
  padding-left: 24px;
  margin-left: 24px;
}

.suggested {
  float: right;
  margin-top: 6%;
  padding-top: 24px;
  padding-right: 24px;
}

.suggested-video {
  display: block;
  margin-bottom: 8px;
}

.next-video__preview {
  display: block;
  height: 94px;
  float: left;
}

.user-options-menu__button {
  border:0;
  padding: 0;
  height: 24px;
  width: 24px;
  margin:8px;
  background-size: cover;

}

.user-options-menu__button--up {
  background-image: url("/images/upload_button.png");

}
.user-options-menu__button--app{
  background-image: url("/images/apps_button.png");
}
.user-options-menu__button--mess{
  background-image: url("/images/message_button.jpg");
}
.user-options-menu__button--notifications{
  background-image: url("/images/notifications_button.png");
}
.user-options-menu__button--profile{
  background-image: url("/images/profile_photo.jpg");
}

