.stories{
  margin-top: 0;
  height: 132px;

  &__title{
    &_link{
      &:hover{text-decoration: underline;}
    }
  }

  &__form{
    float: right;
  }

  &__add-story{
    display: inline-block;
    position: relative;
    top:10px;
  }
}

.form__content{
  color: rgb(54, 88, 153);
  float: none;

  &:hover{text-decoration: underline;}
}

.add_story{
  &__button {
    &_plus {
      color: transparent;
      display: inline-block;
      position: relative;
      left: 5px;
      width: 56px;
      height: 56px;
      background-color: rgb(245, 246, 247);
      border: 1px solid #bdc3c7;
      border-radius: 30px;

      &:before {
        content: "";
        height: 30px;
        width: 30px;
        position: absolute;
        left: 12px;
        top: 13px;
        background: url("/images/icons/plus_story.png");
        background-size: 30px;
      }
    }

    &_text {
      position: relative;
      margin: 0;
      bottom: 20px;
      left: 5px;
      width: 166px;
      display: inline-block;
      color: rgb(54, 88, 153);
      font-size: 13px;
      font-weight: 600;
    }
  }
  &__description{
    left: 90px;
    bottom: 40px;
    position: relative;
    width: 166px;
    display: block;
    color: rgb(141, 148, 158);
    font-size: 13px;
    font-weight: 400;
  }
}