.chat-input {
  width: 100%;
  border: 0;
  box-sizing: border-box;

  &--layout {
    padding: 0 15px 0 15px;
    height: 62px;
  }

  &__form {
    border-top: 1px solid #f3f3f3;
  }

  &__icon-footer {
    margin-top: 6px;
  }

}

.footer__action-button {
  border: 0;
  padding: 0;
  background: 0;
  margin: 0 10px 0 0;
  &-img {
    //background: #000;
  }

}