body {
  font-family: OpenSans, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 292px;
  height: 384px;
  margin: 280px auto auto;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;

}