.facebook-header {
  position: fixed;
  width: 100%;
  background: #4267b2;
  overflow: hidden;
  height: 40px;
  z-index: 1; }
  .facebook-header__navigation {
    width: 1020px;
    margin: auto; }
  .facebook-header__logo {
    margin: 0 5px 0 0;
    vertical-align: middle;
    line-height: 40px;
    height: 24px;
    width: 24px;
    overflow: hidden;
    color: transparent;
    display: inline-block;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
    background-size: cover; }
  .facebook-header__search {
    display: inline;
    line-height: 40px; }
    .facebook-header__search_search-field {
      width: 400px;
      border-radius: 3px 0 0 3px;
      font-size: 14px;
      padding: 5px;
      height: 24px;
      border: none;
      vertical-align: middle;
      box-sizing: border-box; }
    .facebook-header__search_search-button {
      background: #f5f6f7;
      border: none;
      height: 24px;
      width: 45px;
      overflow: hidden;
      color: transparent;
      position: relative;
      border-radius: 0 3px 3px 0;
      vertical-align: middle; }
      .facebook-header__search_search-button:before {
        content: "";
        height: 16px;
        width: 15px;
        position: absolute;
        background: black;
        left: 13px;
        top: 5px;
        background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
        background-size: 24px;
        background-position: 3px 26px;
        border-radius: 0 3px 3px 0; }
  .facebook-header__menu {
    margin-left: 140px;
    display: inline; }
  .facebook-header__menu-element {
    display: inline;
    font-size: 12px;
    line-height: 40px;
    font-weight: 700;
    color: white;
    padding: 2px; }
    .facebook-header__menu-element:after {
      content: "";
      height: 20px;
      width: 1px;
      display: inline-block;
      background: white;
      position: relative;
      bottom: -6px;
      margin-left: 10px;
      margin-right: 3px;
      opacity: 0.45; }
    .facebook-header__menu-element:last-child:after {
      display: none; }

.menu-element__button_friends:before, .menu-element__button_messages:before, .menu-element__button_notifications:before, .menu-element__button_quick-help:before, .menu-element__button_submenu:before {
  content: "";
  height: 20px;
  width: 22px;
  position: absolute;
  background: black;
  border-radius: 0 3px 3px 0;
  left: 0;
  top: 2px; }

.menu-element__button {
  background: #4267b2;
  margin-right: 5px;
  height: 24px;
  width: 24px;
  overflow: hidden;
  color: transparent;
  position: relative;
  border-radius: 0 3px 3px 0;
  vertical-align: middle; }
  .menu-element__button_no-style {
    color: white; }
  .menu-element__button_friends:before {
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 501px;
    background-size: 24px;
    top: 4px; }
  .menu-element__button_messages:before {
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 441px;
    background-size: 24px; }
  .menu-element__button_notifications:before {
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 565px;
    background-size: 24px; }
  .menu-element__button_quick-help:before {
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 421px;
    background-size: 24px; }
  .menu-element__button_submenu:before {
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 545px;
    background-size: 24px; }

/*# sourceMappingURL=main-header.css.map */
