@import '../../../css/fonts.scss';

.todoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  margin: 5px 0;

  &__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    max-width: 75%;
  }

  &__text {
    margin: 0;
    color: white;
    font-family: $font-family--regular;
    font-size: $font-size--regular;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 175px;
  }

  &__delete {
    margin-left: auto;
  }
}
