body,html{font-family: Bureausans, Arial, sans-serif;}
/*mostly frequently used values:*/
:root{
    --sublink-title:14px;
    --sublink-title-color: rgb(6, 85, 128);
    --important-titles: rgb(226, 0, 22);
}

.title_link{
    color: var(--sublink-title-color);
    text-decoration: underline;
    text-decoration-color: #ecf0f1;
}
.title_link:hover{
    color: var(--important-titles);
    text-decoration-color: var(--important-titles);
}

#main-header{
    margin-top: 5px;
    height: auto;
    overflow: hidden;
}

#logo{
    height: 33px;
    width: 140px;
    background: url("images/logo.png");
    background-size: cover;
    color: transparent;
}

#main-navigation ul{
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#main-navigation li a{
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: 600;
}

#main-navigation li a:hover,
#main-navigation li a.checked{color: var(--important-titles);}

a.chosen{
    font-size: var(--sublink-title);
    font-weight: 600;
    color: var(--important-titles);
}

#user-button{
    float: right;
    height: 24px;
    width: 24px;
    border: none;
    color: transparent;
    background-color: inherit;
}

#user-button:before{
    content: "";
    height: 24px;
    width: 24px;
    position: absolute;
    background: url("images/user.png");
    background-size: cover;
}

#main-content,
#main-footer,
#other-books,
#bureau-school{
    margin-top: 20px;
}

#advert_Carters .link{font-size: 12px;}

#advert_Carters .link>u{font-weight: 600;}

#main-news, #other-news{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ecf0f1;
}


#main-news .grid_11{
    text-decoration: none;
    border-right: 1px solid #ecf0f1;
}

#main-news .grid_11 a{
    text-decoration: none;
    color: black;
}

#main-news .grid_11 h1{
    margin-top: 0;
    margin-bottom: 0;
    color: var(--important-titles);
}
#main-news .grid_11 p{
    margin-top: 0;
    font-size: var(--sublink-title);
    font-weight: 600;
}

#main-news .grid_11 p>u{font-weight: 500;}

#main-news .grid_4 h4{
    margin-top: 10px;
    margin-bottom: 0;
}
#main-news .grid_4 ul{
    margin-top: 0;
    list-style-type: none;
    padding: 0;
}

#main-news .grid_4 li>a{
    font-size: var(--sublink-title);
}

#other-news{margin-top: 0;}

#other-news h4,
#other-news p{
    margin-bottom: 0;
}

#other-news p{margin-top: 0;}

#other-news a{
    text-decoration: none;
    color: black;
}

#other-news div.grid_4{border-right: 1px solid #ecf0f1;}

#other-news div.grid_4 img{
    height: 180px;
    width: 180px;
}

#other-news div.grid_4 a p:last-child,
#other-news div.grid_7 a p:last-child{
    font-size: 12px;
    margin-bottom: 20px;
}

#top-magazines a{color: transparent;}

#top-magazines a img{
    height: auto;
    width: 100%;
}

#top-magazines a.grid_16 img:last-child{width: 50%;}

#top-font span{
    text-decoration: none;
    color: black;
    font-size: var(--sublink-title);
}
#top-font span u{font-weight: 600;}

#books div.grid_2{margin-right: 45px;}

#books img{
    width: 100%;
    height: 127px;
}

#books a{
    color: black;
    text-decoration: none;
}
#books h4,
#books p{
    font-size: var(--sublink-title);
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#main-footer .grid_16{margin-top: 10px;}

#main-footer p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--sublink-title);
}
#main-footer a{
    font-size: var(--sublink-title);
    color: var(--important-titles);
    text-decoration: underline;
    text-decoration-color: #ecf0f1;
}
#main-footer a:hover{text-decoration-color: var(--important-titles);}

#main-footer button{
    padding: 0;
    border: none;
    color: var(--important-titles);
    background-color: inherit;
}

#main-footer .grid_13 button{
    text-decoration: underline;
    text-decoration-color: #ecf0f1;
}

#main-footer .grid_13 button:hover{text-decoration-color: var(--important-titles);}

#main-footer .grid_3 button{font-size: 24px;}

#main-footer .grid_3 button:first-child{margin-right: 10px;}

#main-footer .grid_3 button.active{
    color: black;
    border-bottom: 2px solid black;
}

#main-footer #social_media ul{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
}

#main-footer #social_media li{
    margin-right: 5px;
    width: 31px;
    height: 31px;
}

#main-footer #social_media li a{
    color: transparent;
    text-decoration: none;
}
#main-footer #social_media li a img{
    width: 100%;
    height: 100%;
}

#upcoming-events .grid_8 button{
    width: 130px;
    color: white;
    height: 36px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}
#upcoming-events .grid_8 button.blacked{background-color: black;}

#upcoming-events .grid_8 button.oranged{background-color: #f39c12;}

#upcoming-events .grid_8 a{
    text-decoration: none;
    color: black;
}
#upcoming-events .grid_8 a u{font-size: 12px;}

#other-books a{color: transparent;}

#other-books a img{width: 100%;}

#bureau-sphere{border-top: 1px solid #ecf0f1;}

#bureau-sphere a{
    height: 250px;
    border-right: 1px solid #ecf0f1;
}
#bureau-sphere a:last-child{border: none;}

#bureau-sphere img{width: 95%;}

#bureau-sphere h4{
    font-size: 20px;
    margin-bottom: 5px;
}
#bureau-sphere p{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 3px;
}
#bureau-sphere p:last-child{font-size: 12px;}

#bureau-school a span{
    text-decoration: none;
    color: black;
    font-size: var(--sublink-title);
}
#bureau-school a span u{font-weight: 600;}

@media (max-width: 820px){
    #advert_Carters .poster,
    #advert_Carters .link {width: 100%;}

    #top-font img,
    #top-font span{
        width: 100%;
    }
}

@media (max-width: 692px) {
    #main-footer{border-top: 1px solid #ecf0f1;}

    #advert_Carters .poster{width: 200%;}

    #main-news .grid_11,
    #main-news .grid_4,
    #other-news .grid_4,
    #other-news .grid_7,
    #main-footer .grid_3,
    #main-footer .grid_13,
    #main-footer .grid_5,
    #main-footer .grid_5,
    #upcoming-events .grid_8,
    #upcoming-events .grid_7,
    #bureau-sphere a,
    #bureau-school a span,
    #bureau-school a img{
        width: 100%;
    }
    #bureau-sphere a{
        height: auto;
        border-bottom: 1px solid #ecf0f1;
        padding-bottom: 15px;
    }

    #bureau-sphere a:last-child{border: none;}

    #upcoming-events .grid_8 a{margin-top: 10px;}

    #main-footer .grid_3,
    #main-footer .grid_13,
    #main-footer .grid_5,
    #main-footer .grid_5{
        margin-top: 10px;
    }

    #main-footer div.grid_5 li{
        width: 20%;
        height: 20%;
    }

    #books div.row{
        width: 50%;
        margin: 0 auto;
    }

    #books div.row img{width: auto;}

    #main-news div.grid_11,
    #other-news div.grid_4,
    #other-news div.grid_7{
        border-right: none;
        border-bottom: 1px solid #ecf0f1;
    }

    #other-news div.grid_4 img{
        width: 100%;
        height: auto;
    }
}