@import "layout";
@import "calendar";
@import "list";
@import "material";
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    font-family: 'Roboto';
    background-color: rgb(246, 246, 246);
}

* {
    box-sizing: border-box;
}

button::-moz-focus-inner {
    border: 0;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}