:root {
    --container-16-width: 820px;
    --gutter-width: 5px;
    --basic-cell-width: calc(100%/16 - 2 * var(--gutter-width));
}

body{
    padding: 0;
    margin: 0;
}

.container_16{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: stretch;
    width: var(--container-16-width);
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}

.row{
    display: flex;
    flex-flow: row wrap;
    width: var(--container-16-width);
}

@media (max-width: 830px) {
    .container_16{
        width: auto;
        margin: 0 5px;
    }
}

/*grid:*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16{
    margin: 0 var(--gutter-width);
    background-color: gold;
}

.grid_1{flex: 1 1 calc(var(--basic-cell-width) * 1 + 0 * 2 * var(--gutter-width));}
.grid_2{flex: 1 1 calc(var(--basic-cell-width) * 2 + 1 * 2 * var(--gutter-width));}
.grid_3{flex: 1 1 calc(var(--basic-cell-width) * 3 + 2 * 2 * var(--gutter-width));}
.grid_4{flex: 1 1 calc(var(--basic-cell-width) * 4 + 3 * 2 * var(--gutter-width));}
.grid_5{flex: 1 1 calc(var(--basic-cell-width) * 5 + 4 * 2 * var(--gutter-width));}
.grid_6{flex: 1 1 calc(var(--basic-cell-width) * 6 + 5 * 2 * var(--gutter-width));}
.grid_7{flex: 1 1 calc(var(--basic-cell-width) * 7 + 6 * 2 * var(--gutter-width));}
.grid_8{flex: 1 1 calc(var(--basic-cell-width) * 8 + 7 * 2 * var(--gutter-width));}
.grid_9{flex: 1 1 calc(var(--basic-cell-width) * 9 + 8 * 2 * var(--gutter-width));}
.grid_10{flex: 1 1 calc(var(--basic-cell-width) * 10 + 9 * 2 * var(--gutter-width));}
.grid_11{flex: 1 1 calc(var(--basic-cell-width) * 11 + 10 * 2 * var(--gutter-width));}
.grid_12{flex: 1 1 calc(var(--basic-cell-width) * 12 + 11 * 2 * var(--gutter-width));}
.grid_13{flex: 1 1 calc(var(--basic-cell-width) * 13 + 12 * 2 * var(--gutter-width));}
.grid_14{flex: 1 1 calc(var(--basic-cell-width) * 14 + 13 * 2 * var(--gutter-width));}
.grid_15{flex: 1 1 calc(var(--basic-cell-width) * 15 + 14 * 2 * var(--gutter-width));}
.grid_16{flex: 1 1 calc(var(--basic-cell-width) * 16 + 15 * 2 * var(--gutter-width));}

/*no margin*/
.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

/*extra space: prefix(left-spacing)*/
.prefix_1 {padding-left: calc(var(--basic-cell-width) * 1 + 1 * 2 * var(--gutter-width));}
.prefix_2 {padding-left: calc(var(--basic-cell-width) * 2 + 2 * 2 * var(--gutter-width));}
.prefix_3 {padding-left: calc(var(--basic-cell-width) * 3 + 3 * 2 * var(--gutter-width));}
.prefix_4 {padding-left: calc(var(--basic-cell-width) * 4 + 4 * 2 * var(--gutter-width));}
.prefix_5 {padding-left: calc(var(--basic-cell-width) * 5 + 5 * 2 * var(--gutter-width));}
.prefix_6 {padding-left: calc(var(--basic-cell-width) * 6 + 6 * 2 * var(--gutter-width));}
.prefix_7 {padding-left: calc(var(--basic-cell-width) * 7 + 7 * 2 * var(--gutter-width));}
.prefix_8 {padding-left: calc(var(--basic-cell-width) * 8 + 8 * 2 * var(--gutter-width));}
.prefix_9 {padding-left: calc(var(--basic-cell-width) * 9 + 9 * 2 * var(--gutter-width));}
.prefix_10 {padding-left: calc(var(--basic-cell-width) * 10 + 10 * 2 * var(--gutter-width));}
.prefix_11 {padding-left: calc(var(--basic-cell-width) * 11 + 11 * 2 * var(--gutter-width));}
.prefix_12 {padding-left: calc(var(--basic-cell-width) * 12 + 12 * 2 * var(--gutter-width));}
.prefix_13 {padding-left: calc(var(--basic-cell-width) * 13 + 13 * 2 * var(--gutter-width));}
.prefix_14 {padding-left: calc(var(--basic-cell-width) * 14 + 14 * 2 * var(--gutter-width));}
.prefix_15 {padding-left: calc(var(--basic-cell-width) * 15 + 15 * 2 * var(--gutter-width));}

/*extra space: suffix(right-spacing)*/
.suffix_1 {padding-right: calc(var(--basic-cell-width) * 1 + 1 * 2 * var(--gutter-width));}
.suffix_2 {padding-right: calc(var(--basic-cell-width) * 2 + 2 * 2 * var(--gutter-width));}
.suffix_3 {padding-right: calc(var(--basic-cell-width) * 3 + 3 * 2 * var(--gutter-width));}
.suffix_4 {padding-right: calc(var(--basic-cell-width) * 4 + 4 * 2 * var(--gutter-width));}
.suffix_5 {padding-right: calc(var(--basic-cell-width) * 5 + 5 * 2 * var(--gutter-width));}
.suffix_6 {padding-right: calc(var(--basic-cell-width) * 6 + 6 * 2 * var(--gutter-width));}
.suffix_7 {padding-right: calc(var(--basic-cell-width) * 7 + 7 * 2 * var(--gutter-width));}
.suffix_8 {padding-right: calc(var(--basic-cell-width) * 8 + 8 * 2 * var(--gutter-width));}
.suffix_9 {padding-right: calc(var(--basic-cell-width) * 9 + 9 * 2 * var(--gutter-width));}
.suffix_10 {padding-right: calc(var(--basic-cell-width) * 10 + 10 * 2 * var(--gutter-width));}
.suffix_11 {padding-right: calc(var(--basic-cell-width) * 11 + 11 * 2 * var(--gutter-width));}
.suffix_12 {padding-right: calc(var(--basic-cell-width) * 12 + 12 * 2 * var(--gutter-width));}
.suffix_13 {padding-right: calc(var(--basic-cell-width) * 13 + 13 * 2 * var(--gutter-width));}
.suffix_14 {padding-right: calc(var(--basic-cell-width) * 14 + 14 * 2 * var(--gutter-width));}
.suffix_15 {padding-right: calc(var(--basic-cell-width) * 15 + 15 * 2 * var(--gutter-width));}

/*justify-content*/
.justify-content-start{
    justify-content: start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-end{
    justify-content: end;
}
/*orders:*/
.order-1{order: 1}
.order-2{order: 2}
.order-3{order: 3}
.order-4{order: 4}
.order-5{order: 5}
.order-6{order: 6}
.order-7{order: 7}
.order-8{order: 8}
.order-9{order: 9}
.order-10{order: 10}
.order-11{order: 11}
.order-12{order: 12}
.order-13{order: 13}
.order-14{order: 14}
.order-15{order: 15}
.order-16{order: 16}