* {
  padding: 0;
  margin: 0;
}

.chart {
  //background: silver;
}

.male {
  transform: rotate(270deg);
  //border: 1px solid black;
}

.female {
  transform: rotate(90deg);
  //border: 1px solid black;
}
