@import "characteristics.css";
@import "typography.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

.main-profile {
    padding: 20px;
    margin: 20px;
    background: #f7f7f7;
    width: 470px;
    float: left;
}

.user-picture {
    margin: auto;
    display: block;
    border-radius: 100%;
    box-shadow: 0 7px;
}

.detailed-profile {
    width: 960px;
    margin: 20px 20px 20px;
}

.column {
    width: 440px;
    float: left;
}