.window{
  width: 500px;
  height: 600px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #dddfe2;
  border-radius: 10px;

  .up{
    margin-left: 200px;
    display: flex;
    flex-flow: column wrap-reverse;
    width: 100px;
    height: 200px;
    background-color: black;
    transform: skewX(-60deg) rotate(-90deg);
    &1, &2, &3, &4, &5, &6, &7, &8, &9 {
      width: calc(100% / 3 - 2px);
      height: calc(100% / 3 - 2px);
      //background-color: white;
      box-sizing: border-box;
      border: 2px solid black;
      margin: 1px;
    }
  }

  .front{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-left: 65px;
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;
    &1, &2, &3, &4, &5, &6, &7, &8, &9 {
      width: calc(100% / 3 - 2px);
      height: calc(100% / 3 - 2px);
      //background-color: white;
      box-sizing: border-box;
      border: 2px solid black;
      margin: 1px;
    }
  }

  .right{
    width: 170px;
    height: 200px;
    transform: skewY(-30deg);// rotate(-90deg);
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    margin-left: 265px;
    margin-top: -250px;
    &1, &2, &3, &4, &5, &6, &7, &8, &9 {
      width: calc(100% / 3 - 2px);
      height: calc(100% / 3 - 2px);
      //background-color: white;
      box-sizing: border-box;
      border: 2px solid black;
      margin: 1px;
    }
  }

}
