@import "header";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #E6ECF0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}