{{#each links}}
    <a href="#" class="sidebar__link {{#active}}sidebar__link--active{{/active}}">
        <span class="sidebar__icon {{#active}}sidebar__icon--active"{{/active}}">{{icon}}</span>
        {{text}}
    </a>
{{/each}}