{{#each links}}
    <a href="#" class="gmail-sidebar__link {{#active}}gmail-sidebar__link--active{{/active}}">
        <span class="gmail-sidebar__icon {{#active}}gmail-sidebar__icon--active"{{/active}}">{{icon}}</span>
        {{text}}
    </a>
{{/each}}