.materials__image {
    margin-left: 10px;
    overflow: hidden;
    flex-grow: 3;
    color: transparent;
    flex-basis: 740px;
}

.materials__image_content {
    width: 100%;
}
.materials__description {
    margin-left: 10px;
    margin-top: 20px;
    align-self: flex-start;
    flex-grow: 1;
    flex-basis: 90px;
    font-size: 14px;
    font-weight: 100;
    line-height: 18px;
}

.materials__description_underlined {
    color: #065580;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid rgba(6, 85, 128, 0.1);
}
.materials__fonts {
    overflow: hidden;
    display: block;
    position: relative;
    flex-grow: 1;
    flex-basis: 193px;
    margin-right: 10px;
}

.materials__fonts_bureau-sans {
    overflow: visible;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fonts__background {
    position: absolute;
    fill: #df3d4a;
    width: 100%;
    transform: rotate(180deg);
}

.fonts__background_greyed {
    fill: #bdac9c;
    transform: none;
}

.fonts__background_transparent {
    transform: none;
    fill: #fff;
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: .5px;
}
.fonts__general {
    color: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 100;
    margin-bottom: 21px;
}
.fonts__other {
    margin-bottom: 21px;
}

.fonts__other_content {
    text-align: left;
    color: inherit;
}
.fonts__link {
    right: 150px;
    top: 180px;
    position: relative;
}

.fonts__link_books {
    left: 150px;
}

.fonts__link_school {
    left: 150px;
}
.fonts__icon {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
}

.fonts__icon_school {
    background: #e20016;
}
.fonts__title {
    margin-top: 5px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    line-height: 27px;
}

.fonts__title_school {
    color: #e20016;
}
.fonts__amount {
    margin-top: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.15);
}

.fonts__amount_school {
    color: #e20016;
    text-decoration-color: #e20016;
}

.icon__svg {
    top: 10px;
    left: 9px;
    position: absolute;
    width: 20px;
    height: 20px;
    fill: #000;
}

.icon__svg_books {
    left: 10px;
}

.icon__svg_school {
    left: 10px;
}
.icon__svg-letter {
    fill: #df3d4a;
}

.icon__svg-letter_books {
    fill: #bdac9c;
}

.icon__svg-letter_school {
    fill: #ffffff;
}

.general__title {
    font-size: 24px;
    line-height: 27px;
}
.general__example {
    font-size: 136px;
    line-height: 1;
}
.general__name {
    font-size: 35px;
    line-height: 36px;
}
.general__description {
    margin-top: 5px;
}
.general__price {
    text-decoration: underline;
    text-decoration-color: #cccccc;
    color: #cccccc;
}

.general__price:hover {
    color: #000000;
    opacity: 0.14;
}

.other__title {
    margin: 0;
    font-size: 35px;
    line-height: 36px;
}

.other__title_checked {
    left: 20px;
    position: relative;
}

.other__title_checked:before {
    position: absolute;
    content: "";
    left: -30px;
    width: 35px;
    height: 35px;
    background: url("/images/check.svg.png");
    background-size: cover;
}
.other__price {
    color: #065580;
    text-decoration: underline;
    text-decoration-color: rgba(6, 85, 128, 0.1);
}

@media (max-width: 1200px) {
    .materials__fonts {
        display: none;
    }

    .materials__fonts_bureau-sans {
        display: flex;
    }

    .fonts__link {
        display: none;
    }

    .materials__image {
        margin-left: 0;
    }
}
@media (max-width: 960px) {
    .materials__description {
        margin-left: 0;
    }
}

/*# sourceMappingURL=materials.css.map */
