.right-side-block{
  width: 305px;
  display: flex;
  flex-direction: column;


  &__story{
    padding: 10px;
    display: inherit;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    box-sizing: border-box;
  }

  &__story-header{
    display: inherit;
    flex-direction: row;
  }


  &__story-name{
    text-decoration: none;
    color: #4b4f56;
    font-size: 13px;
    font-weight: 600;
  }

  &__story-navigation{
    text-decoration: none;
    color: #4267b2;
    font-size: 13px;

  }

  &__event{
    text-decoration: none;
    color: rgb(54, 88, 153);
    background-color: white;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    padding: 5px;
    font-size: 13px;
    font-weight: 600;
  }


  &__pages{
    display: inherit;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    padding: 15px;
  }

  &__pages-head{
    display: inherit;
    flex-direction: row;

  }


  &__pages-to-like-photo{
    height: 157px;
    overflow: hidden;

  }

  &__language-selection{
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;

  }



  &__footer{
    padding: 15px;
    color: rgb(144, 148, 156);
    font-size: 13px;
    font-weight: 400;
  }

  &__user-avatar{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
  }

  &__user-name{
    text-decoration: none;
    color: #365899;
    font-size: 13px;
    font-weight: 600;
  }

  &__help-text{
    font-size: 13px;
    font-weight: 400;
    color: rgb(141, 148, 158);
  }
}

.story{
  display: flex;
  flex-direction: row;
  align-content: center;
}



.like-button{
  display: inherit;
  align-self: center;
  width: 100%;
  height: 38px;
  border: none;
  background: transparent;
  color: #4b4f56;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}



.pages__button{
  border: 1px;
  width: 78px;
  text-overflow: ellipsis;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(204, 208, 213);
  font-size: 12px;
  font-weight: 600;
  height: 32px;

}