.hash-tag_container {
  margin-left: 70px;
}

@import "../../fonts/fonts.css";

.hash-tag_grey{
  width: 118px;
  height: 23px;
  font-family: AvenirNext-Bold, serif;
  font-size: 19px;
  font-weight: bold;
  text-align: left;
  color: #939393;

}
.hash-tag_container:first-child{
  margin-top: 25px;
}
.hash-tag_container :last-child{
  margin: 0;
}