@import "../../fonts/fonts.css";

.header{
  display: flex;
  border-bottom: 2.5px #e5e5e5 solid;
  align-items: center;
}


.persona-name_container{
  margin-left: 200px;
}



.person_name{
  margin: 0;
  width: 462px;
  height: 118px;
  font-family: AvenirNext-Bold,  serif;
  font-size: 97px;
  text-align: left;
  color: #181818;
}

.person_name_title{
  margin-left: 320px;
  height: 23px;
  font-family: AvenirNext-Bold,serif;
  font-size: 19px;
  font-weight: bold;
  text-align: left;
  color: #4c4c4c
}