html,body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1vw;
    background-color: #ecf0f1;
}

#container{
    margin: 15px auto;
    width: 65%;
    height: auto;
}

/*header: */
header{
    width: 100%;
    height: auto;
    background-color: #2980b9;
}

nav{
    color: white;
    width: 65%;
    margin: auto;
}

ul{
    list-style-type: none;
}

ul.menu{
    margin: 0;
    width: 30%;
    float: right;
    text-align: center;
    overflow: hidden;
    padding: 10px 0 10px 0;
}

ul.menu li{
    display: inline-block;
    border-right: 1px solid #7F8C8D;
    padding: 2px;
    font-size: 1vw;
}

ul.menu li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.search{
    margin: 0;
    vertical-align: center;
    width: 62%;
    text-decoration: none;
    border: none;
    display: inline-block;
    padding: 10px 0 10px 0;
    font-size: 1vw;
}

#search-field{
    width: 50%;
    height: 1.3vw;
    background-color: white;
    color: grey;
    border-radius: 4px;
    border: none;
}
#search-button{
    width: 7%;
    height: 1.4vw;
    background-color: #ECF0F1;
    color: grey;
    border-radius: 4px;
    border: none;
    position: relative;
    left: -0.1vw;
}

.fa-facebook{
    color: white;
    float: left;
    margin: 0 10px 0 0;
    padding: 9px 0 9px 0;
    font-size: 1.6vw;
    display: inline-block;
    vertical-align: center;
}

.buttons_menu{
    color: black;
    opacity: 0.6;
}
.buttons_menu:hover{
    opacity: 1;
}

a.menu_signs:hover{
    background-color: rgba(0,0,0, 0.4);
}

/*sidebar*/
#side_menu{
    width: 20%;
    height: auto;
    float: left;
}

ul.sidebar{
    margin: 0;
    padding: 0;
}
ul.sidebar i{
    color: #2C3E50;
}

ul.sidebar li{
    padding: 3px 0 3px 0;
}

li.link:hover{
    background-color: rgba(255,255,255, 0.5);
    font-weight: bold;
    box-shadow: 1px 1px 1px #BDC3C7;
}

ul.sidebar li a{
    text-decoration: none;
    color: #2C3E50;
    font-size: 14px;
}

ul.sidebar li.active{
    background-color: rgba(255,255,255, 0.5);
    font-weight: bold;
    box-shadow: 1px 1px 1px #BDC3C7;
}

ul.sidebar li.drop_link a{
    color: #2980B9;
}
ul.sidebar li.drop_link a:hover{
    text-decoration: underline;
}

b.section_name{
    color: #7F8C8D;
    font-size: 14px;
}

/*feed: */
#feed{
    float: left;
    width: 50%;
    height: auto;
    margin: 0 12px 0 12px;
}

#make_post, #friend_post{
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid #7F8C8D;
    border-radius: 5px;
}

#friend_post{
    margin-top: 10px;
}

#make_post input{
    border:none;
}

ul.post_bar{
    overflow: hidden;
    padding: 3px;
    margin: 3px;
    background-color: #ECF0F1;
}

ul.post_bar li{
    display: inline;
    border-right: 1px solid #BDC3C7;
    padding: 5px;
}

ul.post_bar li a{
    text-decoration: none;
    font-size: 15px;
}
ul.post_bar li a:hover{
    text-decoration: underline;
}

input{
    width: 99%;
    height: 60px;
    background-color: white;
    color: grey;
}

ul.hashtag{
    margin: 20px;
}

ul.hashtag li{
    display: inline;
    padding: 3px;
    background-color: #ECF0F1;
    border-radius: 10px;
    font-size: 0.9vw;
}

ul.hashtag li:hover{
    background-color: #BDC3C7;
}
ul.hashtag li a, ul.feelings li a{
    text-decoration: none;
}

td.post_info{
    text-align: left;
    width: 90%;
}

ul.feelings{
    padding: 10px;
    margin: 0 30px 0 30px;
}
ul.feelings li{
    display: inline;
    padding: 40px;
    text-align: center;
}

ul.feelings li a{
    color: #7F8C8D;
}

td img{
    margin-left: 10%;
}

/*events*/
#events{
    float: right;
    width: 25%;
    height: auto;
}

#story, #event_list, #friend_request, #people_u_know {
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid #BDC3C7;
    border-radius: 4px;
}
#event_list, #friend_request, #people_u_know{
    margin-top: 10px;
}

ul.event_title{
    padding: 3px;
    margin: 3px;
    overflow: hidden;
}
ul.event_title li{
    display: inline;
    padding: 2px;
    float: right;
    font-size: 0.8vw;
}

ul.event_title li a{
    text-decoration: none;
}
ul.event_title li a:hover{
    text-decoration: underline;
}

ul.event_title li b{
    color: #2980b9;
}

table{
    padding: 3px;
    margin: 3px;
    width: 85%;
}
td{
    font-size: 0.8vw;
    color: #7F8C8D;
}
td p{
    margin-top: 2px;
}
td b{
    color: #2980b9;
}
td i{
    font-size: 2.6vw;
}
td.image{
    font-size: 50px;
    color: #2980b9;
}
td a{
    text-decoration: none;
}
td a:hover{
    text-decoration: underline;
}

td button{
    width: 80%;
    font-size: 0.7vw;
}

