.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2979ff;
  height: 32px;
  border-radius: 4px 4px 0 0 ;

  &__user-info {
    display: flex;
    align-items: center;
    margin-left: 12px;
    &--icon {
      width: 6px;
      height: 6px;
      background-color: #69f0ae;
      border-radius: 100%;
    }
    &--name {
      font-size: 12px;
      font-weight: bold;
      color: #ffffff;
      margin: 0 0 0 9px;
    }
  }


  &__action-button {
    border: 0;
    background: 0;
  }

  &__action-button:hover {
    cursor: pointer;
  }

  &__action-button-img {
    width: 12px;
    height: 12px;
  }

}