body {
  font-family: Open Sans, sans-serif;
  display: flex;
  background: #e3f2fd;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 292px;
  height: 384px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
}