.GameOfLife {
  &__board {
    &-line {
      height: 10px;
    }

    &-cell {
      background: #ccc;
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid white;

      &--active {
        background: red;
      }
    }
  }

  &__toolbar {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;

    &-btn {
      background: #8b8b8b;
      color: #fff;
      font-weight: bold;
      font-style: italic;
      border: none;
      padding: 10px 15px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

      &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        cursor: pointer;
      }
    }
  }
}