.profile-container {
  display: grid;
  flex-flow: column;
  align-items: center;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas: "header header"
                       "aside article";
  width: 850px;
}