<header class="hdr">
    <img class="logo" src="images/facebook-emblem.jpg">
    <input class="glob_src" type="search" placeholder="Search">
    <div id="right-buttons">
        {{#header}}
            {{#left_buttons}}
                <button class="hdr_btn">{{.}}</button>
            {{/left_buttons}}

            {{#right_buttons}}
                <button class="logo_btns">{{&.}}</button>
            {{/right_buttons}}
        {{/header}}
    </div>
</header>
<aside class="left-menu">
    {{#left-menu}}
        <a class="nv_btns">{{&.}}</a>
    {{/left-menu}}
</aside>
<!--<main>-->

<!--<section id="posts">-->
<!--<section id="news_hdr">-->
<!--<button class="nv_btns"><img class="nv_btn_img" src="images/post.png"> Create post</button>-->
<!--<button class="nv_btns"><img class="nv_btn_img" src="images/album.png"> Photo/Video albums</button>-->
<!--<button class="nv_btns"><img class="nv_btn_img" src="images/video.png"> Live video</button>-->
<!--</section>-->
<!--<section id="new_post">-->
<!--<p id ="post_crt">What's on your mind, Mark?</p>-->
<!--<button class="nv_btns"><img class="nv_btn_img" src="images/list.png">List</button>-->
<!--<button class="nv_btns"><img class="nv_btn_img" src="images/photo.png">Photos</button>-->
<!--<button class="nv_btns"><img class="nv_btn_img" src="images/tag_friend.png">Tag friend</button>-->
<!--</section>-->
<!--<article>-->

<!--</article>-->
<!--</section>-->
<!--<div><p>Stories</p></div>-->
<!--</main>-->