.grade {
  border-radius: 5px;
  padding: 8px 12px;
  font-weight: 600;

  &--pink {
    color: #ff0079;
    border: 1px solid #ff0079;
  }

  &--white {
    color: #ffffff;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
  }

  &--small {
    padding: 2px 5px;
  }

  &--centered {
    position: relative;
    bottom: 6px;
    margin-right: 15px;
  }
}
