body,
html {
  margin: 0;
  background-color: #f8f8f8;
  font-family: SourceSansPro, sans-serif;
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  &__wrapper {
    display: flex;
    justify-content: center;
  }
}
