.header .navigation-menu .navigation__link, .header .navigation-menu__section, .header .navigation-menu, .header .search, .header__facebook-logo {
  display: flex;
  align-items: center;
}

.header .navigation-menu .button__menu, .header .navigation-menu .button__help, .header .navigation-menu .button__notifications, .header .navigation-menu .button__messages, .header .navigation-menu .button__requests, .header .search .search-form .search-form__button .search-form__button-icon, .header__facebook-logo .facebook-logo__icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
  background-repeat: no-repeat;
  background-size: 29px 1475px;
  background-color: transparent;
  height: 24px;
  width: 24px;
  border: none;
  display: inline-block;
}

.header {
  top: 0;
  margin: 0;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  width: 100%;
  height: 43px;
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
}
.header__facebook-logo .facebook-logo__icon {
  background-position: 0 -442px;
}
.header .search {
  height: 24px;
}
.header .search .search-form {
  height: 24px;
  margin-left: 5px;
  background-color: white;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #3b5998;
}
.header .search .search-form .search-form__input {
  padding: 0 0 0 10px;
  width: 400px;
  border: none;
  height: 24px;
  font-size: 14px;
}
.header .search .search-form .search-form__button {
  width: 46px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: #f5f6f7;
  cursor: pointer;
}
.header .search .search-form .search-form__button .search-form__button:hover {
  background-color: #ebedf0;
}
.header .search .search-form .search-form__button .search-form__button:active {
  background-color: #4080ff;
}
.header .search .search-form .search-form__button .search-form__button-icon {
  height: 14px;
  width: 14px;
  background-position: 0 -1445px;
}
.header .navigation-menu__section {
  height: 25px;
  padding-left: 10px;
}
.header .navigation-menu .navigation__link {
  text-decoration: none;
}
.header .navigation-menu .navigation__link:hover {
  background-color: pink;
}
.header .navigation-menu .navigation__text {
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
}
.header .navigation-menu .navigation__profile-picture {
  border-radius: 50%;
  overflow: hidden;
  width: 24px;
  height: 24px;
}
.header .navigation-menu .button__menu, .header .navigation-menu .button__help, .header .navigation-menu .button__notifications, .header .navigation-menu .button__messages, .header .navigation-menu .button__requests {
  opacity: 0.6;
  padding: 0;
  margin-right: 10px;
}
.header .navigation-menu .button__requests {
  background-position: 0 -467px;
}
.header .navigation-menu .button__requests:active {
  background-position: 0 -492px;
  opacity: 1;
}
.header .navigation-menu .button__messages {
  background-position: 0 -717px;
}
.header .navigation-menu .button__messages:active {
  background-position: 0 -742px;
  opacity: 1;
}
.header .navigation-menu .button__notifications {
  background-position: 0 -617px;
}
.header .navigation-menu .button__notifications:active {
  background-position: 0 -642px;
  opacity: 1;
}
.header .navigation-menu .button__help {
  background-position: 0 -1153px;
  height: 20px;
  width: 20px;
}
.header .navigation-menu .button__menu {
  background-position: 0 -1326px;
  height: 16px;
  width: 16px;
  margin-right: 0;
}

/*# sourceMappingURL=header.css.map */
