%centered {
  display: flex;
  align-items: center;
}
%facebook-icons_left-navigation {
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/iBA4AtCbkJ5.png") no-repeat;
  background-size: 32px 2835px;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}
.left-navigation {
  font-size: 13px;
}
.left-navigation__list {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
}
.list__item {
  list-style-type: none;
  padding: 5px;

  &:hover {
    background-color: #69f0ae;
  }
}
.navigation__link {
  text-decoration: none;
  @extend %centered
}
.navigation__profile-picture {
  border-radius: 50%;
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.navigation__text {
  color: black;
}
.section-header {
  color: #616770;
  font-size: 13px;
  margin: 10px 0 5px 5px;
}
.navigation__news-feed-icon {
  @extend %facebook-icons_left-navigation;
  background-position: 0 -1388px;
}
.navigation__messenger-icon {
  @extend %facebook-icons_left-navigation;
  background-position: 0 -170px;
}
.navigation__community-name-icon {
  @extend %facebook-icons_left-navigation;
  background-position: 0 -1556px;
}
.navigation__events-icon {
  @extend %facebook-icons_left-navigation;
  background-position: 0 -421px;
}
.navigation__groups-icon {
  @extend %facebook-icons_left-navigation;
  background-position: 0 -107px;
}
.navigation__pages-icon {
  @extend %facebook-icons_left-navigation;
  background-position: 0 -233px;
}
.navigation__fundraisers-icon {
  @extend %facebook-icons_left-navigation;
  background-position: 0 -1010px;
}
.navigation__friend-list-icon {
  @extend %facebook-icons_left-navigation;
  background-position: 0px -947px;
}