$text: #F1C40F;

.task-list {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;

  &__title {
    margin: 0;
    padding: 0;
    color: $text;
  }

  &__add-new {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  &__buttons {
    color: transparent;
    border-radius: 50%;
    border: 2px solid white;
    background: inherit;
    position: relative;
    display: block;

    &:hover {
      border-color: yellow;
    }
  }

  &__task {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
  }
}

.task {
  &__buttons {
    margin-right: auto;

    &_first {
      order: 1;
    }

    &_last {
      order: 3;
    }
  }

  &__name {
    order: 2;
    color: white;
    font-size: 18px;
    position: relative;
    overflow: hidden;

    &_crossed {
      text-decoration: line-through;
    }

    &_hidden {
      display: none;
    }
  }
}