@import '../colors.scss';
@import '../fonts.scss';

.button {
  background-color: $color--primary;
  color: white;
  font-family: $font-family--regular;
  font-size: $font-size--small;
  border: 1px solid $color--white;
  border-radius: 5px;
  cursor: pointer;

  &:active {
    background-color: $color--secondary;
  }

  &:hover {
    position: relative;
    bottom: 1px;
    left: 1px;
    background-color: $color--secondary;
  }

  &:disabled {
    background-color: $color--grey;
  }
}
