@import "../header/header.less";
@import "../colors.less";

@aside-nav-width: 230px;

.aside-nav{
    background-color: @youtube-white;
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
    top: @header-height;
    bottom: 0;
    left: 0;
    width: 230px;
    border-right: 1px solid @youtube-light-gray;
    padding: 10px 25px 0 25px;
    display: flex;
    flex-direction: column;
}