.event-list{
  padding: 15px 5px;
  height: 55px;

  &__watch-events{
    color: rgb(54, 88, 153);
    float: none;
    font-weight: 600;
  }

  &__icon{
    margin-right: 5px;
    display: inline-block;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    background-color: rgb(245, 246, 247);

    &:before{
      content: "";
      height: 16px;
      width: 16px;
      position: absolute;
      left: 0;
      background: url("/images/icons/calendar.jpg");
      background-size: 16px;
    }
  }

  &__time{
    color: rgb(144, 148, 156);
    font-size: 13px;
    font-weight: 200;
    margin-left: 5px;
  }
}