@import "../../../colors";

.article{
  background-color: @instagram-white;
  border: 1px solid @instagram-grey;
  height: 700px;
  width: 500px;
  overflow: hidden;
  margin-bottom: 100px;
}