<section title="Letter" class="letter-in-list">
    <img src="../img/check_box_outline_blank_black_20dp.png" class="image_props letter_icons">
    <img src="../img/star.png" class="image_props letter_icons">
    <img src="../img/Next-icon.png" class="image_props letter_icons">
    <span class="letter-in-list_sender"><b>Ivankiv M</b></span>
    <span class="letter-in-list_theme"><b>LESS!!!</b></span>
    <span class="letter-in-list_text">То саме що і в попередному листі </span>
    <span class="letter-in-list_time"><b>10:34</b></span>
</section>