:root {
  --size: 15px;
}

.Cristian {
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid black;
}

.Cristian_pop{
    background-color: gold;
}
