.main-field-container {
    width: 36em;
}

.post-section__article {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 1em;
}

.post-section__article_header_container {
    padding: 12px 12px 0;
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.post-section__article_header__author-img {
    width: 36px;
    object-fit: cover;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #eee;
    margin-right: 10px;
}

.post-section__article_header__article-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.post-section__article_header__author-name {
    font-size: 14px;
    line-height: 1.38;
    font-weight: 600;

}

.post-section__article_header__annotation {
    display: flex;
    flex-flow: row;
}

.post-section__article_header__annotation {
    color: #616770;
    font-size: 12px;
}

.post-section__article_content {
}

.post-section__article_content > p {
    margin: 6px 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.38;
    padding: 0 20px;

}

.post-section__article_content__img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 600px;

}

.post-section__article_header_dots {
    height: 20px;
    width: 20px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/palWVhMO67o.png");
    background-position: -284px -245px;
}

.post-section__article_header__txt-container {
    display: flex;
    flex-flow: column;
}

.post-section__article_header__txt-container > h4 {
    margin: 0;
    color: #616770;
    padding-right: 22px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.38;
}

.post-section__article_header__ico_globe {
    width: 12px;
    height: 12px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/palWVhMO67o.png");
    background-position: -343px -270px;
    background-size: auto;
    background-repeat: no-repeat;
    margin-left: 5px;
}

.post-section__article_post-reaction {

}

.post-section__article_reaction_area__likes-container {
    padding: 10px 20px;
    height: 15px;
}

.post-section__article_reaction_area__likes-container > span {
    display: flex;
}

.post-section__article_reaction_area__likes-container{
    cursor: pointer;
    color: #606770;
    font-size: 13px;
}

.post-section__article_reaction_area__likes-container .post-section__article_reaction_area__who-reacted {
    float: left;
    line-height: 18px;
    padding-left: 5px;
}

.post-section__article_reaction_area__likes-container .post-section__article_reaction_area__how-many-comments {
    float: right;
}

.post-section__article_post-reaction__reaction-options_list {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #d5d9df;
    margin: 0 15px;
    padding: 5px 0;
}

.post-section__article_post-reaction__reaction-options_list-item {
    width: 100%;
    padding: 0 1px;
}

.post-section__article_post-reaction__reaction-options_button:hover {
    background: #e9ecf0;
}

.post-section__article_post-reaction__reaction-options_button {
    background: none;
    border: none;
    font-weight: 400;
    display: flex;

    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    border-radius: 3px;
    cursor: pointer;

    color: #606770;

}

.post-section__article_post-reaction__reaction-options {
    border-bottom: 1px solid #d5d9df;
}

.post-section__article_post-reaction__reaction-options_share, .post-section__article_post-reaction__reaction-options_comment, .post-section__article_post-reaction__reaction-options_like {
    margin-right: 3px;
    height: 18px;
    width: 18px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yl/r/xxqRJkcZ0ly.png");
}

.post-section__article_post-reaction__reaction-options_share {
    background-position: 0 -293px;
}

.post-section__article_post-reaction__reaction-options_comment {
    background-position: -19px -198px;
}

.post-section__article_post-reaction__reaction-options_like {
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/palWVhMO67o.png");
    background-position: -389px -245px;
}

.post-section__article_reaction_area__love, .post-section__article_reaction_area__thumbsup{
    float: left;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yl/r/xxqRJkcZ0ly.png");
    height: 16px;
    width: 16px;
    margin-right: 2px;
}

.post-section__article_reaction_area__who-reacted{
    float: left;
}

.post-section__article_reaction_area__thumbsup {
    background-position: -17px -526px;
}

.post-section__article_reaction_area__love {
    background-position: 0 -509px;
}

.post-section__article_post-reaction__post-comment {
    display: flex;
    padding: 10px 15px;
}

.post-section__article_post-reaction__post-comment_author-img {
    object-fit: cover;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #eee;
    margin-right: 10px;
}

.post-section__article_post-reaction__post-comment_input {
    padding: 5px 15px;
    width: 100%;
    background-color: #f2f3f5;
    border: 1px solid #ccd0d5;
    border-radius: 25px 0 0 25px;
    border-right: none;
}

.post-section__article_post-reaction__post-comment_comment-options {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    background-color: #f2f3f5;
    border: 1px solid #ccd0d5;
    border-radius: 0 25px 25px 0;
    border-left: none;
}

.post-section__article_post-reaction__post-comment_comment-option_smile, .post-section__article_post-reaction__post-comment_comment-option_photo, .post-section__article_post-reaction__post-comment_comment-option_gif, .post-section__article_post-reaction__post-comment_comment-option_sticker {
    height: 16px;
    width: 16px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/ZpN7MehwMck.png");
}

.post-section__article_post-reaction__post-comment_comment-option_smile {
    background-position: 0 -168px;
}

.post-section__article_post-reaction__post-comment_comment-option_photo {
    background-position: -46px -57px;
}

.post-section__article_post-reaction__post-comment_comment-option_gif {
    background-position: -34px -168px;
}

.post-section__article_post-reaction__post-comment_comment-option_sticker {
    background-position: -34px -219px;
}