.aside-right{

}

.stories{
    width: 15em;
    height: 100%;
    padding: 10px 12px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.aside-right-head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.horizontal-small{
    display: flex;
    align-items: center;
}

.horizontal-small>a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.horizontal-small>span{
    padding: 0px 3px;
    height: 22px;
}

.stories-icon.archive{
    display: inline-block;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/8M2_U-8yMz7.png");
    background-size: auto;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    background-position: -37px -167px;
    margin-right: 4px;
}

.story-img{
    object-fit: cover;
    height: 52px;
    width: 52px;
    border-radius: 26px;
}

.story-item{
    display: flex;
    margin-bottom: .5em;
}

.story-text-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.story-img-container{
    margin-right: .5em;
    border-radius: 50%;
    border: 2px solid #3578e5;
    height: 52px;
    width: 52px;
    padding: 2px;
}

.story-header{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #365899;
}

.story-description{
    color: #8d949e;
    font-weight: normal;
    cursor: pointer;
    font-size: 13px;
}

.icon-see-more{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/nvsdYm79QLU.png);
    background-position: -220px -270px;

    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
}


.stories-see-more{
    font-size: 13px;
    display: flex;
}

.your-story-img{
    width: 24px;
    height: 24px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/8M2_U-8yMz7.png");
    background-position: 0 -180px;
    
}

.your-story-img-container{
    margin-right: .5em;
    border-radius: 50%;
    border: 1px solid #dadde1;
    background: #f5f6f7;
    min-height: 52px;
    min-width: 52px;
    justify-content: center;
    align-items: center;
    display: flex;  
    padding: 2px;    
}
