body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}

main {
    margin: auto;
}


button{
    padding: 0;
    border: 0;
    background-color: transparent;
    color: transparent;
}

img
{
    color: transparent !important;
}


.default-page{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    width: 1050px;
    padding-top: 64px;
}

.profile-page{
    padding-top: 42px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
<<<<<<< HEAD
    width: 53em;
=======
    width: 815px;
>>>>>>> parent of 64dd120... Merge branch 'master' of /home/zabulskyy/UCU/Web/web-cource-common with conflicts.
}