body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}

main {
    padding-top: 60px;
    display: flex;
    width: 1050px;
    justify-content: space-between;
    margin: auto;
}

button{
    padding: 0;
    border: 0;
    background-color: transparent;
    color: transparent;
}

main > div {
    display: flex;
    width: 65em;
    margin: auto;
    justify-content: space-between;
}

header.header-in-menu{
    color: #616770;;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
}

img.rnd {
    border-radius: 999px;
}

img.small {
    width: 20px;
    height: 20px;
}

img{
    color: transparent !important;
}


.panel {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}