.nav-top {
    padding: 7px 0;
    background-color: #4267b2;
    position: fixed;
    width: 100%;
}
.nav-top .nav-container {
    display: flex;
    margin: 0 auto;
    width: 1100px;
    justify-content: space-between;
}


.nav-top .nav-top-logo-container{
    display: flex;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.nav-top .nav-top-menu-container{
    display: flex;
    display: flex;
    flex-flow: row;
    list-style: none;
    margin: 0;
}


.nav-top .person-profile{
    background: url("../img/person.png");
    height: 24px;
    width: 24px;
    background-size: 24px 24px;
    border-radius: 24px;
    margin-right: .7em;
}

.nav-top .profile-item{
    display: flex;
}

.nav-top .nav-top-menu-item {
    align-items: center;
    display: flex;
    border-radius: 3px;
    height: 24px;
    border: 0;
    padding: 1px 10px;
    background: transparent;
}


.nav-top .nav-top-menu-item *{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
}

.nav-top .nav-top .hover-dark{
    border-radius: 3px;
}

.nav-top .nav-top .hover-dark:hover{
    background: #3156a1;
}

.nav-top .line-after{

}

.nav-top .line-after {
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    content: "";
    /* margin-left: 10px; */
}

.nav-top .logo{
    margin: 0 .5em 0 0;
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -442px;
    width: 24px;
    height: 24px;
}

.nav-top .nav-top-form-button{
    width: 3em;
    border: solid .3em transparent;
    border-radius: 0 2px 2px 0px;
    background: #fff;
}

.nav-top .nav-top-form-button .inside-button-search{
    width: 1em;
    height: 1em;
}

.nav-top .nav-top-form{
    display: flex;
}

.nav-top .nav-top-form-input{
    width: 25em;
    border: solid .3em transparent;
border-radius: 2px 0 0 2px;
}

.nav-top .nav-top-icon{
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png");
    width:24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: auto;
}

.nav-top .nav-top-icon.people{
    background-position: 0 -892px;
}
.nav-top .nav-top-icon.messenger{
    background-position: 0 -942px;
}
.nav-top .nav-top-icon.notifications{
    background-position: 0 -792px;
}
.nav-top .nav-top-icon.question{
    background-position: 0 -992px;
}
.nav-top .nav-top-icon.dropdown{
    background-position: 0 -842px;
}