
.nav-left{
    /* background-color: red; */
    width: 12em;
    font-size: 15px;
    height: 100%;
}

.nav-left .left-menu{
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding: 3px 3px;
    margin: 0 0 15px 0;
}

.nav-left .indicator {
    font-size: 11px;
    color: #90949c;
    float: right;
}

.nav-left .left-menu-text{
    text-decoration: none;
    color:black;
    font-size: 13px;
    float: left;
}

.nav-left .left-menu-profile{
    float: left;
}

.nav-left .left-menu-dots{
    float: right;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/wSKPH5OOIOY.png");
    background-position: -326px -245px;
    height: 20px;
    width: 20px;
}

.nav-left .header-in-menu{
    padding: 3px 7px;
    margin: 10px 0 0 0;
}

.nav-left .nav-left-icon{
    background-size: auto;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

.nav-left .left-menu-item{
    transition: all .2s ease;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 3px 3px;
    height: 20px;
    line-height: 20px;
}
.nav-left .left-menu{
    align-items: center;
    display: flex;
}

.nav-left .left-menu-text{
    margin-left: 8px;
}

.nav-left .left-menu-item:hover{
    border: 1px solid #ddd;
    background: #fefefe;
}


.nav-left .nav-left-icon.news-feed{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/zeSf-ifGzv1.png);
    background-position: 0 -1325px;
}

.nav-left .nav-left-icon.messenger{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/zeSf-ifGzv1.png);
    background-position: 0 -170px;
}

.nav-left .nav-left-icon.idea{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/zeSf-ifGzv1.png);
    background-position: 0 -380px;
}

.nav-left .nav-left-icon.calendar{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y1/r/PCTrfZN79_z.png);
    background-position: 0 -21px;
}

.nav-left .nav-left-icon.events{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/JQbi4HBVkPQ.png);
    background-position: 0 -63px;
}

.nav-left .nav-left-icon.pages{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/zeSf-ifGzv1.png);
    background-position: 0 -233px;
}

.nav-left .nav-left-icon.friend-lists{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/zeSf-ifGzv1.png);
    background-position: 0 -884px;
}

.nav-left .nav-left-icon.fundraisers{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/zeSf-ifGzv1.png);
    background-position: 0 -947px;
}

.nav-left .nav-left-icon.memories{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/zeSf-ifGzv1.png);
    background-position: 0 -1388px;
}

.nav-left .nav-left-icon.see-more{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/nvsdYm79QLU.png);
    background-position: -220px -270px;
}


.nav-left .active{
    border: 1px solid #ddd;
    background: #fefefe;
    font-weight: bold;
}

.nav-left .left-menu-see-more{
    border: none;
    background: none;
    display: flex;
    padding-left: 5px;
    cursor: pointer;
}

.nav-left .left-menu-see-more{
    color: #365899;
    text-decoration: none;
    font-size: 13px;
    margin-top: 5px;
}

.nav-left .left-menu-see-more:hover{
    border: none;
    background: none;
}


.nav-left .left-menu-text{
    font-size: 13px;
}

.nav-left .see-more-link{
    margin-left: 8px;
}