.main-toolbar {
    padding: 7px 0;
    background-color: #4267b2;
    position: fixed;
    width: 100%;
}

.main-toolbar__container {
    display: flex;
    margin: 0 auto;
    width: 1050px;
    justify-content: space-between;
}

.main-toolbar__toolbar-container {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.main-tool-bar__navigation-list {
    display: flex;
    flex-flow: row;
    list-style: none;
    margin: 0;
}

.main-tool-bar__profile-section-img {
    object-fit: cover;
    height: 24px;
    width: 24px;
    background-size: 24px 24px;
    border-radius: 24px;
    margin-right: .7em;
}

.main-tool-bar__navigation-list-link, .main-tool-bar__profile-section-txt, .main-tool-bar__profile-section {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    height: 24px;
    border: 0;
    padding: 1px 10px;
    background: transparent;
    border-radius: 3px;
}

.main-tool-bar__navigation-list-link:hover, .main-tool-bar__profile-section-txt:hover {
    background: #3156a1;
}

.main-toolbar .main-tool-bar__line-after {
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    content: "";
}

.main-toolbar__fb-logo {
    margin: 0 .5em 0 0;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") no-repeat 0 -442px;
    width: 24px;
    height: 24px;
}

.main-tool-bar__search-button {
    width: 3em;
    border: solid .3em transparent;
    border-radius: 0 2px 2px 0;
    background: #ebedf0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-tool-bar__search-button-ico {
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yh/r/xs_zpaJOZfw.png") 0 -1331px;
    width: 14px;
    height: 14px;
}

.main-tool-bar__form {
    display: flex;
}

.main-tool-bar__search-input {
    width: 25em;
    border: solid .3em transparent;
    border-radius: 2px 0 0 2px;
}

.main-tool-bar__navigation-list-button_people, .main-tool-bar__navigation-list-button_messenger, .main-tool-bar__navigation-list-button_notifications, .main-tool-bar__navigation-list-button_question, .main-tool-bar__navigation-list-button_dropdown {
    width: 24px;
    height: 24px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") no-repeat;
    background-size: auto;
    margin: 0 .5em;
}

.main-tool-bar__navigation-list-button_people {
    background-position: 0 -892px;
}

.main-tool-bar__navigation-list-button_messenger {
    background-position: 0 -942px;
}

.main-tool-bar__navigation-list-button_notifications {
    background-position: 0 -792px;
}

.main-tool-bar__navigation-list-button_question {
    background-position: 0 -992px;
}

.main-tool-bar__navigation-list-button_dropdown {
    background-position: 0 -842px;
}