.main-field-container{
    padding: 15px 0 0 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.page-info-container{
    background: rebeccapurple;
    width: 23em;
}

.posting-form__container{
    margin-bottom: 1em;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.posts-field-container{
    width: 31em;
}