.main-field-container {
}

.page-info__container {
}

.page-info__intro {
}

.page-info__photos, .page-info__friends {
    border: 1px solid #dddfe2;
    background: #ffffff;
    border-radius: 3px;
    margin-bottom: 1em;
}

.page-info__photos__header, .page-info__friends__header {
    padding: 10px 9px 3px 9px;
    display: inline-block;
    width: 285px;
}

.page-info__photos__header_ico, .page-info__friends__header_ico {
    width: 24px;
    float: left;
    height: 24px;
    margin-right: 10px;
}

.page-info__photos__header_ico {
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/oDx6U6Uuxkj.png");
}

.page-info__friends__header_ico {
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/cmq7JWrSWe6.png");
}

.page-info__photos__header_txt, .page-info__friends__header_txt {
    font-size: 16px;
    float: left;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.page-info__friends__indicator {
    color: #90949c;
    font-size: 14px;
    line-height: 24px;
    padding-left: 5px;
}

.page-info__photos__header_add-photo, .page-info__photos__header_find-friends {
    float: right;
    line-height: 24px;
    color: #3578e5;
    text-decoration: none;
    font-size: 12px;
}

.page-info__photo, .page-info__friend {
    width: 6em;
    height: 6em;
    margin: 2px;
    object-fit: cover;
}

.page-info__photos_container, .page-info__friends_container {
    width: 19em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 19em;
}