.page-navigation{
  margin-top: 50px;
  margin-right: 10px;
  vertical-align: top;
  width: 180px;
  height: 384px;
  display: inline-block;

  &__element{
    padding: 2px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);

    &_link:hover{
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid #bdc3c7;
      font-weight: bold;
    }

    &_active{
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid #bdc3c7;
      font-weight: bold;
    }
  }

  &__element-content{
    text-decoration: none;
    color: black;
    font-size: 13px;
  }

  &__element-title{
    color: #7f8c8d;
    margin: 10px 0 0 0;
    font-size: 13px;
  }
}