@import "../disable-indentation/disable-indentation.less";

.face-button{
    .disable-indentation();
    width: 27px;
    height: 27px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
}