@import "../hidden-text/hidden-text.less";

.logo{
    .hidden-text();
    background-image: url("../../img/logo.png");
    background-size: 100px 30px;
    width: 100px;
    height: 30px;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}