body{
    padding: 0;
    margin: 0;
}

:root{
    --gutter-width: 5px;
    --basic-cell-width: calc(6.25% - 2 * var(--gutter-width))
}

div{
    height: 50px;
}

.container_16{
    width: 820px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 820px) {
    .container_16{
        width: auto;

    }
}

[class*=grid]{
    float: left;
    margin: calc(var(--gutter-width)) calc(var(--gutter-width));

}

.grid_1{
    width: calc(var(--basic-cell-width) * 1 + 2*var(--gutter-width) - 2*var(--gutter-width));
    background: gold;
}

.grid_2{
    width: calc(var(--basic-cell-width )* 2 + 2*var(--gutter-width)*2 - 2*var(--gutter-width));
}


.grid_3{
    width: calc(var(--basic-cell-width)*3 + 2*var(--gutter-width)*3 - 2*var(--gutter-width));
}

.grid_4{
    width: calc(var(--basic-cell-width)*4 + 2*var(--gutter-width)*4 - 2*var(--gutter-width));
}

.grid_5{
    width: calc(var(--basic-cell-width)*5 + 2*var(--gutter-width)*5 - 2*var(--gutter-width));
    background: goldenrod;
}

.grid_6{
    width: calc(var(--basic-cell-width)*6 + 2*var(--gutter-width)*6 - 2*var(--gutter-width));
}

.grid_7{
    width: calc(var(--basic-cell-width)*7 + 2*var(--gutter-width)*7 - 2*var(--gutter-width));
}

.grid_8{
    width: calc(var(--basic-cell-width)*8 + 2*var(--gutter-width)*8 - 2*var(--gutter-width));
}

.grid_9{
    width: calc(var(--basic-cell-width)*9 + 2*var(--gutter-width)*9 - 2*var(--gutter-width));
}

.grid_10{
    width: calc(var(--basic-cell-width)*10 + 2*var(--gutter-width)*10 - 2*var(--gutter-width));
    background: burlywood;
}

.grid_11{
    width: calc(var(--basic-cell-width)*11 + 2*var(--gutter-width)*11 - 2*var(--gutter-width));
}

.grid_12{
    width: calc(var(--basic-cell-width)*12 + 2*var(--gutter-width)*12 - 2*var(--gutter-width));
}

.grid_13{
    width: calc(var(--basic-cell-width)*13 + 2*var(--gutter-width)*13 - 2*var(--gutter-width));
}

.grid_14{
    width: calc(var(--basic-cell-width)*14 + 2*var(--gutter-width)*14 - 2*var(--gutter-width));
}

.grid_15{
    width: calc(var(--basic-cell-width)*15 + 2*var(--gutter-width)*15 - 2*var(--gutter-width));
    background: #9b59b6;
}

.grid_16{
    width: calc(var(--basic-cell-width)*16 + 2*var(--gutter-width)*16 - 2*var(--gutter-width));
    background: #3498cd;
}