html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ecf0f1;
}
* {
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li{
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
  text-decoration: inherit;
}

button{
  color: inherit;
  border: none;
  background-color: inherit;
}

.top-bar {
  position: fixed;
  width: 100%;
  background: #4267b2;
  overflow: hidden;
  height: 40px;
  z-index: 1;
}

.top-bar__logo {
  margin: 9px 5px 5px 25px;
  float:left;
  vertical-align: middle;
  line-height: 40px;
  height: 24px;
  width: 24px;
  overflow: hidden;
  color: transparent;
  display: inline-block;
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
  background-size: cover;
}
.top-bar__navigation {
  width: 393px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px 0 0 2px;
  border: none;
  padding: 0 0 0 5px;
}

.top-bar__search-form {
  display: inline;
  line-height: 40px; }
.search-form__input-field {
  width: 400px;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  padding: 5px;
  height: 24px;
  border: none;
  vertical-align: middle;
  box-sizing: border-box;
}

.search-form__search-button {
  background: #f5f6f7;
  border: none;
  height: 24px;
  width: 45px;
  overflow: hidden;
  color: transparent;
  position: relative;
  border-radius: 0 3px 3px 0;
  vertical-align: middle;
}

.search-form__search-button:before {
  content: "";
  height: 16px;
  width: 15px;
  position: absolute;
  background: black;
  left: 13px;
  top: 5px;
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
  background-size: 24px;
  background-position: 3px 26px;
  border-radius: 0 3px 3px 0;
}

.navigation-menu {
  margin-left: 40px;
  display: inline;
}

.navigation-menu li:hover {
  background: rgba(0, 0, 0, .1);
  border-radius: 3px;
}

.navigation-menu__menu-element{
display: inline;
font-size: 16px;
line-height: 40px;
font-weight: 700;
color: white;
padding: 7px;
}

.top-bar__buttons:before {
  content: "";
  height: 21px;
  width: 22px;
  position: absolute;
  top: 10px;
}


.top-bar__additional-menu{
  display: inline;
  vertical-align: middle;
  overflow: hidden;
  width: 36px;
  height: 32px;
  margin: 0;
  padding: 0;
}
.top-bar__buttons {
  width: 24px;
  height: 24px;
  padding: 4px;
  color: transparent;
  border-radius: 0 2px 2px 0;
  opacity: .5;
}

.small-buttons__friends-request:before {
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 501px;
  background-size: 24px;
}
.small-buttons__mesenger-button:before {
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 441px;
  background-size: 24px; }
.small-buttons__notification-button:before {
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 565px;
  background-size: 24px; }
.additional-buttons__help-button:before {
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 421px;
  background-size: 24px; }
.additional-buttons__control-button:before {
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png") 3px 545px;
  background-size: 24px; }

.top-bar__additional-navigation{
  width: 200px;
  height: 40px;
  display: inline;
  vertical-align: middle;
  border-radius: 2px 0 0 2px;
  border: none;
  padding: 0 0 0 5px;
}
