.aside-right {
  display: flex;
  flex-flow: column;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  background: #fff;
  height: 305px;
  width: 284px;
  padding: 12px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 12px;

    &-left {
      color: #616770;
      font-size: 13px;
      font-weight: 600;
      line-height: 13px;
    }

    &-right {
      display: flex;
      &--link-archive {
        display: flex;
        margin-right: 4px;
        &-icon {
          margin: 0 5px 0 5px;
          height: 12px;
          width: 12px;
          background-size: auto;
          background: url("https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/gkGTiCyWKAb.png") no-repeat 0 -329px;
        }
      }

      &--link-settings {
        margin-left: 4px;
      }

      &--link-archive:hover, &--link-settings:hover {
        text-decoration: underline;
      }

    }

  }

  &__container {
    width: 100%;
    display: flex;
    flex-flow: column;

    &-section {
      display: flex;
      height: 56px;
      margin-bottom: 8px;

      &--logo {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: #f5f6f7;
        border: 1px solid #dadde1;
        border-radius: 50%;
        width: 56px;
        &-inside-1 {
          height: 24px;
          width: 24px;
          background: url("https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/gkGTiCyWKAb.png") no-repeat 0 -180px;
        }

        &-inside-2 {
          background: url("https://res.cloudinary.com/schwajka/image/upload/r_max,c_fill,h_56,w_56/v1542184997/facebook_images/maxresdefault.jpg");
        }

        &-inside-3 {
          background: url("https://res.cloudinary.com/schwajka/image/upload/c_fill,g_face:center,h_56,r_30,w_56/a_0/v1542184935/facebook_images/ben-shapiro-1280x720.jpg");
        }

        &-inside-4 {
          background: url("https://res.cloudinary.com/schwajka/image/upload/c_fill,g_face:center,h_56,r_30,w_56/a_0/v1542184935/facebook_images/ben-shapiro-1280x720.jpg");
        }

      }

      &--info {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin-left: 8px;
        &-header {
          color: #365899;
          font-weight: 600;
        }

        &-info {
          color: #8d949e;
        }

      }

    }

  }

}

.stories-logo {
  height: 56px;
  width: 56px;
}