.contact_container{
  margin: 0;
  background-color: #363656;
  height: 100%;
}
.contact_container:first-child{
  background-color: #363656;
}
.contact{
  display: flex;
  justify-content: start;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(43, 43, 71, 0.19);
  background-image: linear-gradient(to bottom, #3f3f5f, #383857);
}

.contact_info{

  margin-left: 10px;

}
.contact_image{

  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 100%;
  background-size: cover;
}

.contact_info_name{
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  line-height: 2.33;
  text-align: left
}

.contact_info_message{


  font-size: 12px;
  text-align: left;
  color: #9996d2;

}


#first_contact{
  background-image:
          url("https://res.cloudinary.com/dh2chxfzx/image/upload/c_fill,ar_1:1,g_auto,r_max,bo_1px_solid_red,b_rgb:262c35/v1541187271/sofa9.png");
}
#second_contact{
   background-image:
           url("https://res.cloudinary.com/dh2chxfzx/image/upload/c_fill,ar_1:1,g_auto,r_max,bo_1px_solid_red,b_rgb:262c35/v1541187248/sofa2.png");
 }

#third_contact{
  background-image:
          url("https://res.cloudinary.com/dh2chxfzx/image/upload/c_fill,ar_1:1,g_auto,r_max,bo_1px_solid_red,b_rgb:262c35/v1541187253/sofa3.png");
}
#fourth_contact{
  background-image:
          url("https://res.cloudinary.com/dh2chxfzx/image/upload/c_fill,ar_1:1,g_auto,r_max,bo_1px_solid_red,b_rgb:262c35/v1541187260/sofa5.png");
}
#fifth_contact{
  background-image:
          url("https://res.cloudinary.com/dh2chxfzx/image/upload/c_fill,ar_1:1,g_auto,r_max,bo_1px_solid_red,b_rgb:262c35/v1541157507/sofa7.png");
}