.project {
  background-color: #d4d4d4;
  width: 175px;
  border-top: 7.5px solid rgb(101, 57, 152);
  font-size: 0.8em;
  padding-left: 5px;
  letter-spacing: .5px;
  color: rgb(100, 100, 100);
  font-weight: 500;
  margin: 0px 40px 0px 20px;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }

  &_volunteering {
    padding-left: 8px;
  }

  &__header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
    width: 200px;
    height: 50px;
    background-color: transparent;
  }

  &__info {
    align-items: start;
  }

  &__title {
    word-wrap: break-word;
    color: rgb(100, 100, 100);

    letter-spacing: .01px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 1.05em;
    margin: 0;
    margin-left: 2px;

    &:after {
      content: "";
      display: inline-block;
      border-bottom: 1px solid #b4b4b4;
      width: 104%;
      margin-left: -7px;
    }
  }

  &__main-title {
    margin: 0;
    word-wrap: break-word;
    //width: 80%;
    color: rgb(68, 68, 68);
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 2.1em;
    padding-top: 6px;
    padding-left: 3px;
    letter-spacing: 2.85px;

    &_volunteering {
      line-height: 16px;
      padding-top: 16px;
      margin-bottom: -11px;

      &:after {
        content: "";
        display: inline-block;
        border-bottom: 1px solid #b4b4b4;
        width: 104%;
        margin-left: -7px;
      }
    }
  }

  &__description {
    letter-spacing: 2px;
    height: 52%;
    max-width: 164px;
    margin-top: 5px;
    font-size: 11px;
    font-weight: 700;
    padding: 2px 1px 2px 3px;
    background-color: rgb(185, 185, 185);
  }
}

