body, html {
    margin: 0;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.main-header {
    margin: 0;
    width: 1495px;
    height: 48px;
    padding: 8px;
    background: transparent;
    border-bottom: 1px solid darkgray;
    overflow: hidden;
    display: inline-block;
}

.menu-ico {
    width: 24px;
    height: 24px;
    padding: 12px;
}

.main-logo {
    margin-right: 100px;
}

.main-nav {
    display: inline-block;
}

.search {
    width: 587px;
    height: 46px;
    background: #ECF0F1;
    border: transparent;
    padding-left: 20px;
    vertical-align: top;
    font-size: 1em;
}

.button-top {
    vertical-align: top;
    width: 50px;
    height: 46px;
    background: #ECF0F1;
    border: none;
}

.search-button-left {
    border-radius: 3% 0 0 3%;
    margin-right: 0;
    float: left;

}

.search-button-right {
    border-radius: 0 3% 3% 0;
    float: right;
}

.header-img {
    width: 38px;
    height: 38px;
}

.arrow {
    float: right;
}

.left-nav {
    float: right;
}

.user-menu {
    width: 132px;
    height: 46px;
    border: 1px solid #BDC3C7;
    border-radius: 8%;
    background: transparent;
    padding: 0;
}

.user-menu:hover {
    background: #ECF0F1;
}

.left-nav-img {
    vertical-align: center;
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

#org {
    width: 78px;
    height: 32px;
    padding: 0;
}

#compose {
    margin-top: 10px;
    margin-left: 8px;
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    border-radius: 20px;
    white-space: normal;
    color: white;
    background-color: #e74c3c;
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#compose:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

#selection input {
    width: 17px;
    height: 17px;
    vertical-align: top;
}

#selection img {
    margin-bottom: 5px;
}

#selection:hover {
    cursor: pointer;
}

.selection-image {
    width: 12px;
    height: 14px;
    margin-right: 20px;
    padding: 10px;
}

.selection-image:hover {
    border-radius: 50%;
    background-color: #95A5A6;
}

.content-nav {
    float: left;
    margin-right: 10px;
    width: 256px;
}

.main-aside {
    float: left;
    display: inline-block;
    width: 256px;
    height: 800px;
}

.nav-buttons {
    list-style: none;
    width: 100%;
    padding-left: 0;
    border-bottom: 1px solid silver;
}

.nav-buttons li {
    width: 202px;
    height: 32px;
    border-radius: 0 10px 10px 0;
}

.nav-buttons button {
    width: 202px;
    height: 32px;
    padding: 0 26px 0 26px;
    background: transparent;
    border: none;
    border-radius: 0 10px 10px 0;
    text-align: left;
    font-weight: bold;
    color: #2C3E50;
}

.nav-buttons button:hover {
    background: #ECF0F1;
}

.selected {
    background: #E74C3C;
}

.message {
    display: inline-block;
    overflow: hidden;
    width: 1208px;
    height: 20px;
    padding: 10px 0 10px 0;
    border-top: 1px solid #BDC3C7;
}

.message h5 {
    vertical-align: top;
    display: inline-block;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 100px;
}

.message p {
    display: inline-block;
    vertical-align: top;
    width: 821px;
    margin: 0;
}

.message time {
    vertical-align: top;
    display: inline-block;
    margin-top: 0;
    float: right;
    font-weight: bold;
}

.message input img {
    margin-right: 8px;
    float: left;
}

.message img {
    width: 15px;
    height: 15px;
}

.message input:hover, .message img:hover {
    cursor: pointer;
}

.chats {
    text-align: center;
    border-bottom: 1px solid silver;
    padding-bottom: 10px;
}

.chats img {
    opacity: .5;
    width: 72px;
    height: 72px;
}

.user-menu-2 {
    border-bottom: 1px solid silver;
    width: 256px;
}

.user-menu-2 img {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.user-menu-2 p {
    display: inline-block;
    vertical-align: top;
}

.right-nav {
    float: right;
    width: 55px;
    height: 600px;
}

.right-nav img {
    float: right;
    padding: 10px;
    width: 20px;
    height: 20px;
}
