<header class="main-header" id="header"></header>
<aside class="left-menu" id="left-menu"></aside>
<main class="news" id="news">
    <section class="news__new-post" id="create_new_post"></section>
    <section id="posts"></section>
</main>
<aside class="right-menu" id="right-menu"></aside>