<h4>Stories</h4>
{{#stories}}
    <div class="right-menu__story">
        <img src="images/{{image}}" class="user_icon">
        <p class="right-menu__story__user">{{text}}</p>
    </div>
{{/stories}}
