.favorite-brands{
  margin-left: 30px;
}

.favorite-brands_container{
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px;
  justify-items: center;
}

.brand_icon{
  width: 90px;
  height: 70px;

  margin: 0;
}