@import "../../fonts/fonts.css";
.personal-info{
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: auto;
  grid-template-areas:
          "about preferenses"
          "goals pain_poits"
          "known_habbits brands";
}


.list{
  padding: 0;
}
.list li{
  color: #c7ac6d;
  font-family: AvenirNext-Regular, serif;
  font-size: 22px;
  text-align: left;
}
.list li p{
  color: #181818;
}