.personal-info{
  display: grid;
  grid-template-columns: 300px 500px;
  grid-template-rows: auto;
  grid-template-areas:
          "about preferenses"
          "goals pain_poits"
          "known_habbits brands";
}