
@import "../../fonts/fonts.css";
.preferences{
  grid-area: preferenses;
  margin-left: 30px;
}

.preferences_wrapper{
  display: flex;
  justify-content: space-between;
}

.preferences_item{
  font-family: AvenirNext-Regular, serif;
  font-size: 18px;
  text-align: left;
  color: #181818;
  justify-self:start;
}

.preferences__row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.preferences__value{
  display: flex;
  flex-direction: row;
}
.preferences__row:first-child{
  margin-top: 0px;
}
.preferences_item_container{
  width: 250px;
}