
@import "../../fonts/fonts.css";
.preferences{
  grid-area: preferenses;
  margin-left: 30px;
}

.preferences_wrapper{
  display: flex;
  justify-content: space-between;
}

.preferences_item{
  font-family: AvenirNext-Regular, serif;
  font-size: 18px;
  text-align: left;
  color: #181818;
  justify-self:start;
}

.preferences_item_container{
  justify-self: start;
}