.main-tool-bar__container {
    display: flex;
    margin: 0 auto;
    width: 1050px;
    justify-content: space-between;
}

.main-tool-bar__tool-bar-container {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.main-tool-bar__line-after {
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    content: "";
}
.main-tool-bar__fb-logo {
    margin: 0 .5em 0 0;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") no-repeat 0 -442px;
    width: 24px;
    height: 24px;
}

