@import "styles/header/header.css";
@import "styles/header/header_compilations_text_counter.css";
@import "styles/header/header_menu.css";
@import "styles/main_page/main_page.css";
@import "styles/main_page/photo_gallery/photos.css";
@import "styles/main_page/photo_gallery/photo_gallery.css";
@import "styles/main_page/photo_gallery/photo_gallery_caption.css";
@import "styles/main_page/schooll-info/days_to_shooll_counter.css";
@import "styles/main_page/schooll-info/school-info_heading.css";
@import "styles/main_page/schooll-info/school-types.css";
@import "styles/main_page/schooll-info/days_to_school.css";
@import "styles/news/icon_of_day.css";
@import "styles/main_page/schooll-info/school-info.css";
@import "styles/news/tech-bucket.css";
@import "styles/news/interface.css";



#account{
    position: absolute;
    right: 15px;
    top: 10px;
    width: 30px;
    height: 30px;
}

.clear-fix{
    clear: both;
}

.
