.todo {
    display: flex;
    flex-direction: column;
    background: #0096cf;
    width: 350px;
    height: 450px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    &__header {
        width: 350px;
        height: 70px;
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }

    &__date {
        display: flex;
        align-items: center;
        color: #ffffff;
        margin-right: 18px;
        font-size: 16px;
    }
    
    &__main {
        flex: 2;
        padding: 16px;
        overflow: auto;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__list {
        margin: 0;
        padding-right: 16px;
        padding-left: 16px;
    }

    &__item {
        height: 40px;
        line-height: 40px;
        margin-bottom: 16px;
        color: #ffffff;
        overflow: hidden; 
        list-style-position: inside;
        white-space: nowrap; 
        text-overflow: ellipsis;
    }

    &__input {
        background: #008ec4;
        border: none;
        font-family: 'Montserrat', sans-serif;
        padding: 16px;
        width: 318px;
        outline: none;
        color: #ffffff;
        border-bottom-right-radius: 5px;
        
        &::placeholder {
            color: #ffffff; 
        }
    }
}