@import "components/header";
@import "components/search-form";
@import "components/user-pic";
@import "components/main-section";
@import "components/left-nav";
@import "components/icon";
@import "components/feed-form";

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e9ebee;
  overflow: scroll;
  font-family: Helvetica, Arial, sans-serif;
}