html,
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    background-color: #fafafa;
}

.main-header {
    background: #fff;
    overflow: hidden;
    height: 56px;
    box-shadow: 0 0 4px #7f8c8d;
}

.main-navigation {
    width: 1800px;
    height: 32px;
    margin: 10px auto;
}

button.side_menu{
    margin: 0 20px 0 20px;
    vertical-align: middle;
    color: transparent;
    display: inline-block;
    background: url("images/menu_button_header.png.png");
    background-size: cover;
    height: 15px;
    width: 20px;
    border: none;
}

button.side_menu:focus{
    background-color: #ecf0f1;
}

#logo {
    margin: 0 10px 0 0;
    padding: 5px;
    vertical-align: middle;
    line-height: 40px;
    height: 10px;
    width: 80px;
    overflow: hidden;
    color: transparent;
    display: inline-block;
    background: url("images/logo_main.png");
    background-size: cover;
}

.search {
    display: inline;
}

.main-header li,
.main-header ul {
    display: inline;
}

.main-header ul{
    margin-left: 120px;
}

.main-header li{
    margin: 0 10px 0 10px;
}

.main-header li button{
    border: none;
    display: inline-block;
    vertical-align: middle;
    color: transparent;
    background-size: cover;
    padding: 5px;
}

.main-header li button:focus{
    background-color: #ecf0f1;
}
.main-header li button.user:focus{
    background-color: rgba(39,174,96, 0.5);
    border: 1px solid #3498db;
}

button.create_video{
    height: 24px;
    width: 24px;
    background: url("images/video-record-button_header.svg");
}
button.youtube-apps{
    height: 20px;
    width: 20px;
    background: url("images/apps_youtube_button_header.png");
}

button.message{
    height: 20px;
    width: 22px;
    background: url("images/message_button_header.png");
}
button.notification{
    height: 24px;
    width: 24px;
    background: url("images/bell_button_header.png");
}

button.user{
    height: 35px;
    width: 35px;
    background: rgba(39,174,96, 0.5) url("images/user_button_header.png");
    border-radius: 30px;
}

#search-field {
    width: 563px;
    height: 32px;
    padding: 4px 10px 4px 10px;
    border-radius: 2px 0 0 2px;
    font-size: 16px;
    vertical-align: middle;
    box-sizing: border-box;
    color: rgba(17, 17, 17, 0.4);
    background-color: #ffffff;
    border: 1px solid rgba(17, 17, 17, 0.4);
    margin-left: 240px;
}
#search-field:focus{
    box-shadow: inset 1px 1px 2px #bdc3c7;
}

#search-button {
    vertical-align: middle;
    background: rgb(248, 248, 248);
    height: 32px;
    width: 65px;
    overflow: hidden;
    color: transparent;
    position: relative;
    border-radius: 0 2px 2px 0;
    border: 1px solid rgba(17, 17, 17, 0.4);
    border-left: none;
}

#search-button:hover{
    background-color: #ecf0f1;
}
#search-button:focus{
    background-color: #bdc3c7;
}

#search-button:before {
    content: "";
    height: 14px;
    width: 15px;
    position: absolute;
    background: black;
    left: 20px;
    top: 9px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
    background-size: 24px;
    background-position: 3px 26px;
    border-radius: 0 3px 3px 0;
}

main{
    padding: 0;
    margin: 0 100px 0 100px;
}

main ul{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}
main li{
    display: inline-block;
    margin-bottom: 25px;
}
main li>a{
    text-decoration: none;
}

main li h5{
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    margin: 10px 0 10px 0;
}

main li video {
    height: 117px;
    width: 210px;
}
#details{
    color: #7f8c8d;
    line-height: 5px;
    font-size: 13px;
    font-weight: 400;
}


