@import "../colors.less";

@search-form-border-raduis: 3px;
@search-form-border: 1px solid @youtube-gray;;

.search-form{
    display: flex;
    align-items: center;
    height: 30px;
    box-sizing: border-box;
}