@import "../header/header.less";
@import "../video-nav/video-nav.less";
@import "../aside-nav/aside-nav.less";

.content{
    margin-top: @header-height + @video-nav-height;
    margin-left: @aside-nav-width;
    padding: 0 30px;
    padding-top: 10px;
}