@import "../../fonts/fonts.css";

.footer{
  grid-area: footer;

}

.footer__navigation{
  display: flex;
  height: 65px;
  flex-wrap: wrap;
  background-color: white;
  justify-content:center;
  align-items: center;
}

.footer__navigation__item{
  text-decoration: none;
  color: #aab8c2;

  font-family: Segoe-UI-Regular, Arial, serif;
  font-size: 14px;
  margin-left: 6px;
  margin-top: 5px;
  margin-right: 6px;

}

.footer__navigation__item:hover{
  text-decoration: underline;
}