.pacman {
    background-color: #333333;
    position: relative;
}

.pacman::before, .pacman::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    top: 2px;
    left: 2px;
    border: solid 13px #f1c40f;
    border-radius: 50%;
    border-right-color: transparent;
    animation: final__mouthTop 0.5s ease infinite;
}

.pacman::after {
    border-color: #f1c40f;
    border-right-color: transparent;
    animation: final__mouthBottom 0.5s ease infinite;
}

.pacman_bottom {
    transform: rotate(90deg);
}

.pacman_left {
    transform: rotate(180deg);
}

.pacman_top {
    transform: rotate(-90deg);
}

.pacman_right {
    transform: rotate(0deg);
}

@keyframes final__mouthTop {
    50% {
        transform: rotate(44deg);
    }
}

@keyframes final__mouthBottom {
    50% {
        transform: rotate(-44deg);
    }
}