.Chart {
  background-color: transparent;
  color: #ecf0f1;

  &__grid {
    .vx-line {
      stroke: #bdc3c7;
    }
  }

  &__middle-line {
    stroke: #8e44ad;
    stroke-dasharray: 12;
    stroke-width: 2;
  }

  &__line {
    stroke-width: 2;
  }
}