$N: 12;

:root {
    --grid-#{$N}-width: 820px;
    --gutter-width: 5px;
    --basic-cell-width: calc(100%/#{$N} - 2 * var(--gutter-width));
}

.grid-#{$N}{
    width: var(--grid-#{$N}-width);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.grid-#{$N}_highlight{
    background-color: aqua;

    @for $i from 1 through $N {
        .grid-#{$N}__grid-#{$i}{
            background: gold;
        }    
    }
}

@for $i from 1 through $N {
    .grid-#{$N}__grid-#{$i}{
        float: left;
        margin: 0 var(--gutter-width);
        width: calc(var(--basic-cell-width) * #{$i} + #{$i - 1} * 2 * var(--gutter-width));
    }
}
