.right-menu {
  width: 244px;
}
.right-menu__stories {
  padding: 12px;
}
.right-menu__top-bar {
  /*background-color: #69f0ae;*/
  justify-content: space-between;
  margin-bottom: 10px;
}
.stories__header {
  margin: 0;
  color: #616770;
  font-size: 13px;
}
.stories__archive-icon {
  background-position: 0 -308px;
  margin-right: 5px;
}
.story__main-body {
  display: flex;
}
.add-story-icon-box {
  width: 55px;
  height: 55px;
  background-color: #f5f6f7;
  border: 1px solid #dadde1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-story-icon-box:hover {
  background-color: #e9ebee;
}
.add-story-icon {
  background-position: 0 -180px;
  height: 24px;
  width: 24px;
}
.story__owner-name {
  font-size: 13px;
  font-weight: bold;
  /*width: 100%;*/
  background-color: #69f0ae;
}
.story__main-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
