.navigation-bar {
  width: 180px;
  position: fixed;
  left: 20em;
}
.navigation-bar-font {
  font-size: 13px;
  color: black;
}
.navigation-bar__profile-picture {
  border-radius: 50%;
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.navigation-bar__news-feed-icon {
  background-position: 0 -1388px;
}
.navigation-bar__messenger-icon {
  background-position: 0 -170px;
}
.section-header {
  color: #616770;
  font-size: 13px;
  margin: 10px 0 5px 5px;
}
.navigation-bar__community-name {
  background-position: 0 -1556px;
}
.navigation-bar__events {
  background-position: 0 -421px;
}
.navigation-bar__groups {
  background-position: 0 -107px;
}
.navigation-bar__pages {
  background-position: 0 -233px;
}
.navigation-bar__fundraisers {
  background-position: 0 -1010px;
}
.navigation-bar__friend-list {
  background-position: 0px -947px;
}