.feed {
  background: lightcyan;
  width: 500px;
  margin-left: 200px;
  margin-right: 20px;
}
.navigation-bar,
.feed,
.right-menu {
  margin-top: 55px;
}
.feed__post {
  background-color: #f3f3f3;
  margin-bottom: 10px;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feed__item {
  margin-bottom: 10px;
  background-color: #e5e5e5;
}
.right-menu {
  width: 244px;
}
.right-menu__stories {
  background-color: lightgrey;
}
.post__attachments {
  /*bottom: 0;*/
  /*align-self: flex-end;*/
  background-color: #2979ff;
}