.legal-info {
  padding-top: 30px;
  margin: 0px 60px 20px 60px;

  display: flex;
  justify-content: center;

  &__section {
    max-width: 1400px;
    flex-shrink: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    &--lined {
      border-bottom: 2px solid rgba($color: #babbc3, $alpha: 0.2);
    }
  }

  &__logo {
    text-transform: uppercase;
    font-family: SourceSansPro, sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #494c62;
    margin: 0;
  }

  &__link {
    font-size: 15px;
    letter-spacing: normal;
    color: #80818a;
    text-decoration: none;
    margin-right: 20px;
  }

  &__text {
    opacity: 0.5;
    font-size: 15px;
    color: #80818a;
  }

  &__wrapper {
    max-width: 1400px;
    flex: 0 0 100%;
  }
}
