.movies {
  display: grid;
  grid-template-columns: repeat(12, 75px);
  row-gap: 31px;
  column-gap: 31px;
  grid-auto-rows: 3fr;
  margin: 40px 0 0 0;
  @media screen and (max-width: 1300px) {
    grid-template-columns: repeat(9, 75px);
  }
  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(6, 75px);
  }
  @media screen and (max-width: 400px) {
    grid-template-columns: repeat(3, 75px);
  }
}
