.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;

  &__logo {
    text-transform: uppercase;
    width: 379px;
    font-family: SourceSansPro, sans-serif;
    font-size: 30px;
    color: #ffffff;
    margin-left: 76px;
    margin-top: 20px;
    font-weight: 450;
  }

  &__button-wrapper {
    margin-right: 40px;
  }

  &__button {
    text-transform: uppercase;
    color: #ffffff;
    font-family: SourceSansPro, sans-serif;
    background: none;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 15px;

    &--focus {
      padding: 10px 30px;
      background: #ff0079;
    }
  }

  &__button:hover {
    cursor: pointer;
  }
}
