.top-movie {
  background: url('../img/wrath.jpg') no-repeat 0 -310px;
  background-size: cover;
  height: 600px;

  display: flex;
  flex-flow: row wrap;

  &__footer {
    align-self: flex-end;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__child {
    flex: 1 100%;
  }
}
