.AddToDoForm {
  height: 30px;

  &__input {
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid #37474f;
    width: calc(100% - 50px);
    padding: 0 15px;

    &:focus {
      outline: none;
    }

  }

  &__submit {
    background-color: #37474f;
    border: none;
    color: white;
    height: 100%;
    width: 50px;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

