.App {
  background-color: #0fc57c;
    border: 1px solid black;
}

.App__text {
  color: white;
}

.App_win {
  background-color: green;
}

.App_lose {
  background-color: red;
}

.Church {
    position: relative;
    z-index: 1;
  height: 100%;
  width: 200px;
  box-sizing: border-box;
  border-left: 5px solid darkred;
  background-color: saddlebrown;
  margin-left: auto;
}
