@import "../../colors.less";
@import "../../fonts.less";

.video-nav__item{
    display: block;
    padding: 10px 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-left: 20px;
    text-decoration: none;
    font-size: @youtube-small;
    font-family: @youtube-font;
    font-weight: bold;
    color: @youtube-dark-gray;
}

.video-nav__item:hover{
    border-bottom-color: @youtube-red;
}