@import "../layout-header/layout-header.less";
@import "../layout-video-nav/layout-video-nav.less";
@import "../layout-aside-nav/layout-aside-nav.less";

.content-wrapper{
    margin-top: @header-height + @video-nav-height;
    margin-left: @aside-nav-width;
    display: flex;
    justify-content: center;
}