<header class="header">
    <section class="logo_section">
        <button class="menu_hider"></button>
        <a href="https://youtube.com/" class="logo">
            <img src="https://www.freeiconspng.com/uploads/youtube-logo-png-transparent-image-5.png">
        </a>
    </section>
    <section class="top_panel">
        <div class="search_bar">

            <input type="text" class="search_bar__input" title="input" placeholder="Search">
            <button class="search_bar__lupa"></button>
        </div>
        <div class="buttons">
            <button class="buttons__apps_button"></button>
            <button class="buttons__notification_button"></button>
            <button class="buttons__profile_button"></button>
        </div>
    </section>

</header>