<main class="main">
    <nav class="side_menu">
        {{#side_menu}}
            {{#buttons}}
                <button class="side_button">
                    <img src="{{src}}" class="side_button__img">
                    <span class="side_button__text">{{text}}</span>
                </button>
            {{/buttons}}
        {{/side_menu}}
    </nav>
    <section id="videos_window" class="videos_window"></section>
</main>