<section class="window">

    <section class="videos">
        {{#videos}}
            <section class="video">
                <button class="video__image">
                    <img src="{{src}}" class="video__image--image">
                </button>
                <button class="video__title">{{title}}</button>
            </section>
        {{/videos}}
    </section>
</section>