.article{
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 600px;
  background-color: #ffffff;
  margin: 0 auto 100px auto;
}

.article__header{
  height: 60px;
  display: flex;
}

.article__header .avatar{
  display: inline-block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  height: 100%;
  width: 25px;
  margin: 15px;
}

.article__header a{
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  height: 100%;
}

.article__header .username{
  margin-top: 15px;
}

.article__photo{
  height: 400px;
  width: 100%;
}

.article__activities{
  display: flex;
  padding: 0 10px;
}

.article__activities span{
  background-repeat: no-repeat;
  text-indent: -9999px;
  height: 25px;
  width: 25px;
}

.article__activities--like{
  margin: 10px 5px;
}

.article__activities--comment{
  margin: 10px 5px;
}

.article__activities--share{
    margin: 10px 5px;
}

.article__activities--save{
  margin: 10px 5px 10px auto;
}

.article__likes{
  font-weight: 600;
  padding: 2px 15px;
}

.article__comments .username{
  font-weight: 600;
  margin: 2px 10px 2px 15px;
}

.article__time{
  text-transform: uppercase;
  font-size: 8px;
  margin: 10px 15px;
  color: #7b7b7b;
  border-bottom: 1px solid #e6e6e6;
}

.article__footer{
  margin: 4px 15px;
}

.article__footer textarea{
  border: #ffffff;
  width: 93%;
}

.article__footer textarea:focus{
  outline: none;
}

.article__footer .addition-btn{
  height: 35px;
  width: 5%;
  border: none;
  background: Transparent radial-gradient(circle at center, #e6e6e6 3px, transparent 3px) no-repeat;
}

.article__footer .addition-btn:focus{
  outline: none;
}