@import "../base-classes/no-shrink";
@import "../colors";

%transparent-button {
  background-color: transparent;
  border: none;
}

.button {
  @extend %no-shrink;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;

  &__text {
    cursor: inherit;

    &--compose {
      font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      line-height: 32px;
      font-weight: 500;
      font-size: 14px;
      margin-left: 8px;
    }

    &--left-nav {
      margin-left: 18px;
      font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      font-size: .875rem;
      font-weight: inherit;
    }
  }

  &--header {
    @extend %transparent-button;
    display: flex;
    height: 40px;
    width: 40px;
    margin: 0 2px 0 2px;
    padding: 0;
    align-items: center;
    justify-content: center;

    &-left {
      margin-right: 4px;
    }
  }

  &--compose {
    display: flex;
    height: 48px;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    padding: 0 24px 0 12px;
    border-radius: 24px;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    box-sizing: border-box;
  }

  &--left-nav {
    @extend %transparent-button;
    display: flex;
    height: 32px;
    padding: 0 0 0 26px;
    margin-right: 16px;
    border-radius: 0 16px 16px 0;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 16px);

    &:hover {
      background-color: $light-grey;
    }

    &-selected {
      font-weight: bold;

      &-red {
        background-color: $light-red;

        &:hover {
          background-color: $light-red;
        }

        .material-icons, .button__text--left-nav {
          color: $red;
        }
      }

      &-grey {
        background-color: $bright-grey;

        &:hover {
          background-color: $bright-grey;
        }
      }
    }
  }
}