%circle {
  box-sizing: border-box;
  border-radius: 50%;
  object-fit: cover;
}

.img {
  &--google-user {
    @extend %circle;
    width: 32px;
    height: 32px;
  }

  &--left-nav {
    height: 36px;
    width: 36px;
  }
}