.label {
  cursor: inherit;

  &--compose {
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    line-height: 32px;
    font-weight: 500;
    font-size: 14px;
    margin-left: 8px;
  }

  &--left-nav {
    margin-left: 18px;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
  }
}