$xs-breakpoint: 0;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;

$content-width: 1012px;
$gap: 10px;
$border-radius: 2px;

$background-color: #E9EBEE;
$main-color: #4469B0;
$secondary-color: #F5F6F7;
$secondary-color-active: #ebedf0;
$primary-font-color: #1d2129;
$border-color: #dddfe2;
$notification-color: #F74044;
