@import "../../colors.less";
@import "../../fonts.less";

.video__channel-name{
    font-family: @youtube-font;
    font-size: @youtube-small - 1px;
    color: @youtube-dark-gray;
    text-decoration: none;
}

.video__channel-name:hover{
    color: @youtube-blue;
    text-decoration: underline;
}