@import "header";
@import "aside";
@import "main-payload";

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.google-mail-main {
  display: flex;
}

button {
  background: transparent;
  &:hover {
    cursor: pointer;
  }
}

//
//:root{
//  --window-header-height: 32px;
//}

//window{
//  box-shadow: 0 0 20px 0 rgba(0,0,0,0.11);
//  height:var(--window-header-height);
//  width:250px;
//
//  &__header{
//
//  }
//  &__payload{
//
//  }
//}