.header {
  height: 64px;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.logo_part {
  padding-right: 32px;
  display: flex;
  box-sizing: content-box;
}
.logo_part__menu-button {
  width: 24px;
  height: 24px;
  padding: 12px;
  margin: 0 4px;
  border-radius: 50%;
  border: 0;
  box-sizing: content-box;
}
.logo_part__menu-button:hover {
  background: rgba(0, 0, 0, 0.071);
}
.logo_part__menu-icon {
  width: 24px;
  height: 24px;
}
.logo_part__logo-icon {
  width: 109px;
  height: 40px;
  margin: 4px 0px 0px -1px;
}

.search-part {
  background: rgba(0, 0, 0, 0.04);
  width: 722px;
  height: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
}
.search-part__search-button, .search-part__options-button, .search-part__clear-button {
  width: 46px;
  height: 46px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 50%;
  border: 0;
  box-sizing: content-box;
  vertical-align: middle;
}
.search-part__search-button:active, .search-part__options-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.search-part__search_icon, .search-part__options-icon {
  width: 24px;
  height: 24px;
  padding: 7px;
  margin: 4px;
  color: black;
  opacity: 0.54;
}
.search-part__input-text {
  width: 100%;
  height: 24px;
  background: transparent;
  border: none;
  color: gray;
  font: normal 16px Roboto, sans-serif;
  padding: 11px 16px 11px 10px;
}
.search-part__options-button {
  padding-left: 4px;
  padding-right: 4px;
}

.buttons-part {
  display: flex;
  height: 48px;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding-left: 32px;
}
.buttons-part__google-apps-button, .buttons-part__notification-button {
  width: 46px;
  height: 46px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 50%;
  border: 0;
  box-sizing: content-box;
  vertical-align: middle;
}
.buttons-part__google-apps-button:active, .buttons-part__notification-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.buttons-part__google-apps-icon, .buttons-part__notification-icon {
  width: 24px;
  height: 24px;
  padding: 7px;
  margin: 4px;
  color: black;
  opacity: 0.54;
}
.buttons-part__google-profile-button {
  width: 132px;
  border: 1px solid #dadce0;
  box-sizing: border-box;
  height: 46px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.buttons-part__google-profile-button:hover {
  border: 1px solid #d2e3fc;
  background-color: rgba(248, 250, 255, 0.88);
}
.buttons-part__ucu-logo {
  width: 78px;
  line-height: 32px;
}
.buttons-part__user-avatar {
  width: 32px;
  height: 32px;
  padding: 3px 3px 3px 4px;
}

:root {
  --gmail-aside-width: 256px;
}

.google-mail-aside {
  width: var(--gmail-aside-width);
  height: 575px;
}
.google-mail-aside__write-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 28px;
  background: transparent;
  margin: 16px 0 16px 8px;
  height: 48px;
  width: 146px;
  border: 0;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  letter-spacing: 0.25px;
  color: #3c4043;
  font-weight: 500;
  font-size: 14px;
  padding-right: 12px;
  padding-left: 1px;
}
.google-mail-aside__write-button:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
  background-color: #fafafb;
}
.google-mail-aside__write-button-logo {
  width: 32px;
  height: 32px;
}
.google-mail-aside__navigation {
  padding-right: 16px;
}
.google-mail-aside__link {
  height: 24px;
  color: #202124;
  background: transparent;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 0 16px 16px 0;
  font-size: 0.875rem;
  letter-spacing: 0.2px;
}
.google-mail-aside__link:hover {
  background: #f0f2f4;
}
.google-mail-aside__link--active {
  background: #fce8e6;
  font-weight: 900;
  letter-spacing: 0.2px;
  color: #d73429;
}
.google-mail-aside__icon {
  margin-left: 26px;
  margin-right: 18px;
  color: #747474;
}
.google-mail-aside__icon-img {
  vertical-align: middle;
}
.google-mail-aside__footer {
  position: relative;
  bottom: 0;
  height: 32px;
  background: violet;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.gmail-body {
  height: 575px;
  width: calc(100% - var(--gmail-aside-width));
  background: #2980b9;
}

.header-gmail-emails {
  height: 48px;
  width: 100%;
  background: #ecf0f1;
}

.gmail-emails-main {
  width: 100%;
  height: calc(100% - 48px);
  background: #f39c12;
}

.gmail-emails {
  width: 100%;
  height: auto;
  background: #8e44ad;
}

.gmail-footer {
  height: 40px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  background: #2c3e50;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.google-mail-main {
  display: flex;
}

button {
  background: transparent;
}
button:hover {
  cursor: pointer;
}

:root {
  --window-header-height: 32px;
}

/*# sourceMappingURL=common.css.map */
