@import "header";
@import "aside";
@import "main-payload";

body {
  margin: 0;
  padding: 0;
  outline: 0;
  background: #ffffff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.google-mail-main {
  display: flex;
}

button {
  background: transparent;

  &:hover {
    cursor: pointer;
  }
}

//
:root {
  --window-header-height: 32px;
  --gmail-footer-height: 60px;
  --header-gmail-emails-height: calc(48px);
}

