.header {
  height: 64px;
  padding: 8px;
  //background: #e74c3c;
  box-sizing: border-box;
  display: flex;

  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .2); //#ccc;

}

.logo_part {
  padding-right: 32px;
  display: flex;
  box-sizing: content-box;

  &__menu-button {
    width: 24px;
    height: 24px;
    padding: 12px;
    margin: 0 4px;
    border-radius: 50%;
    border: 0;
    box-sizing: content-box;
  }
  &__menu-button:hover {
    background: rgba(0, 0, 0, 0.071);
  }

  &__menu-icon {
    width: 24px;
    height: 24px;
  }

  &__logo-icon {
    width: 109px;
    height: 40px;
    margin: 4px 0px 0px -1px;
  }

}

.search-part {
  background: rgba(0, 0, 0, 0.04);
  width: 722px;
  height: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;

  &__search-button, &__options-button, &__clear-button {
    width: 46px;
    height: 46px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 50%;
    border: 0;
    box-sizing: content-box;
    vertical-align: middle;
  }
  &__search-button:focus, &__options-button:focus {
    background-color: rgba(0, 0, 0, 0.20);
  }

  &__search_icon, &__options-icon {
    width: 24px;
    height: 24px;
    padding: 7px;
    margin: 4px;
    color: black;
    opacity: .54;
  }
  &__input-text {
    width: 100%;
    height: 24px;
    background: transparent;
    border: none;
    color: gray;
    font: normal 16px Roboto, sans-serif;
    padding: 11px 16px 11px 10px;
  }

  &__options-button {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.buttons-part {
  display: flex;
  //width: 242px;
  height: 48px;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding-left: 32px;

  &__google-apps-button, &__notification-button {
    width: 46px;
    height: 46px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 50%;
    border: 0;
    box-sizing: content-box;
    vertical-align: middle;
  }

  &__google-apps-button:focus, &__notification-button:focus {
    background-color: rgba(0, 0, 0, 0.20);
  }

  &__google-apps-icon, &__notification-icon {
    width: 24px;
    height: 24px;
    padding: 7px;
    margin: 4px;
    color: black;
    opacity: .54;
  }

  &__google-profile-button {
    width: 132px;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    height: 46px;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  &__google-profile-button:hover {
    border: 1px solid #d2e3fc;
    background-color: rgba(248, 250, 255, 0.88);
  }

  &__ucu-logo {
    width: 78px;
    line-height: 32px;
  }

  &__user-avatar {
    width: 32px;
    height: 32px;
    padding: 3px 3px 3px 4px;
  }
}