.header {
  height: 64px;
  padding: 8px;
  display: flex;
  //background: #e74c3c;
  box-sizing: border-box;
  box-shadow: inset 0 -1px 0 rgba(100, 121, 143, 0.122);

  flex-grow: 1;
  align-items: center;

  &__menu-button {
    width: 24px;
    height: 24px;
    padding: 12px;
    margin: 0 5px 0 4px;
    border-radius: 50%;
    border: 0;
    box-sizing: content-box;

    &:hover {
      background: rgba(0, 0, 0, 0.071);
    }
  }

  &__menu-icon {
    width: 24px;
    height: 24px;
  }

  &__logo-icon {
    width: 109px;
    height: 40px;
    margin: 4px 0px 0px -1px;
  }

  &__google-apps-button, &__notification-button {
    width: 46px;
    height: 46px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 50%;
    border: 0;
    box-sizing: content-box;
    vertical-align: middle;

    &:active {
      background-color: rgba(0, 0, 0, 0.20);
    }
  }

  &__google-apps-button {
    margin-right: -2px;
    margin-left: auto;
  }

  &__notification-button {
    padding-right: 13px;
  }

  &__google-profile-button {
    margin-right: 6px;
  }

  &__google-apps-icon, &__notification-icon {
    width: 24px;
    height: 24px;
    padding: 7px;
    margin: 4px;
    color: black;
    opacity: .54;
  }

  &__google-profile-button {
    width: 132px;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    height: 46px;
    border-radius: 8px;
    display: flex;
    align-items: center;

    &:hover {
      border: 1px solid #d2e3fc;
      background-color: rgba(248, 250, 255, 0.88);
    }
  }

  &__ucu-logo {
    width: 78px;
    line-height: 32px;
  }

  &__user-avatar {
    width: 32px;
    height: 32px;
    padding: 3px 0 3px 5px;
  }
}

.search-form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  margin-left: 83px;
  margin-right: 40px;
  max-width: 720px;
  //padding: 11px 0 11px 0;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  border-radius: 4px;

  &__search-button {
    margin-right: -15px;
    margin-left: -5px;
  }

  &__search-button, &__options-button, &__clear-button {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 0;
    box-sizing: content-box;
    vertical-align: middle;

    &:active {
      background-color: rgba(0, 0, 0, 0.20);
    }
  }

  &__options-button {
    margin-right: 0px;
  }

  &__search_icon, &__options-icon {
    width: 24px;
    height: 24px;
    padding: 7px;
    margin: 4px;
    color: black;
    opacity: .54;
  }

  &__input-text {
    width: 100%;
    height: 24px;
    //background: transparent;
    border: none;
    color: gray;
    font: normal 16px Roboto, sans-serif;
    padding: 11px 16px 11px 10px;
    background: #f5f5f5;
    flex-grow: 1;
  }

  &__options-button {
    padding-left: 4px;
    padding-right: 4px;
  }
}