.suggested{
  &__page{
    display: block;
    margin: 20px auto 0 auto;
    width: 100%;
    border: 1px solid #bdc3c7;

    &-content{
      position: relative;
    }

    &-info{
      padding: 10px;
      color: rgb(144, 148, 156);
      font-size: 13px;
      font-weight: 400;
      line-height: 17px;
    }

    &-image{
      float: left;
      margin-right: 50px;
      color: transparent;
      position: relative;
      top: 5px;
      width: 50px;
      height: 50px;

      &:before{
        content: "";
        height: 40px;
        width: 40px;
        position: absolute;
        left: 5px;
        top: 5px;
        background: url("/images/icons/Hashcode.png");
        background-size: 40px;
        border-radius: 0 3px 3px 0;
      }
    }

    &-link{
      position: absolute;
      top:10px;
      left: 70px;
      color: rgb(54, 88, 153);
      font-size: 13px;
      font-weight: 600;
      border: none;
      background-color: inherit;
    }

    &-info{
      position: absolute;
      top: 15px;
      left: 78px;
      color: rgb(144, 148, 156);
      font-size: 13px;
      font-weight: 400;
    }

    &-poster{
      float: left;
      margin-top: 10px;
      width: 100%;
      height: 157px;
      color: transparent;
      background: url("/images/ucu_hashcode.jpg");
    }

    &-like{
      padding: 5px;
      color: rgb(29, 33, 41);
      font-size: 13px;
      font-weight: 600;
      line-height: 17px;
      width: 100%;

      &:focus{
        border: 2px solid #3498db;
      }
    }
  }
}