.video-block {
  width: 210px;
  height: 203px;
  margin: 0 4px 24px 0;

  &__thumbnail {
    width: 210px;
    height: 117px;
  }

  &__video-title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    margin: 8px 0;
  }

  &__video-title a {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-decoration: none;
    color: inherit;
  }

  &__footer {
    color: #11111199;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;
  }

  &__channel-link {
    display: block;

    text-decoration: none;
    color: inherit;
  }

}