.movie-content {
  margin-left: 45px;

  &__name {
    font-family: SourceSansPro, sans-serif;
    font-size: 30px;
    font-weight: 450;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__nav-button {
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    border-radius: 5px;
    border-color: transparent;
    margin-right: 13px;

    &--active {
      padding: 10px 25px;
      background: #ff0079;
    }
    &--info {
      opacity: 0.9;
      border: 2px solid white;
      padding: 10px 22px;
    }

    &--other {
      opacity: 0.8;
    }
  }
}
