@import "../colors.less";

.video-section{
    display: flex;
    flex-wrap: wrap;
    background-color: @youtube-white;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 25px;

    border-bottom: 1px solid @youtube-gray;
}