@import "../hidden-text/hidden-text.less";

.icon-button{
    .hidden-text();
    background-image: url("../../img/sprite.png");
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
}