.glossary {
    border-bottom: 4px solid #F0F0F0;
    border-top: 4px solid #F0F0F0;
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 10px;
    position: relative;
    overflow: auto;
    background-color: #f8f8f8;
}

.glossary__section {
    float: left;
    margin-right: 2.14%;
    width: 8.3%;
}

.glossary__section__header {
    color: #888;
    font-size: 96%;
    margin-left: 12px;
    letter-spacing: 0;
}

.glossary__section__group {
    list-style: none;
    column-count: 1;
    margin-left: -28px;
}