@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import "logo.css";
@import "search-form.css";
@import "typography.css";
@import "glossary.css";
@import "header.css";
@import "article-section.css";

body {
    margin: 0;
    padding: 0;
    background: #F0F0F0;
    font-family: Georgia, serif;
    color: #444;

}

.whole-header {
    background: #0063A6;
    height: 200px;
    width: 100%;
}

.main-header {
    width: 1020px;
    margin: auto;
    position: relative;
}

.content {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background: #FFF;
    margin: 0 auto 0;
    padding: 24px 0 0 0;
    width: 1020px;
    overflow: hidden;
}

.entry {
    float: right;
    width: 500px;
}

.entry > p:first-of-type {
    font-size: 1.18em;
    line-height: 1.55;
}

.mod {
    font-size: 14px;
    clear: left;
    margin: 0 0 40px 0;
}

.mod h3 {
    color: #888;
    margin: 0 0 5px;
    padding: 10px 0;
    text-transform: uppercase;
}

.mod ul li {
    border-bottom: 1px solid #DDD;
    display: block;
    line-height: 1.4;
    padding: 8px 10px 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}