h1 {
    font-family: 'Quicksand', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    word-spacing: 2px;
    font-size: 2em;
}

h2 {
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
}

a {
    text-decoration: none;
    color: #0090D2;
}

p {
    margin: 4px 0 1.5em;
}

h3 {
    font-size: 1.25em;
    line-height: 1.2;
    font-family: 'Quicksand', 'Helvetica Neue', Arial, sans-serif;
}

article {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
}