<header id="hdr">
    <button class="icons" name="Menu">Menu</button>
    <a class="icons"><img src="images/logo.png" id="logo"></a>
    <input type="search" id="search">
    <a>search</a>
    <a class="icons" name="Upload" id="space">Upload</a>
    <a class="icons" name="Apps">Apps</a>
    <a class="icons" name="Message">Message</a>
    <a class="icons" name="Notifications">Notifications</a>
</header>

<aside class="side-menu">
    {{#navigation}}
        <h4 class="side-menu__title">{{title}}</h4>
        {{#items}}
            <a href="#" class="side-menu__link">{{.}}</a>
        {{/items}}
    {{/navigation}}
</aside>
<main class="wrapper">
    <section>
        <h2 class="category">Linkin Park</h2>
        <section class="videos">
            <div class="first"></div>
            <div>
                <img src="images/lp_song1.jpg" class="video_img">
                <h3 class="video_title">Breaking The Habbit (Official Video) - Linkin Park</h3>
                <h3 class="video_info">Linkin Park<br>
                    185,000,000 views<br>
                    8 years ago</h3>
            </div>
            <div>
                <img src="images/lp_song2.jpg" class="video_img">
                <h3 class="video_title">The Faint (Official Video) - Linkin Park</h3>
                <h4 class="video_info">Linkin Park<br>
                    215,000,000 views<br>
                    8 years ago</h4>
            </div>
            <div>
                <img src="images/lp_song3.jpg" class="video_img">
                <h3 class="video_title">In The End (Official Video) - Linkin Park</h3>
                <h4 class="video_info">Linkin Park<br>
                    633,000,000 views<br>
                    8 years ago</h4>
            </div>
            <div>
                <img src="images/lp_song4.jpg" class="video_img">
                <h3 class="video_title">Numb (Official Video) - Linkin Park</h3>
                <h4 class="video_info">Linkin Park<br>
                    984,000,000 views<br>
                    11 years ago</h4>
            </div>
            <div>
                <img src="images/lp_song5.jpg" class="video_img">
                <h3 class="video_title">One More Light (Official Video) - Linkin Park</h3>
                <h4 class="video_info">Linkin Park<br>
                    115,000,000 views<br>
                    1 year ago</h4>
            </div>
            <div>
                <img src="images/lp_song6.jpg" class="video_img">
                <h3 class="video_title">Crawling (Official Video) - Linkin Park</h3>
                <h4 class="video_info">Linkin Park<br>
                    225,000,000 views<br>
                    8 years ago</h4>
            </div>
        </section>
        <hr class="spacing">
        <h2 class="category">Fabio Wibmer</h2>
        <section class="videos">
            <div class="first"></div>
            <div>
                <img src="images/fw_video1.jpg" class="video_img">
                <h3 class="video_title">Fabio Wibmer - Fabiolous Escape</h3>
                <h4 class="video_info">Fabio Wibmer<br>
                    17,000,000 views<br>
                    2 years ago</h4>
            </div>
            <div>
                <img src="images/fw_video2.jpg" class="video_img">
                <h3 class="video_title">Fabio Wibmer - Fabiolous Escape 2</h3>
                <h4 class="video_info">Fabio Wibmer<br>
                    17,000,000 views<br>
                    6 months ago</h4>
            </div>
            <div>
                <img src="images/fw_video3.jpg" class="video_img">
                <h3 class="video_title">Riding a bike on a 200m high rail - Fabio Wibmer</h3>
                <h4 class="video_info">Fabio Wibmer<br>
                    2.5,000,000 views<br>
                    1 year ago</h4>
            </div>
            <div>
                <img src="images/fw_video4.jpg" class="video_img">
                <h3 class="video_title">Urban Freeride lives - Fabio Wibmer</h3>
                <h4 class="video_info">Fabio Wibmer<br>
                    46,000,000 views<br>
                    1 year ago</h4>
            </div>
            <div>
                <img src="images/fw_video5.jpg" class="video_img">
                <h3 class="video_title">Fabio Wibmer - Osttirol Is My Playground</h3>
                <h4 class="video_info">Fabio Wibmer<br>
                    6.3,000,000 views<br>
                    3 years ago</h4>
            </div>
            <div>
                <img src="images/fw_video6.jpg" class="video_img">
                <h3 class="video_title">Fabio Wibmer - Hallstatt Wind Down</h3>
                <h4 class="video_info">Fabio Wibmer<br>
                    283,232 views<br>
                    3 years ago</h4>
            </div>
        </section>
        <hr class="spacing">
        <h2 class="category">Mighty Car Mods</h2>
        <section class="videos">
            <div class="first"></div>
            <div>
                <img src="images/mcm_video1.jpg" class="video_img">
                <h3 class="video_title">Singapore Car Scene</h3>
                <h4 class="video_info">Mighty Var Mods<br>
                    1,400,000 views<br>
                    5 years ago</h4>
            </div>
            <div>
                <img src="images/mcm_video2.jpg" class="video_img">
                <h3 class="video_title">Lend Us A Ride: Australia [EPISODE 5]</h3>
                <h4 class="video_info">Mighty Car Mods<br>
                    1,000,000 views<br>
                    4 years ago</h4>
            </div>
            <div>
                <img src="images/mcm_video3.jpg" class="video_img">
                <h3 class="video_title">Picking up our JDM FairladyZ from Japan (240Z) - FINALE</h3>
                <h4 class="video_info">Mighty Car Mods<br>
                    899,000,000 views<br>
                    9 months ago</h4>
            </div>
            <div>
                <img src="images/mcm_video4.jpg" class="video_img">
                <h3 class="video_title">HONDA S2000 Build Part 1</h3>
                <h4 class="video_info">Mighty Car Mods<br>
                    1,500,000 views<br>
                    3 years ago</h4>
            </div>
            <div>
                <img src="images/mcm_video5.jpg" class="video_img">
                <h3 class="video_title">Mod Max V8 Nissan Silvia Car Review</h3>
                <h4 class="video_info">Mighty Car Mods<br>
                    760,000 views<br>
                    3 years ago</h4>
            </div>
            <div>
                <img src="images/mcm_video6.jpg" class="video_img">
                <h3 class="video_title">MCM VS ROADKILL [SPECIAL]</h3>
                <h4 class="video_info">Mighty Car Mods<br>
                    5,300,000 views<br>
                    1 year ago</h4>
            </div>
        </section>
        <hr class="spacing">
    </section>
</main>