.posting-form__container{
    margin-bottom: 1em;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.posting-form__options{
    padding: 8px 8px 8px 0;
    display: flex;
    font-size: 12px;
    background: #f5f6f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #ccd0d5;
}


.posting-form__option, .posting-form__option_left-border{
    color: #365899;
    font-weight: 600;
    display: flex;
    align-items: center;
    line-height: 14px;
    padding: 0 10px;

}

span.active{
    color: #4b4f56;
}

.posting-form__option_left-border{
    border-left: 1px solid #ccd0d5;
}

.posting-form__option__ico_post, .posting-form__option__ico_photo, .posting-form__option__ico_video{
    width: 16px;
    height: 16px;
    float: left;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yw/r/RcLlSjOkA5H.png");
    background-repeat: no-repeat;
}

.posting-form__option__ico_post{
    background-position: -17px -349px;
}

.posting-form__option__ico_photo{
    background-position: -34px -349px;
}

.posting-form__option__ico_video{
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/A_wTlD3H0Ah.png");
    background-position: 0 -2717px;
}

.posting-form__option__txt, .posting-form__option__txt-active{
    padding-left: 7px;
}

.posting-form__option__txt-active{
    color: #4b4f56;
}

.posting-form__input__profile-img{
    object-fit: cover;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    margin-right: 10px;
}

.posting-form__input__container{
    display: flex;
    padding: 10px;
}

.posting-form__input__input{
    height: 36px;
    border: 0;
    font-size: 14px;
    color: #5f6274;
}

.form-img-container{
    padding-right: 10px;
}


.posting-form__content-options{
    display: flex;
    margin: 0 12px;
    padding: 8px 0;
    border-top: 1px solid #e9ebee;
}

.posting-form__content-option{
    margin-right: 6px;
    padding: .5em .75em .5em 1em;
    vertical-align: middle;
    background: #f5f6f7;
    border-radius: 18px;
    box-shadow: none;
    display: flex;
    border: none;
    display: flex;
    align-items: center;
}

.posting-form__content-option_txt{
    color: #4b4f56;
    font-size: 12px;
    font-weight: 600;
    box-shadow: none;
    border: none;
    background: transparent;
    padding-left: 10px;
}

.posting-form__content-option_ico_dots, .posting-form__content-option_ico_photo, .posting-form__content-option_ico_tag, .posting-form__content-option_ico_activity{
    width: 20px;
    height: 20px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/A_wTlD3H0Ah.png");

}

.posting-form__content-option_ico_photo{
    background-position: 0 -1451px;
}

.posting-form__content-option_ico_tag{
    background-position: 0 -905px;
}

.posting-form__content-option_ico_activity{
    background-position: 0 -800px;
}

.posting-form__content-option_ico_dots{
    background-position: 0 -2207px;
}