@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  background-color: #e3f2fd;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px; }

button {
  border: 0;
  padding: 0;
  background: transparent; }

button:hover {
  cursor: pointer; }

.chat {
  width: 292px;
  height: 384px;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  margin-top: 50px;
  display: flex;
  flex-direction: column; }

.header {
  min-height: 32px;
  background-color: #2979ff;
  border-radius: 4px 4px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .header__online {
    width: 6px;
    height: 6px;
    background-color: #69f0ae;
    border-radius: 50%;
    margin-left: 12px; }
  .header__name {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 12px; }
  .header__button {
    width: 12px;
    height: 12px;
    margin-right: 10px; }
  .header__button--plus {
    background-image: url(../images/plus.svg);
    margin-left: auto; }
  .header__button--video {
    height: 8px;
    background-image: url(../images/video.svg); }
  .header__button--cog {
    background-image: url(../images/cog.svg);
    margin-right: 10px; }
  .header__button--close {
    width: 18px;
    height: 18px;
    background-image: url(../images/close.svg); }

.input {
  min-height: 62px;
  border-top: 3px solid #e5e5e5; }
  .input__form {
    margin: 7px 0 10px 16px; }
  .input__message {
    border: 0;
    outline: 0;
    color: #353535; }
  .input__message::placeholder {
    color: #cdcdcd; }
  .input__control {
    height: 18px;
    display: flex;
    align-items: center; }
  .input__button:first-of-type {
    margin-left: 16px; }
  .input__button {
    width: 16px;
    height: 16px;
    margin-right: 10px; }
  .input__button--pic {
    background-image: url(../images/picture.svg); }
  .input__button--gif {
    width: 21px;
    background-image: url(../images/gif.svg); }
  .input__button--smile {
    background-image: url(../images/smile.svg); }
  .input__button--calendar {
    height: 18px;
    background-image: url(../images/calendar.svg); }
  .input__button--camera {
    height: 17px;
    width: 21px;
    background-image: url(../images/camera.svg); }

.messages {
  flex-grow: 2;
  overflow-y: auto; }
  .messages__block {
    margin-top: 16px;
    display: flex;
    flex-direction: column; }
  .messages__time {
    text-align: center;
    margin-top: 16px;
    color: #828282;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.3px;
    display: block; }

.message {
  margin-left: 16px;
  margin-top: 1px;
  display: flex;
  flex-direction: row; }
  .message__avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #f08080; }
  .message__avatar--hide {
    visibility: hidden; }
  .message__box {
    margin-left: 8px;
    height: 28px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 0 12px; }
  .message--other-user .message__box {
    background: #f3f3f3; }
  .message--other-user .message__text {
    color: #353535; }
  .message--current-user {
    margin-right: 16px;
    margin-left: auto; }
    .message--current-user .message__box {
      background: #2979ff; }
    .message--current-user .message__text {
      color: #ffffff; }
