body, header, section, button, div, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-width: 780px; }

button {
  background: transparent; }
  button:hover {
    cursor: pointer; }

.header {
  display: flex;
  justify-content: flex-start;
  height: var(--header-height);
  border-bottom: 1px solid #eceff1;
  box-sizing: border-box;
  padding: 8px 0; }
  .header .top_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - var(--left_menu_width));
    min-width: 500px; }
    @media (max-width: 1260px) {
      .header .top_panel {
        /* This block only applies to viewports <= breakpoint wide... */ }
        .header .top_panel__search_bar {
          width: calc(100% - 286px); } }
    @media (min-width: 1260px) {
      .header .top_panel {
        /* This block only applies to viewports >= breakpoint wide... */ }
        .header .top_panel__search_bar {
          width: 722px; } }

.logo_section {
  display: flex;
  padding-left: 8px;
  width: var(--left_menu_width);
  align-items: center; }
  .logo_section .menu_hider {
    margin-left: 4px;
    background: url("https://cdn2.iconfinder.com/data/icons/clean-minimal-set/16/open-menu-01-512.png") no-repeat center;
    background-size: 20px 16px;
    border: 0;
    height: 48px;
    width: 48px;
    border-radius: 100%; }
    .logo_section .menu_hider:hover {
      background-color: #ededed; }
  .logo_section .logo {
    margin-left: 4px;
    height: 40px; }

.search_bar {
  background-color: #f5f5f5;
  height: 48px;
  width: 722px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 5px 5px 7px;
  border-radius: 3px; }
  .search_bar__lupa, .search_bar__clear, .search_bar__extend {
    border: 0;
    height: 38px;
    width: 38px;
    background-size: 20px 20px;
    border-radius: 100%; }
    .search_bar__lupa:active, .search_bar__clear:active, .search_bar__extend:active {
      background-color: #dadada; }
  .search_bar__lupa {
    background: url("../images/lupa.png") no-repeat center; }
  .search_bar__input {
    border: 0;
    background-color: transparent;
    padding-left: 8px;
    padding-top: 2px;
    color: gray;
    font: normal 16px Roboto, sans-serif;
    width: calc(100% - 38px * 3 - 4px); }
  .search_bar__extend {
    background: url("../images/dropdown.png") no-repeat center; }

.buttons {
  display: flex;
  align-items: center;
  margin-right: 12px; }
  .buttons__apps_button {
    background: url("https://image.flaticon.com/icons/svg/56/56844.svg") no-repeat center;
    background-size: 16px 16px;
    margin-right: 8px; }
  .buttons__notification_button {
    background: url("../images/bell.png") no-repeat center;
    background-size: 24px 24px;
    margin-right: 16px; }
  .buttons__apps_button, .buttons__notification_button {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 100%; }
    .buttons__apps_button:active, .buttons__notification_button:active {
      background-color: #dadada; }
  .buttons__profile_button {
    width: 134px;
    height: 48px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    display: flex;
    align-items: center; }
    .buttons__profile_button .institution_pic, .buttons__profile_button .profile_pic {
      height: 32px;
      width: 78px;
      margin-left: 7px; }
    .buttons__profile_button .profile_pic {
      width: 32px;
      border-radius: 100%;
      margin-left: 8px; }

.main {
  display: flex;
  width: 100%;
  height: calc(100% - var(--header-height)); }
  .main .emails_window {
    height: 100%;
    width: calc(100% - var(--left_menu_width));
    overflow-y: scroll; }

.window .emails .email {
  display: flex;
  align-items: center;
  padding: 0 16px 0 16px;
  border-bottom: 1px solid #e3e8ea;
  height: 40px; }
  .window .emails .email__checkbox {
    background: url("https://www.gstatic.com/images/icons/material/system/1x/check_box_outline_blank_black_20dp.png") no-repeat center; }
  .window .emails .email__star {
    margin-left: 10px;
    background: url("https://www.gstatic.com/images/icons/material/system/1x/star_border_black_20dp.png") no-repeat center; }
  .window .emails .email__checkbox, .window .emails .email__star {
    border: 0;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    padding-top: 10px; }
  .window .emails .email__title, .window .emails .email__text {
    border: 0;
    white-space: nowrap;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .2px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%; }
  .window .emails .email__title {
    margin-left: 10px;
    width: 200px;
    text-align: left;
    padding-right: 60px; }
  .window .emails .email__text {
    flex: 1;
    text-align: left; }
  .window .emails .email__date {
    text-align: right;
    margin-left: auto;
    width: 60px; }

.side_menu {
  width: var(--left_menu_width);
  height: 100%;
  display: flex;
  flex-flow: column; }
  .side_menu .compose_button {
    padding: 0;
    height: 48px;
    width: 146px;
    border-radius: 24px;
    color: #3c4043;
    border: 0;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    margin: 16px 0 16px 8px; }
  .side_menu .side_button {
    height: 32px;
    margin-right: 16px;
    border: 0;
    border-radius: 0 16px 16px 0;
    display: flex;
    align-items: center; }
    .side_menu .side_button:hover {
      background-color: #e8eaed; }
    .side_menu .side_button__img {
      margin-left: 26px;
      margin-right: 20px;
      width: 20px;
      height: 20px; }
    .side_menu .side_button__number {
      color: #5f6368;
      margin-left: auto;
      margin-right: 10px; }

:root {
  --left_menu_width: 256px;
  --header-height: 64px; }

html {
  min-height: 450px; }

body, html {
  height: 100%; }

.emails_window {
  height: 50px;
  width: 50px; }

/*# sourceMappingURL=index.css.map */
