.header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 42px;
  background: #3b5998;

  &__left-navigation {
    display: flex;
    align-items: center;
    margin-left: 65px;
    &__logo {
      margin-right: 4px;
      height: 24px;
      width: 24px;
      background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
      background-size: cover;
    }
    &__search-form__input, &__search-form {
      display: flex;
      border: 1px solid #3b5998;
      border-right: 0;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      margin-bottom: 2px;
      height: 25px;
      width: 448px;
    }

    &__search-form__input {
      text-indent: 10px;
    }

    &__magnifier-button {
      margin: 1px 0 0 0;
      padding: 0 27px 0 16px;
      width: 10px;
      height: 23px;
      background: #f5f6f7;
      &--logo {
        border: 0;
        width: 14px;
        height: 14px;
        background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yB/r/3hwroj4Plov.png") no-repeat 1px -1382px;
      }
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      cursor: pointer;
    }
  }

  &__right-navigation {
    display: flex;
    align-items: center;
    margin-left: 125px;
    &--button-wide {
      border: 0;
      padding: 0 8px 0 6px;
      margin: 2px;
      height: 24px;
      background: 0;
      color: white;
      cursor: pointer;
    }

    &--button-round {
      height: 24px;
      background-size: auto;
      width: 24px;
      cursor: pointer;
    }

    &--button-wide:hover {
      background: #2F4779;
    }

  }

}

.friend-requests-button {
  margin-left: 17px;
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") 0 -892px;
}

.messenger-button {
  margin-left: 7px;
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") 0 -942px;
}

.notifications-button {
  margin: 0 12px 0 7px;
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") 0 -792px;
}

.account-switcher-button {
  margin: 4px 0 0 15px;
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") 0 -470px;
}

.FAQ-button {
  margin-left: 7px;
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") 0 -992px;
}

.dropdown-button {
  margin: 0 70px 0 7px;
  background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/0ZnQSqvnMOO.png") 0 -842px;
}