.calendar-section {
  width: 60%;
  display: flex;
  flex-direction: column;

  //border: 1px var(--text-color) solid;

  .header {
    height: 50px;
    //background: var(--game-color);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__text {
      font-family: "Lato", Helvetica, Arial, sans-serif;
      width: 60%;
      font-size: 30px;
      color: var(--text-color);

      text-align: center;
    }

    &__button, &__img {
      width: 30px;
      height: 30px;
      background: transparent;
    }

    &__button:focus {
      outline: none;
    }

  }

  .calendar {
    height: 350px;
    width: 100%;
    background: white;

    display: flex;
    flex-flow: wrap;

    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;

    &__cell {
      width: 10%;
      margin: 2%;
      height: 40px;

      border-radius: 5px;

      font-size: 20px;
      background: transparent;

      border: 1px solid var(--text-color);
      box-sizing: border-box;
      color: var(--text-color);

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__active-cell {
      color: white;
      background: #AC3B61;
      font-weight: bold;
      font-size: 25px;
    }

    &__day-cell:hover {
      cursor: pointer;
    }
  }

}
