<section class="resume">
    <div class="resume__brief">
        <h2 class="resume__brief-subheader">User Persona</h2>

        <div class="resume__brief-bottom-group">
            <h1 class="resume__brief-name">Jane Doe</h1>
            <p class="resume__brief-occupation">
                <strong>28,</strong>
                Professional Model
            </p>

            <hr class="resume__brief-line">

            <div class="resume__brief-skills">
                <div class="resume__brief-skill">Passionate</div>
                <div class="resume__brief-skill">Independent</div>
                <div class="resume__brief-skill">Punctual</div>
                <div class="resume__brief-skill">Witty</div>
            </div>
        </div>
    </div>

    <div class="resume__info">
        dfsdfsdf
    </div>
</section>