.friend-post{
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  margin-bottom: 10px;

  &__user-link{
    text-decoration: none;
    color: rgb(54, 88, 153);
    font-size: 14px;
    font-weight: 600;
  }

  &__post-time{
    color: rgb(97, 103, 112);
    font-size: 12px;
    font-weight: 400;
  }

  &__post-title{
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0;
  }
}

%button-base{
  content: "";
  height: 18px;
  width: 18px;
  position: absolute;
  top: 2px;
}
.additional-options__button{
  color: rgb(97, 103, 112);
  font-size: 13px;
  font-weight: 800;
  line-height: 14px;
  padding: 3px;
  display: inline-block;
  margin-right: 40px;
  position: relative;
  text-align: center;
  background-color: inherit;

  &:last-child{
    margin-right: 0;
  }

  &_like{
    &:before{
      @extend %button-base;
      left: 24px;
      background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/woVr6DSj3mv.png");
      background-position: 0 2300px;
      background-size: 18px;
    }
  }
  &_comment{
    &:before{
      @extend %button-base;
      left: 7px;
      background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/woVr6DSj3mv.png");
      background-position: 0 2355px;
      background-size: 18px;
    }
  }
  &_share{
    &:before{
      @extend %button-base;
      left: 20px;
      background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/woVr6DSj3mv.png");
      background-position: 0 2175px;
      background-size: 18px;
    }
  }
}