#nav_top, #nav_top ul{
    list-style-type: none;
    /*margin: 0;*/
    /*padding: 0;*/
    overflow: hidden;
    /*background-color: #333333;*/
}

#nav_top li{
    display: block;
    /*color: white;*/
    /*text-align: center;*/
    padding: 16px;
    text-decoration: none;
    float: left;
}

#nav_top li::after{
    content: "|";
}