@import "../colors.less";

.icon-text{
    background-color: transparent;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    position: relative;
    
}

.icon-text:hover{
    background-color: @youtube-black;
}