@import "../../colors.less";
@import "../../fonts.less";

.layout-aside-nav__header{
    text-transform: uppercase;
    font-size: @youtube-small;
    font-family: @youtube-font;
    color: @youtube-red;
    text-decoration: none;
    margin-top: 10px;
}

