.game{
  display: flex;
  align-content: center;
  margin: auto;
}
.game-info{
  display: flex;
  margin-left: 30px;
  &__key{
    width: 200px;
  }
  &__value{
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;

    &--w{
      color: white;
    }
    &--b{
      color: black;
    }
  }
}