.game{
  display: flex;
  align-content: center;
  margin: auto;
}
.game-info{
  display: flex;
  margin-left: 30px;
  &__key{

  }
  &__value{
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;

    &--white{
      color: white;
    }
    &--black{
      color: black;
    }
  }
}