body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #ecf0f1;
}

ol, ul {
  padding-left: 30px;
}

#root{
  display: flex;
}

.control-button{
  margin: 5px 20px;
  background-color: transparent;
  border-radius: 10px;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
  color: #3498db;
  &--w{
    background-color: white;
  }
  &--b{
    background-color: #34495e;
  }
}
