<header class="header">
    <div class="header__left">
        <button class="button button--header button--header-left"><i class="material-icons material-icons--header">menu</i></button>
        <a href="#" class="link link--header"><img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x.png"></a>
    </div>
    <div class="header__center">
        <form class="search-form">
            <button class="button button--header"><i class="material-icons material-icons--header">search</i></button>
            <input type="text" placeholder="Search mail" class="search-form__text-input">
            <button class="button button--header"><i class="material-icons material-icons--header">expand_more</i></button>
        </form>
        <div class="header__google-buttons">
            <button class="button button--header"><i class="material-icons material-icons--header">apps</i></button>
            <button class="button button--header"><i class="material-icons material-icons--header">notifications</i></button>
            <button class="button button--header"><img class="img--google-user" src="https://lh3.googleusercontent.com/-O4bxknmER3I/AAAAAAAAAAI/AAAAAAAAAAA/ABtNlbBxuQ7Ix2K-0vtlRzZdOdGZBW_2Zg/s32-c-mo/photo.jpg"></button>
        </div>
    </div>
</header>
<main class="main">
    <aside class="main__left">
        <nav class="left-nav">
            <div class="left-nav__top-block">
                <button class="button button--compose">
                    <img src="https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png" class="img--left-nav">
                    <label class="button__text button__text--compose">Compose</label>
                </button>
            </div>
            <div class="left-nav__buttons-block">
                <button class="button button--left-nav button--left-nav-selected button--left-nav-selected-red">
                    <i class="material-icons material-icons--left-nav">inbox</i>
                    <label class="button__text button__text--left-nav">Inbox</label>
                </button>
                <button class="button button--left-nav button--left-nav-selected button--left-nav-selected-grey">
                    <i class="material-icons material-icons--left-nav">inbox</i>
                    <label class="button__text button__text--left-nav">Inbox</label>
                </button>
                <button class="button button--left-nav">
                    <i class="material-icons material-icons--left-nav">start</i>
                    <label class="button__text button__text--left-nav">Starred</label>
                </button>
                <button class="button button--left-nav">
                    <i class="material-icons material-icons--left-nav">start</i>
                    <label class="button__text button__text--left-nav">Starred</label>
                </button>
                <button class="button button--left-nav">
                    <i class="material-icons material-icons--left-nav">start</i>
                    <label class="button__text button__text--left-nav">Starred</label>
                </button>
                <button class="button button--left-nav">
                    <i class="material-icons material-icons--left-nav">start</i>
                    <label class="button__text button__text--left-nav">Starred</label>
                </button>
                <button class="button button--left-nav">
                    <i class="material-icons material-icons--left-nav">start</i>
                    <label class="button__text button__text--left-nav">Starred</label>
                </button>
                <button class="button button--left-nav">
                    <i class="material-icons material-icons--left-nav">start</i>
                    <label class="button__text button__text--left-nav">Starred</label>
                </button>
            </div>
        </nav>
    </aside>
    <section class="main__center">

    </section>
</main>