<header class="header">
    <div class="header__left">
        <button class="button button--header button--header-left"><i class="material-icons material-icons--header">menu</i></button>
        <a href="#" class="link link--header"><img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x.png"></a>
    </div>
    <div class="header__center">
        <form class="search-form">
            <button class="button button--header search-form__button"><i class="material-icons material-icons--header">search</i></button>
            <input type="text" placeholder="Search" class="search-form__text-input">
            <button class="button button--header search-form__button"><i class="material-icons material-icons--header">expand_more</i></button>
        </form>
        <div class="header__google-buttons">
            <button class="button button--header"><i class="material-icons material-icons--header">apps</i></button>
            <button class="button button--header"><i class="material-icons material-icons--header">notifications</i></button>
            <button class="button button--header"><img class="img--google-user" src="https://lh3.googleusercontent.com/-O4bxknmER3I/AAAAAAAAAAI/AAAAAAAAAAA/ABtNlbBxuQ7Ix2K-0vtlRzZdOdGZBW_2Zg/s32-c-mo/photo.jpg"></button>
        </div>
    </div>
</header>
<main>
    <aside>

    </aside>
    <section>

    </section>
</main>