@import "../colors.less";

@aside-nav-width: 230px;

.layout-aside-nav{
    background-color: @youtube-white;
    box-sizing: border-box;
    width: 230px;
    border-right: 1px solid @youtube-light-gray;
    display: flex;
    flex-direction: column;
}