.header{
  display: grid;
  grid-template-columns: 48px 200px 587px  180px;
  grid-template-rows: auto;
  align-items: center;
  grid-template-areas: "hamburger logo search . actions";

  padding: 10px;
  border-bottom: 1px gainsboro solid;

}





