.user-actions{
  display: flex;
  justify-content:flex-end;
  align-items:center;
  grid-area: actions;
}

.user-actions_bell-icon{
  .dim();
  background-color: Transparent;
}
.user-actions_profile-icon{
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.user-actions_google-apps-icon{
 .dim();
}

.dim{
  margin-right: 1.5%;
  margin-left: 1.5%;
  width: 25px;
  height: 25px;
}