@import "wrapper-header";
@import "wrapper-main";
@import "wrapper-footer";

body{
  margin: 0;
  padding: 0;
  font-family: SourceSansPro, sans-serif;
  background-color: #f8f8f8;
}

hr{
  margin: 0;
}

a{
  text-decoration: none;
  color: #80818a;
  transition: all 0.3s ease;
}

li:hover{
  a{
    color: #ff0079;
  }
  cursor: pointer;
}