.wrapper-footer{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 300px;
  padding: 40px 5%;

  &__nav{
    display: flex;
    justify-content: space-between;
    padding-bottom:20px;
    border-bottom: 1px solid #babbc3;
    font-size: 22px;
    color: #494c62;


    .footer-menu{
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 300px;
      font-size: 16px;
    }
  }

  &__down{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #80818a;
    opacity: 0.5;
    margin-top: 20px;

    .social{
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100px;
      font-size: 18px;
      margin: 0;
    }
  }
}