@import "../../colors.less";
@import "../../fonts.less";

.video__title{
    text-decoration: none;
    color: @youtube-blue;
    font-family: @youtube-font;
    font-size: @youtube-small + 1px;
}

.video__title:hover{
    text-decoration: underline;
}