.student-header {
  display: flex;
  height: 180px;
  overflow: hidden;
  background-color: rgb(101, 57, 152);
  width: 100%;

  &:after {
    content: '';
    width: 62px;
    height: 32px;
    background: url('./images/shevron.svg') center no-repeat;
    margin-top: 180px;
    margin-left: 80px;
    position: absolute;
    display: block;
    z-index: 100;
  }

  &__student-avatar {
    width: 120px;
    height: 120px;
    margin: 20px 40px 0 45px;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0px 0px 13px rgb(80, 80, 80);
  }

  &__student-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    letter-spacing: 2px;
    //color: whitesmoke;
  }

  &__student-name {
    //margin-bottom: 8px;
    font-weight: 900;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
  }

  &__student-occupation {
    display: inline-block;
    font-weight: 300;
    font-size: 13px;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
  }

  &__social-info {
    margin-top: 10px;
  }

  &__facebook-logo {
    display: inline-block;
    width: 25px;
    height: 25px;

    &:hover {
      opacity: .8;
    }

  }

  &__github-logo {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 13px;

    &:hover {
      opacity: .8;
    }
  }
}
