.left-menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: fixed;
  top: 28px;
  left: 15%;
  width: 10%;
  margin: 1%;

  &__buttons {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 28px;
    margin: 4px 6px 0 -24px;
    font-family: inherit;
  }
}
