body{
    margin: 0;
}

.hdr{
    background-color: #4267b2;
    height: 5%;
    width: 100%;
}

.logo{
    width: 35px;
    height: 55%;
    margin-top: 10px;
    margin-left: 15%;
}

.glob_src{
    margin-top: auto;
    width: 20%;
    border: none;
    vertical-align: 30%;
    padding-top: 10px;
}

.wrapper{
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

#mypage{
    margin-left: 10%;
}

.hdr_btn{
    border: none;
    background-color: #4267b2;
    height: 30px;
    width: 5%;
    vertical-align: 60%;
    color: white;
}