element {
}
html ._4lh, ._4lh .fbTimelineTimePeriod, ._4lh .fbTimelineSectionExpandPager .uiMorePagerLoader, ._4lh .fbTimelineSectionLoading .loadingIndicator {
    background-color: #e9ebee;
}
.timelineLayout {
    background: #e9ebee;
    background-color: #e9ebee;
}
body {
    overflow-y: scroll;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background: #fff;
    color: #1d2129;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
.header {
    background: #4267b2;
    height: 40px;
    position: relative;
    width: 100%;
}
.menu {
    width: 1020px;
    margin: auto;
    height: 40px;
}
.search {
    display: inline;
}
.header ul {
    display: inline;
    margin-left: 50px;
}
.header li:not(:last-of-type):after, .header a li:after {
    content: "";
    height: 20px;
    width: 1px;
    display: inline-block;
    background: #000000;
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
}
.header li {
    display: inline-block;
    height: 100%;
    line-height: 40px;
    color: #FFFFFF;
    font-weight: bold;
}
.header li a {
    color: inherit;
    text-decoration: inherit;
}
main {
    margin: auto;
    position: relative;
    right: 100px;
    width: 800px;
}
.profile {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.user {
    height: auto;
    color: #1d2129;
    margin-left: 22px;
    line-height: 16px;
    list-style-position: inside;
}
.intro, .friends {
    width: 100%;
    padding: 10px;
    border: 1px solid #C0C0C0;
}
.friends {
    display: inline;
    width: 90px;
    height: 90px;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
}
