.header {
  padding-top: 7px;
  height: 46px;
  display: flex;
}
.header__nav {
  margin-left: 11px;
  margin-top: -4px;
}
.header__account-menu {
  flex: 1;
}

.nav {
  align-content: flex-start;
}
.nav__group {
  margin-right: -18px;
  display: inline-flex;
  flex-direction: column;
  height: 39px;
}
.nav__group .nav__link {
  padding-right: 0;
}
.nav__link {
  font: 15px Bureausans, Arial, sans-serif;
  font-feature-settings: normal;
  font-feature-settings: "kern" 1;
  font-weight: 400;
  text-decoration: none;
  padding-right: 18px;
  color: black;
}
.nav__link:hover {
  color: var(--key-color);
}
.nav__link--in-group {
  flex: 1;
}
.nav__link--lower {
  color: var(--key-color);
  margin-top: 5px;
  flex: 1;
}

.account-menu {
  text-align: right;
}
.account-menu__user-image {
  margin-left: auto;
  align-self: center;
  width: 30px;
  height: 30px;
}
.account-menu__user-image:hover {
  fill: var(--key-color);
}

.top-banner__image {
  width: 100%;
}
.top-banner__figure {
  margin: 0;
}
.top-banner__caption {
  font: 15px Bureausans, Arial, sans-serif;
  font-feature-settings: normal;
  font-weight: 400;
  text-decoration: none;
  color: black;
  line-height: 20px;
}
.top-banner__caption--is-link {
  font-weight: 700;
}
.top-banner__caption--is-link:after {
  content: "\a";
  white-space: pre;
}
.top-banner__wrapper {
  width: 100%;
  display: block;
}

.main-content {
  margin: 50px 0;
}
.main-content__item {
  margin-top: 50px;
}

.daily-news__first-row {
  border-bottom: 1px solid var(--border-color);
}
.daily-news__figure {
  margin: 0;
}
.daily-news__daily-icon {
  margin: 0 57px;
  width: calc(100% - 114px);
}
.daily-news__title {
  margin: 5px 0;
  font-size: 24px;
  font-weight: 700;
}
.daily-news__title--big {
  font: 70px/72px "Bureauserif", Arial, sans-serif;
  color: var(--key-color);
}
.daily-news__description {
  margin: 5px 0;
  font-size: 24px;
}
.daily-news__link {
  line-height: 26px;
}
.daily-news__section {
  border-right: 1px solid var(--border-color);
  padding: 10px;
  min-height: 100%;
}
.daily-news__section--special-padding {
  padding: 0 31px 31px 0;
}
.daily-news__section--last {
  border-right: none;
}

.b-days-left {
  text-align: center;
  border: 1px solid var(--key-color);
  border-radius: 8px;
  color: var(--key-color);
  width: 104px;
  height: 118px;
}
.b-days-left__days {
  font-size: 70px;
  margin: 0;
}
.b-days-left__text {
  margin: 0;
  font-size: 16px;
}

.footer {
  line-height: 20px;
  width: calc(100% - 200px);
  padding-bottom: 50px;
}
.footer__text {
  margin: 0;
}
.footer__link {
  color: #000;
  text-decoration: none;
}
.footer__first-row {
  padding-bottom: 25px;
}

.language-selector {
  display: flex;
  font-size: 25px;
}
.language-selector__item {
  margin-top: -0.4em;
  color: var(--key-color);
  text-decoration: none;
}
.language-selector__item--active {
  color: #000;
}

.external-resources {
  display: flex;
}
.external-resources__item {
  margin-left: 5px;
  max-height: 100%;
}
.external-resources__img {
  width: 100%;
}

:root {
  --key-color: rgb(226, 0, 22);
  --blue-color: rgb(6, 85, 128);
  --link-underline: rgba(6, 85, 128, .1);
  --border-color: rgba(0, 0, 0, .07);
  --key-link-underline: rgba(226, 0, 22, .1);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Bureausans, Arial, sans-serif;
  font-feature-settings: "kern";
  font-kerning: auto;
  font-language-override: normal;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
}

.main-content--padding, .header--padding, .footer--padding {
  margin-left: 100px;
  margin-right: 100px;
}

.daily-news__link--custom-underline, .top-banner__caption--custom-underline, .footer__link--custom-underline, .language-selector__item--custom-underline {
  background-image: linear-gradient(180deg, var(--link-underline) 0, var(--link-underline));
  background-repeat: repeat-x;
  background-position: 0 90%;
  background-size: 1px 1px;
  text-decoration: none;
  padding-bottom: 5px;
  color: var(--blue-color);
}
.daily-news__link--custom-underline:hover, .top-banner__caption--custom-underline:hover, .footer__link--custom-underline:hover, .language-selector__item--custom-underline:hover {
  color: var(--key-color);
  background: linear-gradient(180deg, var(--key-color) 0, var(--key-color)) repeat-x 0 90%;
  background-size: 1px 1px;
}
.daily-news__link--custom-underline-red, .top-banner__caption--custom-underline-red, .footer__link--custom-underline-red, .language-selector__item--custom-underline-red {
  background: linear-gradient(180deg, var(--key-link-underline) 0, var(--key-link-underline)) repeat-x 0 90%;
  background-size: 1px 1px;
  color: var(--key-color);
}
.daily-news__link--custom-underline-black, .top-banner__caption--custom-underline-black, .footer__link--custom-underline-black, .language-selector__item--custom-underline-black {
  background: linear-gradient(180deg, #000 0, #000) repeat-x 0 90%;
  background-size: 1px 1px;
  color: #000;
}

/*# sourceMappingURL=common.css.map */
