@import "header/header";
@import "content/top-banner";
@import "main-content";
@import "daily-news/daily-news";

:root {
  --key-color: rgb(226, 0, 22);
  --blue-color: rgb(6, 85, 128);
  --link-underline: rgba(6, 85, 128, .1);
  --border-color: rgba(0, 0, 0, .07);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Bureausans, Arial, sans-serif;
  font-feature-settings: "kern";
  font-kerning: auto;
  font-language-override: normal;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
}

.main-content, .header {
  padding-left: 100px;
  padding-right: 100px;
}

.daily-news__link--custom-underline, .top-banner__caption--custom-underline {
  &:hover {
    color: var(--key-color);
    background: linear-gradient(180deg, var(--key-color) 0, var(--key-color)) repeat-x 0 90%;
    background-size: 1px 1px;
  }
  line-height: 26px;
  background-image: linear-gradient(180deg, var(--link-underline) 0, var(--link-underline));
  background-repeat: repeat-x;
  background-position: 0 90%;
  background-size: 1px 1px;
  text-decoration: none;
  padding-bottom: 5px;
  color: var(--blue-color);
}
