@import "__mixins";

.footer {
  line-height: 20px;
  padding-bottom: 50px;
  &__text {
    margin: 0;
  }
  &__link {
    @include text-underline();
    color: #000;
    text-decoration: none;
  }
  &__first-row {
    padding-bottom: 25px;
  }
  &__section {
    &--last {
      display: flex;
    }
  }
  &__external-resources {
    margin-right: 15px;
  }
}

@media (max-width: 840px) {
  .footer__section--last {
    margin: 20px;
  }
}
