<header class="hdr">
    <nav class="navigation-bar">
        <a href="#" class="navigation-bar__link">Home</a>
        <a href="#" class="navigation-bar__link">Home</a>
        <a href="#" class="navigation-bar__link">Home</a>
        <a href="#" class="navigation-bar__link">Home</a>
        <div class="navigation-bar__search">
            <input title="Search" type="search">
            <button>Search</button>
        </div>
    </nav>
</header>
<main>
    <article class="article">
        <h1>Computer says NO to HTML5 document outline</h1>
        <p>
            What a brilliant idea! For the longest time HTML5 specified, and
            advised developers, that it no longer mattered what the number (1 to 6)
            was in a heading element (when used in conjunction with sectioning
            elements). What mattered was the nesting level of the H1-h6 in
            sectioning elements, just like the X&leH&geTML promised land, but […]
        </p>
    </article>
</main>

<!--<main>-->
<!--<section class="sc">-->
<!--<article class="artcl">-->
<!--<header class="article_hdt">-->
<!--Computer says NO to HTML5 document outline-->
<!--</header>-->
<!--<p>-->
<!--What a brilliant idea! For the longest time HTML5 specified, and-->
<!--advised developers, that it no longer mattered what the number (1 to 6)-->
<!--was in a heading element (when used in conjunction with sectioning-->
<!--elements). What mattered was the nesting level of the H1-h6 in-->
<!--sectioning elements, just like the X&leH&geTML promised land, but […]-->
<!--</p>-->
<!--<a href>Read full post</a>-->
<!--</article>-->
<!--</section>-->

<!--<section class="sc">-->
<!--<h1><a href>HTML5 Element Index</a></h1>-->
<!--<table align="center" width="100%">-->
<!--<tbody>-->
<!--<tr>-->
<!--<th>Head</th>-->
<!--<th>Sections</th>-->
<!--<th>Grouping</th>-->
<!--<th>Tables</th>-->
<!--<th>Forms</th>-->
<!--<th>Forms 2</th>-->
<!--<th>Embedded</th>-->
<!--<th>Text-level</th>-->
<!--<th>Text-level 2</th>-->
<!--</tr>-->

<!--<tr align="center">-->
<!--<td><a href>doctype</a></td>-->
<!--<td><a href>body</a></td>-->
<!--<td><a href>p</a></td>-->
<!--<td><a href>table</a></td>-->
<!--<td><a href>form</a></td>-->
<!--<td><a href>keygen</a></td>-->
<!--<td><a href>img</a></td>-->
<!--<td><a href>a</a></td>-->
<!--<td><a href>time</a></td>-->
<!--</tr>-->

<!--<tr align="center">-->
<!--<td><a href>html</a></td>-->
<!--<td><a href>article</a></td>-->
<!--<td><a href>hr</a></td>-->
<!--<td><a href>caption</a></td>-->
<!--<td><a href>fieldset</a></td>-->
<!--<td><a href>output</a></td>-->
<!--<td><a href>iframe</a></td>-->
<!--<td><a href>em</a></td>-->
<!--<td><a href>code</a></td>-->
<!--</tr>-->

<!--<tr align="center">-->
<!--<td><a href>head</a></td>-->
<!--<td><a href>nav</a></td>-->
<!--<td><a href>pre</a></td>-->
<!--<td><a href>thead</a></td>-->
<!--<td><a href>legend</a></td>-->
<!--<td><a href>progress</a></td>-->
<!--<td><a href>embed</a></td>-->
<!--<td><a href>strong</a></td>-->
<!--<td><a href>kbd</a></td>-->
<!--</tr>-->

<!--<tr align="center">-->
<!--<td><a href>title</a></td>-->
<!--<td><a href>aside</a></td>-->
<!--<td><a href>blockquote</a></td>-->
<!--<td><a href>tbody</a></td>-->
<!--<td><a href>label</a></td>-->
<!--<td><a href>meter</a></td>-->
<!--<td><a href>object</a></td>-->
<!--<td><a href>i, b</a></td>-->
<!--<td><a href>samp</a></td>-->
<!--</tr>-->

<!--<tr align="center">-->
<!--<td><a href>base</a></td>-->
<!--<td><a href>section</a></td>-->
<!--<td><a href>ol</a></td>-->
<!--<td><a href>tfoot</a></td>-->
<!--<td><a href>input</a></td>-->
<!--<td> </td>-->
<!--<td><a href>param</a></td>-->
<!--<td><a href>u</a></td>-->
<!--<td><a href>var</a></td>-->
<!--</tr>-->

<!--<tr align="center">-->
<!--<td><a href>link</a></td>-->
<!--<td><a href>header</a></td>-->
<!--<td><a href>ul</a></td>-->
<!--<td><a href>tr</a></td>-->
<!--<td><a href>button</a></td>-->
<!--<td>Interactive</td>-->
<!--<td><a href>video</a></td>-->
<!--<td><a href>s</a></td>-->
<!--<td><a href>mark</a></td>-->
<!--</tr>-->

<!--<tr align="center">-->
<!--<td><a href>meta</a></td>-->
<!--<td><a href>footer</a></td>-->
<!--<td><a href>li</a></td>-->
<!--<td><a href>th</a></td>-->
<!--<td><a href>select</a></td>-->
<!--<td><a href>details</a></td>-->
<!--<td><a href>audio</a></td>-->
<!--<td><a href>small</a></td>-->
<!--<td><a href>bdi</a></td>-->
<!--</tr>-->

<!--<tr align="center">-->
<!--<td><a href>style</a></td>-->
<!--<td><a href>h1-h6</a></td>-->
<!--<td><a href>dl, dt, dd</a></td>-->
<!--<td><a href>td</a></td>-->
<!--<td><a href>datalist</a></td>-->
<!--<td><a href>summary</a></td>-->
<!--<td><a href>source</a></td>-->
<!--<td><a href>abbr</a></td>-->
<!--<td><a href>bdo</a></td>-->
<!--</tr>-->

<!--<tr align="center">-->
<!--<td><a href>script</a></td>-->
<!--<td><a href>main</a></td>-->
<!--<td><a href>figure</a></td>-->
<!--<td><a href>col</a></td>-->
<!--<td><a href>optgroup</a></td>-->
<!--<td><a href>command</a></td>-->
<!--<td><a href>canvas</a></td>-->
<!--<td><a href>q</a></td>-->
<!--<td><a href>ruby, rt, rp</a></td>-->
<!--</tr>-->

<!--<tr align="center">-->
<!--<td><a href>noscript</a></td>-->
<!--<td><a href>address</a></td>-->
<!--<td><a href>figcaption</a></td>-->
<!--<td><a href>colgrop</a></td>-->
<!--<td><a href>option</a></td>-->
<!--<td><a href>menu</a></td>-->
<!--<td><a href>track</a></td>-->
<!--<td><a href>cite</a></td>-->
<!--<td><a href>span</a></td>-->
<!--</tr>-->

<!--<tr align="center">-->
<!--<td> </td>-->
<!--<td> </td>-->
<!--<td><a href>div</a></td>-->
<!--<td> </td>-->
<!--<td><a href>textarea</a></td>-->
<!--<td>Edits</td>-->
<!--<td><a href>map</a></td>-->
<!--<td><a href>dfn</a></td>-->
<!--<td><a href>br</a></td>-->
<!--</tr>-->

<!--<tr align="center">-->
<!--<td> </td>-->
<!--<td> </td>-->
<!--<td> </td>-->
<!--<td> </td>-->
<!--<td> </td>-->
<!--<td><a href>del, ins</a></td>-->
<!--<td><a href>area</a></td>-->
<!--<td><a href>sub, sup</a></td>-->
<!--<td><a href>wbr</a></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</section>-->
<!--</main>-->
