.footer {
  line-height: 20px;
  width: calc(100% - 200px);
  padding-bottom: 50px;
  &__text {
    margin: 0;
  }
  &__link {
    color: #000;
    text-decoration: none;
  }
  &__first-row {
    padding-bottom: 25px;
  }
  &__section {
    &--last {
      display: flex;
    }
  }
  &__external-resources {
    margin-right: 15px;
  }
}

.language-selector {
  display: flex;
  font-size: 25px;
  width: 100px;
  justify-content: space-around;
  &__item {
    color: var(--key-color);
    text-decoration: none;
    &--active {
      color: #000;
    }
  }
}

.external-resources {
  flex: auto;
  display: flex;
  justify-content: flex-end;

  &__item {
    margin-left: 5px;
  }
}

.social-media-link {
  &__name {
    color: transparent;
    position: absolute;
  }
  &__img {
    display: block;
    max-height: 2.5em;
  }
  &__front {
    fill: rgb(255, 255, 255);
  }
  &__back {
    fill: rgb(0, 0, 0);
  }
}
