@import "../../colors.less";
@import "../../fonts.less";

.video-section__header{
    box-sizing: border-box;
    margin: 10px 0;
    margin-left: 5px;
    padding: 0;
    width: 100%;
    font-family: @youtube-font;
    color: @youtube-black;
    font-size: @youtube-small + 2px;
}