.bureau {
  &__header {
    padding: 7px 6% 7px 6%;
    max-width: 1519px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__posts {
    padding: 7px 6% 7px 6%;
    max-width: 1519px;
    margin: 0 auto;
  }
  &__footer {
    padding: 7px 6% 7px 6%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1519px;
    margin: 0 auto;
  }
}
