@font-face {
    font-family: Segoe-UI-Bold; /* Имя шрифта */
    src: url("SegoeUIBold/SegoeUIBold.ttf"); /* Путь к файлу со шрифтом */
}


@font-face {
    font-family: Segoe-UI-Regular;/* Имя шрифта */
    src: url("SegoeUIRegular/SegoeUIRegular.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Segoe-UI-Italic; /* Имя шрифта */
    src: url("SegoeUIItalic/SegoeUIItalic.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Segoe-UI-SemiBold; /* Имя шрифта */
    src: url("SegoeUISemiBold/SegoeUISemiBold.ttf"); /* Путь к файлу со шрифтом */
}