@import "../colors.less";

@video-nav-height: 45px;

.layout-video-nav{
    background-color: @youtube-white;
    border-bottom: 1px solid @youtube-light-gray;
    height: @video-nav-height;
}