:root {
    --container-16-width: 820px;
    --gutter-width: 5px;
    --basic-cell-width: calc(100%/16 - 2 * var(--gutter-width));
}

body{
    padding: 0;
    margin: 0;
}

.container_16{
    width: var(--container-16-width);
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    overflow: hidden;
}

@media (max-width: 830px) {
    .container_16{
        width: auto;
        margin: 0 5px;
    }
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16{
    float: left;
    margin: 0 var(--gutter-width);
    background-color: gold;
}

.grid_1{width: calc(var(--basic-cell-width) * 1 + 0 * 2 * var(--gutter-width));}
.grid_2{width: calc(var(--basic-cell-width) * 2 + 1 * 2 * var(--gutter-width));}
.grid_3{width: calc(var(--basic-cell-width) * 3 + 2 * 2 * var(--gutter-width));}
.grid_4{width: calc(var(--basic-cell-width) * 4 + 3 * 2 * var(--gutter-width));}
.grid_5{width: calc(var(--basic-cell-width) * 5 + 4 * 2 * var(--gutter-width));}
.grid_6{width: calc(var(--basic-cell-width) * 6 + 5 * 2 * var(--gutter-width));}
.grid_7{width: calc(var(--basic-cell-width) * 7 + 6 * 2 * var(--gutter-width));}
.grid_8{width: calc(var(--basic-cell-width) * 8 + 7 * 2 * var(--gutter-width));}
.grid_9{width: calc(var(--basic-cell-width) * 9 + 8 * 2 * var(--gutter-width));}
.grid_10{width: calc(var(--basic-cell-width) * 10 + 9 * 2 * var(--gutter-width));}
.grid_11{width: calc(var(--basic-cell-width) * 11 + 10 * 2 * var(--gutter-width));}
.grid_12{width: calc(var(--basic-cell-width) * 12 + 11 * 2 * var(--gutter-width));}
.grid_13{width: calc(var(--basic-cell-width) * 13 + 12 * 2 * var(--gutter-width));}
.grid_14{width: calc(var(--basic-cell-width) * 14 + 13 * 2 * var(--gutter-width));}
.grid_15{width: calc(var(--basic-cell-width) * 15 + 14 * 2 * var(--gutter-width));}
.grid_16{width: calc(var(--basic-cell-width) * 16 + 15 * 2 * var(--gutter-width));}