@import "../colors.less";

@header-height: 49px;

.layout-header{
    background-color: @youtube-white;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 1px solid @youtube-light-gray;
    height: @header-height;
    overflow: hidden;
}