.icon-text__icon{
    display: flex;
    align-items: center;
}

.icon-text__icon::before{
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../../../img/sprite.png");
    background-repeat: no-repeat;
    margin-right: 10px;
}
