<section class="main-header">
    <h1 class="main-header__logo"><a href="http://html5doctor.com" rel="home"><sub
            class="main-header__logo__description">{{ description }}</sub></a></h1>

    <nav class="main-header__right-navigation">
        <ul>
            <li><a href=""> About</a></li>
            <li><a href=""> RSS</a></li>
            <li><a href=""> Comments RSS</a></li>
            <li><a href=""> Doctor Network</a></li>
        </ul>
    </nav>

    <nav class="main-header__main-navigation">
        <ul>
            <li><a href=""> Home</a></li>
            <li><a href=""> Article Archive</a></li>
            <li><a href=""> Element Index </a></li>
            <li><a href=""> Resources </a></li>
        </ul>
        <form class="main-header__search-form" method="get" action="#">
            <input class="main-header__search-form_input" name="search-query" type="text" value="" placeholder=""/>
            <button class="main-header__search-form_button">Search</button>
        </form>
    </nav>

</section>
