@import "common";
@import "friends";
@import "header";
@import "intro";
@import "logo";
@import "navigation";
@import "profile";
@import "search";
@import "user";

$background_color_1: #fdfeff;

.intro {
	background-clip: border-box;
	background-color: $background_color_1;
	border: 1px solid rgba(0, 0, 0, .2);
	border-top: none;
	width: 270px;
	h4 {
		padding-top: 5px;
		padding-left: 5px;
		line-height: 20px;
		font-size: 15px;
	}
}
.friends {
	background-clip: border-box;
	background-color: $background_color_1;
	border: 1px solid rgba(0, 0, 0, .2);
	border-top: none;
	width: 270px;
	h4 {
		padding-top: 5px;
		padding-left: 5px;
		line-height: 20px;
		font-size: 15px;
	}
}
