.search {
	display: inline-block;
}
.search__query {
	display: inline-block;
	vertical-align: middle;
}
.search__submit {
	height: 27px;
	width: 27px;
	display: inline-block;
	vertical-align: middle;
}