.main-feed{
    width: 500px;
    margin-top: 50px;
    margin-right: 5px;
    vertical-align: top;
    display: inline-block;
    height: auto;
}

.make_post{
    background-color: white;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
}

.make_post__header{
    width: 100%;
    display: block;
    background-color: rgb(245, 246, 247);
}
.make-post__header-button{
    font-size: 12px;
    font-weight: 700;
    border: none;
    padding: 5px;
    color: rgb(54, 88, 153);
    background-color: inherit;
}

.make_post__input{
    width: 100%;
    color: rgb(29, 33, 41);
    border: none;
    border-bottom: 1px solid rgb(245, 246, 247);
    border-top: 1px solid rgb(245, 246, 247);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    min-height: 71px;
    max-height: 100px;
    box-sizing: border-box;
    padding: 23px 12px 0 48px;
}

.make-post__footer-button{
    width: 117px;
    height: 32px;
    border: none;
    background-color: rgb(245, 246, 247);
    border-radius: 20px;
    color: rgb(29, 33, 41);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    margin: 5px 6px 5px 6px;
    padding: 5px;
    display: inline-block;
}

.make-post__footer-button:hover{
    background-color: #ecf0f1;
}

