.right-side-block{
    width: 305px;
    display: flex;
    flex-direction: column;
}

.right-side-block__story{
    padding: 10px;
    display: inherit;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    box-sizing: border-box;
}

right-side-block__story-header{
    display: inherit;
    flex-direction: row;
}


.right-side-block__story-name{
    text-decoration: none;
    color: #4b4f56;
    font-size: 13px;
    font-weight: 600;
}

.story{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.right-side-block__story-navigation{
    text-decoration: none;
    color: #4267b2;
    font-size: 13px;

}

.right-side-block__event{
    text-decoration: none;
    color: rgb(54, 88, 153);
    background-color: white;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    padding: 5px;
    font-size: 13px;
    font-weight: 600;
}


.right-side-block__pages{
    display: inherit;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    padding: 15px;
}

.right-side-block__pages-head{
    display: inherit;
    flex-direction: row;

}

.like-button{
    display: inherit;
    align-self: center;
    width: 100%;
    height: 38px;
    border: none;
    background: transparent;
    color: #4b4f56;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

.right-side-block__pages-to-like-photo{
    height: 157px;
    overflow: hidden;

}

.right-side-block__language-selection{
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;

}



.right-side-block__footer{
    padding: 15px;
    color: rgb(144, 148, 156);
    font-size: 13px;
    font-weight: 400;
}

.right-side-block__user-avatar{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
}

.right-side-block__user-name{
    text-decoration: none;
    color: #365899;
    font-size: 13px;
    font-weight: 600;
}

.right-side-block__help-text{
    font-size: 13px;
    font-weight: 400;
    color: rgb(141, 148, 158);
}

.pages__button{
    border: 1px;
    width: 78px;
    text-overflow: ellipsis;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(204, 208, 213);,
    font-size: 12px;
    font-weight: 600;
    height: 32px;

}