.header {
  height: 43px;
  background-color: #4267b2;
  display: flex;
  padding-right: 205px;
  justify-content: center;

  &__nav {
    display: flex;
    justify-content: center;
    padding: 8.5px 0;
    width: 1012px;
    margin: 0 auto;
  }

  &__nav-logo {
    display: block;
    width: 26px;
    height: 26px;
    margin-right: 5px;
    background-size: auto;
    background: url(../images/icons.png) no-repeat 0 -441px;
  }

  &__nav-right {
    display: flex;
    margin-left: auto;
    align-items: center;
    height: 28px;
    margin-top: -1px;
  }

  &__nav-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0 10px 1px 10px;
    height: 100%;
    vertical-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;

    &:focus {
      outline: none;
    }

    &--link {

      &:hover {
        border-radius: 2px;
        background-color: #3b5da0;
      }
    }

    &--icon {
      background: url(../images/icons.png) no-repeat;
      height: 100%;
      width: 27px;
      padding: 0 3px 1px 3px;
      opacity: .6;
      margin: 0 3px;

      &-friends {
        background-position: 0 -467px;
      }

      &-messages {
        background-position: 0 -717px;
      }

      &-notifications {
        background-position: 0 -617px;
      }

      &-help {
        width: 20px;
        height: 20px;
        background-position: 0 -1153px;
        margin-bottom: 2px;
        margin-right: 9px;
        margin-left: 8px;
      }

      &-arrow {
        width: 16px;
        height: 16px;
        background-position: 0 -1263px;
      }
    }
  }

  &__nav-horiz-line {
    height: 18px;
    width: 0;
    border-right: 1px solid #42677f;
    margin: 0 5px;
  }
}