html,
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ecf0f1;
}

a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
}

.main_header {
    background: #4267b2;
    overflow: hidden;
    height: 40px;
    border-bottom: 1px solid #29487d;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.main_navigation {
    width: 1020px;
    margin: auto;
    height: 42px;
}

#facebook_logo {
    margin: 0 5px 0 0;
    vertical-align: middle;
    line-height: 40px;
    height: 24px;
    width: 24px;
    overflow: hidden;

    color: transparent;
    display: inline-block;

    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
    background-size: cover;
}

.search {
    display: inline;
    line-height: 40px;
}

.main_header ul {
    display: inline;
    margin-left: 50px;
}

.main_header li:not(:last-of-type):after, .main_header a li:after{
    content: "";
    height: 20px;
    width: 1px;
    display: inline-block;
    background: rgba(0, 0, 0, .3);
    position: relative;
    bottom: -6px;
    margin-left: 10px;
    margin-right: 7px;
    opacity: 0.45;
}

.main_header li {
    display: inline-block;
    height: 100%;
    font-size: 12px;
    line-height: 40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.main_header li a {
    color: inherit;
    text-decoration: inherit;
}

.main_header .nav_links > a, .nav_details{
    width: 24px;
    height: 24px;
    padding: 0;
    position: relative;
    bottom: 2px;
    margin: 0px 3px 0px 3px;
    display: inline-block;
    color: transparent;
    overflow: hidden;
    vertical-align: middle;
    line-height: 40px;
    background-size: 20px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/tjBuxcd0g0m.png") no-repeat;
}
.nav_links a:nth-child(1){
    background-position: 0 -892px;
}
.nav_links a:nth-child(2){
    background-position: 0 -942px;
}
.nav_links a:nth-child(3){
    background-position: 0 -792px;
}
.nav_links:nth-of-type(4) a:nth-child(1){
    background-position: 0 -992px;
}
.nav_details{
    border: none;
    cursor: pointer;
    background-position: 0 -842px;
}
.main_header a:first-of-type li:before{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-1/c0.8.48.48/p48x48/37627900_512381525863754_8817565621010038784_n.jpg?_nc_cat=106&oh=20025ee5c3b7a1524a4a759e2c0948ca&oe=5C20FD90");
    content: "";
    vertical-align: middle;
    border-radius: 50%;
    margin: 0px 5px 0px 5px;
    background-size: 24px;
    position: relative;
    bottom: 2px;
}

.search_field {
    width: 400px;
    border-radius: 3px 0 0 3px;
    font-size: 14px;
    padding: 5px;
    height: 24px;
    border: none;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    bottom: 1px;
}

.search_button {
    cursor: pointer;
    background: rgb(245, 246, 247);
    border: none;
    height: 24px;
    left: -5px;
    width: 45px;
    overflow: hidden;
    color: transparent;
    position: relative;
    border-radius: 0 3px 3px 0;
    bottom: 1px;
}

.search_button:before {
    content: "";
    height: 16px;
    width: 15px;
    position: absolute;
    background: black;
    left: 13px;
    top: 5px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/1c0gE0MbEo8.png");
    background-size: 24px;
    background-position: 3px 26px;
    border-radius: 0 3px 3px 0;
}

main{
    margin: auto;
    position: relative;
    right: 100px;
    height: auto;
    width: 800px;
    top: 40px;
}

.profile_head{
    position: relative;
    height: 350px;
}

.profile_pics{
    width: 100%;
    height: 300px;
    background-size: 800px;
    background: url("https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-9/16508526_266562803778962_1067352203649393569_n.jpg?_nc_cat=101&oh=be3674f76dea09034260248275a40efe&oe=5C5C48BF") no-repeat 0 -100px;
    background-size: 805px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px;
}

.profile_picture{
    cursor: pointer;
    width: 160px;
    height: 160px;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 30px;
    border-radius: 2px;
    border: 4px solid #fff;
    box-shadow: 0 0 2px rgb(37, 37, 37);
}
.change_pr_pic{
    opacity: 0.8;
    cursor: pointer;
    height: 25px;
    width: 30px;
    color: transparent;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/bp6xPm7kKtG.png") no-repeat 0 -310px;
    background-size: 50px;
    border: none;
    position: absolute;
    left: 30px;
    top: 30px;
}
.change_pr_pic:hover{
    opacity: 1;
}

.full_name{
    position: absolute;
    bottom: 60px;
    left: 224px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
}

aside{
    height: 100%;
    width: 190px;
    background: #e9ebee;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, .2);
    float: right;
    right: 0;
    top: 41px;
    padding-left: 10px;
    position: fixed;
}
aside h5{
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 0px;
}
.friends_list{
    padding: 0;
    line-height: 20px;
    list-style-type: none;
    color: #333;
    font-size: 12px;
}
.friends_list li{
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
}
.friends_list li:before{
    content: "";
    width: 30px;
    height: 30px;
    background: url("https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-1/p320x320/37013174_2034295666886553_1601782394908573696_n.jpg?_nc_cat=110&oh=70163461dad0bd167e4783a2fb672ff5&oe=5C5BC25F") no-repeat;
    background-size: 30px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.profile_navigation{
    height: 40px;
    background-color: #fff;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, .2);
    border-top: none;
}
.profile_navigation li{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 100%;
    margin-right: 5px;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, .1);
}
.profile_navigation li:last-of-type{
    border-right: 1px solid rgba(0, 0, 0, .1);
    margin: 0;
    padding-right: 9px;
}
.profile_buttons{
    cursor: pointer;
    border: none;
    background: none;
    color: #365899;
    font-weight: 700;
    font-size: 14px;
    line-height: 2.9;
}
.friends_quantity{
    font-weight: 300;
    color: #89919c;
    font-size: 11px;
}
.profile_navigation li:first-child{
    margin-left: 224px;
}
.timeline_button{
    width: 13px;
    height: 7px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/ePg4w5ETN9X.png") no-repeat -13px -427px;
    background-size: 25px 482px;
    display: inline-block;
    position: relative;
    left: 5px;
}
.archieve_button{
    width: 12px;
    height: 12px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yg/r/roQL48pZyCo.png") no-repeat 0 -781px;
    background-size: 41px 807px;
    display: inline-block;
}
.profile_info, .profile_feed{
    display: inline-block;
    width: 270px;
    height: auto;
    margin: 7px 0 0;
    vertical-align: top;
}
.profile_feed{
    width: 300px;
    position: relative;
    left: 40px;
}
.intro, .photos{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    padding: 15px;
}
.photos{
    margin-top: 12px;
}
.intro h3, .photos h3{
    margin: 0;
    line-height: 20px;
    font-size: 16px;
    color: #1c1e21;
}
.intro h3:before, .photos h3:before{
    content: "";
    width: 24px;
    height: 24px;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/ym/r/bfbnz6JNu80.png") no-repeat 0 -87px;
    margin-right: 8px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    bottom: 2px;
}
.photos h3:before{
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/palWVhMO67o.png") -175px -245px;
}
.user_info{
    padding: 0;
    margin-left: 22px;
    margin-bottom: 0;
    line-height: 16px;
    font-size: 12px;
    color: #1d2129;
    list-style-position: inside;
}
.user_info li{
    margin-bottom: 5px;
    margin-left: 5px;
    text-indent: -26px;
}
.user_info li:last-of-type{
    margin-bottom: 0;
}
.user_info li:before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/ym/r/bfbnz6JNu80.png") no-repeat;
    margin-right: 10px;
}
.user_info li:nth-child(1):before{
    background-position: -1px -269px;
}
.user_info li:nth-child(2):before{
    background-position: -68px -269px;
    position: relative;
    bottom: 1px;
}
.gallery{
    margin-top: 10px;
    text-align: center;
    width: auto;
}
.gallery div{
    cursor: pointer;
    display: inline-block;
    width: 85px;
    height: 85px;
}
.gallery div:nth-child(2n){
    background: url("https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-0/q84/s160x160/31250437_2037951779795683_5190519405154402304_n.jpg?_nc_cat=102&oh=63f903f2eaea522cdd81c0409456b1b3&oe=5C50913E");
}
.gallery div:nth-child(2n+1){
    background: url("https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-0/p118x118/36063811_10214003050164376_2595109271347658752_n.jpg?_nc_cat=100&oh=ce5837b7e9e8284057a2dde324b02e04&oe=5C4CCC79");
}
.create_post{
    height: auto;
    width: 487px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2)
}

.post_options{
    padding: 8px 8px 8px 0;
    display: flex;
    font-size: 12px;
    background: #f5f6f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.post_option{
    cursor: pointer;
    font-weight: 600;
    line-height: 15px;
    padding: 0 10px;
    color: #4b4f56;
    position: relative;
    top: 2px;
}
.post_option:before{
    margin-right: 4px;
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yw/r/RcLlSjOkA5H.png") no-repeat;
}
.post_option:not(:last-child):after{
    content: "";
    height: 20px;
    margin-left: 10px;
    position: relative;
    bottom: 1px;
    width: 1px;
    display: inline-block;
    vertical-align: middle;
    background: rgba(0,0,0,0.2);
}


.post_option:nth-child(1):before{
    background-position: -17px -349px;
}

.post_option:nth-child(2):before{
    background-position: -34px -349px;
}

.post_option:nth-child(3):before{
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/A_wTlD3H0Ah.png") 0 -2717px;
}

.post_option{
    padding-left: 7px;
}
.form_img{
    display: inline-block;
    vertical-align: middle;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background: url("https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-1/c0.27.160.160/p160x160/37627900_512381525863754_8817565621010038784_n.jpg?_nc_cat=106&oh=b9d389ee44ce01b0e8ba0d4a917214a0&oe=5C21AAA9") no-repeat;
    background-size: 36px;
}
.form_input{
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    height: auto;
    border: 0;
    font-size: 14px;
    color: #5f6274;
}
.form_options{
    display: flex;
    margin: 0 12px;
    padding: 8px 0;
    border-top: 1px solid #e9ebee;
}

.form_option_button{
    margin-right: 6px;
    padding: .5em .75em .5em 1em;
    vertical-align: middle;
    background: #f5f6f7;
    border-radius: 18px;
    box-shadow: none;
    border: none;
    color: #4b4f56;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.option_button_text{
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 1px;
}

.option_button_text:before{
    content: "";
    position: relative;
    bottom: 1px;
    margin-right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/A_wTlD3H0Ah.png");
}

.form_option_button:nth-child(1) .option_button_text:before{
    background-position: 0 -1451px;
}

.form_option_button:nth-child(2) .option_button_text:before{
    background-position: 0 -905px;
}

.form_option_button:nth-child(3) .option_button_text:before{
    background-position: 0 -800px;
}

.form_option_button:nth-child(4) .option_button_text:before{
    background-position: 0 -2207px;
}