.article {
    clear: both;
    padding: 40px;
    overflow: hidden;
    position: relative;
    &__caption {
        width: 470px;
        height: 290px;
        box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
        background: url("../assets/common/decoration__corners.svg") no-repeat center white;
        background-size: 93% 89%;
        position: absolute;
        z-index: 1;
        &--even {
            top: 110px;
        }
        &--odd {
            top: 110px;
            right: 16%;
        }
    }
    &__heading {
        margin: 0;
        padding: 25px 0 0 40px;
    }
    &__reading {
        padding: 10px 40px;
        display: block;
    }
    &__picture {
        border-radius: 5px;
        width: 570px;
        &--even {
            float: right;
        }
        &--odd {
            float: left;
        }

    }
}