body {
    margin: 0;
    padding: 0;
    background-color: #444;
}

p {
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
}

.payload {
    padding: 0 16%;
}