.header {
    width: 100%;
    height: 700px;
    background:
    url('../assets/decoration__header-frame.svg') no-repeat,
    url('../assets/cuba/cuba-header02.jpg') no-repeat;
    background-size: 100% 700px, cover;
    text-align: center;
}
