.navigation {
    padding: 0 16%;
    height: 63px;
    border-bottom: solid #d0d4d8 1px;
    display: flex;
    justify-content: center;
    &__anchor {
        font-family: var(--sans);
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 63px;
        text-decoration: none;
        white-space: nowrap;
        color: #909090;
        padding: 0 10px;
        box-sizing: border-box;
        &--active {
            border-bottom: solid #ecb84c 4px;
            color: var(--gunmetal);
        }
    }

}