.reading {
    display: inline;
    font-family: var(--sans);
    color: var(--reading);
    line-height: 1.75rem;
}

.collapsible__content--hidden {
    display: none;
}


.collapsible__listener {
    .reading ();
    display: inline;
    color: #ecb84c;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    left: .1rem;
    bottom: .03rem;
}