:root {
    --serif: 'Playfair Display', serif;
    --sans: 'Open Sans', sans-serif;
}

.header__quotation {
    margin: 0;
    color: white;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    padding-top: 158px;
}

.heading1 {
    margin: 0;
    color: white;
    font-family: var(--serif);
    font-size: 12.5rem;
    font-weight: 900;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    padding-top: 220px;
}

.heading2 {
    color: var(--gunmetal);
    font-family: var(--serif);
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 60px 0 30px;
}

.heading3 {
    color: var(--gunmetal);
    font-family: var(--serif);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;

}




