.main_chat_header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 45px;
  width: available;
  box-shadow: 0 2px 4px 0 rgba(43, 45, 73, 0.24);
  background-color: #585886;
}

.main_chat_user_name{

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
}

.main_chat_actions{
  height: inherit;
  display: flex;
  position: absolute;
  right: 0;
}

.main_chat_actions_icon{
  height: 20px;
  width: 20px;
}

.main_chat_actions_icon_container{
  padding: 10px;
}
.main_chat_actions_icon_container:hover{
  background-color: #393958;
}