.currencies {
    display: inline-grid;
}

.singe-currency {
    display: inline-grid;
}

.add-currency {
    display: block;
}

svg {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

path.domain {
    stroke: none;
}

.y .tick line {
    stroke: #ddd;
}

