.Rectangle-3 {

    width: 800px;

    height: 30px;

    background-image: linear-gradient(to bottom, #29294a, #20203e);

}

.bg {

    width: 271px;

    height: 570px;

    box-shadow: 0 2px 4px 0 rgba(43, 43, 71, 0.19);

    background-image: linear-gradient(to bottom, #3f3f5f, #383857);

}

.Mask-Copy-3 {
    width: 271px;
    height: 45px;
    box-shadow: 0 2px 4px 0 rgba(43, 43, 71, 0.19);
    background-color: #2e2e4f;

}

.Rectangle-6-Copy {
    width: 533px;
    height: 45px;
    opacity: 0.97;
    box-shadow: 0 2px 4px 0 rgba(43, 45, 73, 0.24);
    background-color: #585886;

}

.Oval {
    width: 9.4px;
    height: 9.4px;
    border: solid 0.5px rgba(125, 124, 125, 0.29);
    background-color: #ed6c5e;

}

.Oval-Copy-2 {
    width: 9.4px;
    height: 9.4px;
    border: solid 0.5px rgba(125, 124, 125, 0.29);
    background-color: #63c756;

}

.Oval-Copy {
    width: 9.4px;
    height: 9.4px;
    border: solid 0.5px rgba(125, 124, 125, 0.29);
    background-color: #f6c150;

}

.Rectangle-2 {

    width: 800px;

    height: 570px;

    border-radius: 4px;

    background-color: #dcddf5;

}