.moviebox-footer{
  background-color: #ffffff;
  color: #494c62;
  max-width: 1903px;
  height: 350px;
  margin: auto;

  &__nav{
    margin: 0 40px;
    padding:  40px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #dfdfdf;

    &-list{
      width: 300px;

      a{
        color: #494c62;
      }

      .item:hover{
        cursor: pointer;
        a{
          color: #ff0079;
        }
      }
    }
  }

  .text{
    margin-left: 40px;
  }

  &-social{
    margin-right: 40px;
    width: 100px;

    a{
      color: #494c62;
    }

    .item:hover{
      cursor: pointer;
      a{
        color: #ff0079;
      }
    }
  }
}