.moviebox-content{

  &__navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-bottom: 2px solid #dfdfdf;

    a{
      font-size: 20px;
      color: #80818a;
    }

    &-main{

      margin-bottom: 0;

      .main-item{
        padding: 25px 0;
        text-align: center;
        width: 150px;
      }

      .main-item:hover{
        border-bottom: 2px solid #ff0079;
        padding-bottom: 23px;
        cursor: pointer;

        a{
          color: #ff0079;
        }
      }
    }

    &-view{

      margin-bottom: 0;

      .view-item{
        padding: 25px 0;
        text-align: center;
        width: 100px;
      }

      .view-item:hover {
        border-bottom: 2px solid #ff0079;
        padding-bottom: 23px;
        cursor: pointer;

        a {
          color: #ff0079;
        }
      }
    }
  }

  .moviebox-content__films{
    margin: 0 auto;
  }

  &__film{
    height: 500px;
    max-width: 350px;
    background-color: #ffffff;

    a{
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .film-poster{
      height: 400px;
      width: 350px;
      background: no-repeat center;
      background-size: cover;
    }

    .film-year{
      position: absolute;
      color: #babbc3;
      margin: 15px;
      font-size: 20px;
      left: 0;
    }

    .film-description{
      height: 100px;
      display: flex;
      justify-content: space-between;
      margin: 0 20px;
      align-items: center;

      .film-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__name{
          color: #494c62;
          font-size: 22px;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 220px;
          white-space: nowrap;
        }

        &__genres{
          font-size: 16px;
          color: #80818a;
          opacity: 0.5;
        }
      }

      .film-rating{
        height: 25px;
        margin: auto 0;
        font-size: 22px;
        color: #ff0079;
        border: 1px solid #ff0079;
        padding: 5px;
      }
    }
  }
}